{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>Category Master</b></h3>
              </div>
              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                </div>
             </div>
            </div>
              <div class="">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_content">
                    <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">

                      <li class="nav-item">
                        <a class="nav-link {{ role }}" id="role-tab" data-toggle="tab" href="{% url 'role_list' %}"  role="tab" aria-controls="profile" aria-selected="false">ROLES</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link {{ level }}" id="level-tab" data-toggle="tab" href="#level" role="tab" aria-controls="contact" aria-selected="false">LEVELS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {{ city }}" id="city-tab" data-toggle="tab" href="#city" role="tab" aria-controls="city" aria-selected="false">CITY</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {{ state }}" id="state-tab" data-toggle="tab" href="#state" role="tab" aria-controls="state" aria-selected="false">STATE</a>
                      </li>
                       <li class="nav-item">
                          <a class="nav-link {{ gst }}" id="gst-tab" data-toggle="tab" href="#gst" role="tab" aria-controls="gst" aria-selected="false">GST</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link {{ category }}" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="gst" aria-selected="false">CATEGORY</a>
                      </li>
                       <li class="nav-item">
                          <a class="nav-link {{ uom }}" id="uom-tab" data-toggle="tab" href="#uom" role="tab" aria-controls="uom" aria-selected="false">CASE</a>
                      </li>
                         <li class="nav-item">
                          <a class="nav-link {{ storetype }}" id="storetype-tab" data-toggle="tab" href="#type" role="tab" aria-controls="uom" aria-selected="false">STORE TYPE</a>
                      </li>
                    </ul>
                       <div class="tab-content" id="myTabContent">
                           <div class="tab-pane fade show {{ role }}" id="role" role="tabpanel" aria-labelledby="role-tab">
                              <form class="form-label-left input_mask"  method="POST" action=" "  enctype="multipart/form-data">
										{% csrf_token %}
                                <div class="col-md-3 col-sm-3  form-group has-feedback">
                                    <label>Add Role</label>
                                    <input type="text" class="form-control" placeholder=" role name" name="role">
                                 </div>

											<div class="col-md-3 col-sm-3 form-group has-feedback">
												<button type="submit" style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                              </form>
                            </div>
                           <div class="tab-pane fade show {{ level }}" id="level" role="tabpanel" aria-labelledby="level-tab">
                                <form class="form-label-left input_mask"  method="POST" action="level"   enctype="multipart/form-data">
										{% csrf_token %}
                                <div class="col-md-3 col-sm-3  form-group has-feedback">
                                    <label>Add Level</label>
                                        <input type="text" class="form-control"  placeholder="Level name" name="level">
                                </div>

											<div class="col-md-3 col-sm-3  form-group has-feedback">
												<button type="submit" style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                            </form>
                            </div>
                            <div class="tab-pane fade show {{ city }}" id="city" role="tabpanel" aria-labelledby="city-tab">
                                <form class="form-label-left input_mask"  method="POST" action="city"   enctype="multipart/form-data">
										{% csrf_token %}
                                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                                        <label>Add City</label>
                                        <input type="text" class="form-control" placeholder="city name" name="city">
                                     </div>
											<div class="col-md-3 col-sm-3 form-group has-feedback">
												<button type="submit" style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                            </form>
                            </div>
                            <div class="tab-pane fade show {{ state }}" id="state" role="tabpanel" aria-labelledby="state-tab">
                                  <form class="form-label-left input_mask"  method="POST" action="state"   enctype="multipart/form-data">
										{% csrf_token %}
                                <div class="col-md-3 col-sm-3  form-group has-feedback">
                                        <label>Add State</label>
                                            <input type="text" class="form-control" placeholder="state name" name="state">
                                 </div>


											<div class="col-md-3 col-sm-3 form-group has-feedback">
												<button type="submit" style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                            </form>
                            </div>
                            <div class="tab-pane fade show {{ gst }}" id="gst" role="tabpanel" aria-labelledby="gst-tab">
                             <form class="form-label-left input_mask"  method="POST" action="gst"   enctype="multipart/form-data">
										{% csrf_token %}
                             <div class="col-md-4 col-sm-4  form-group has-feedback">
                                 <label>Add GST</label>
                                    <input type="text" class="form-control" placeholder="GST name" name="gst">
                             </div>



											<div class="col-md-6 col-sm-6  form-group has-feedback">
												<button type="submit" style="margin-top: 25px;"  class="btn btn-primary">Save</button>
											</div>

                            </form>
                            </div>
                            <div class="tab-pane fade show {{ category }}" id="category" role="tabpanel" aria-labelledby="category-tab">
                                  <form class="form-label-left input_mask"  method="POST" action="category"   enctype="multipart/form-data">
										{% csrf_token %}
                                 <div class="col-md-4 col-sm-4  form-group has-feedback">
                                    <label>Add Category</label>
                                        <input type="text" class="form-control" placeholder="category name" name="category">
                                 </div>


											<div class="col-md-3 col-sm-3  form-group has-feedback">
												<button type="submit"  style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                            </form>
                                </form>
                            </div>
                               <div class="tab-pane fade show {{ uom }}" id="uom" role="tabpanel" aria-labelledby="uom-tab">
                                      <form class="form-label-left input_mask"  method="POST" action="uom"   enctype="multipart/form-data">
										{% csrf_token %}
                                        <div class="col-md-4 col-sm-4  form-group has-feedback">
                                            <label>Add Case</label>
                                             <input type="text" class="form-control" placeholder="enter case" name="uom">
                                        </div>


											<div class="col-md-6 col-sm-6  form-group has-feedback">
												<button type="submit" style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                                    </form>
                               </div>
                            <div class="tab-pane fade show {{ storetype }}" id="type" role="tabpanel" aria-labelledby="storetype-tab">
                                      <form class="form-label-left input_mask"  method="POST" action="storetype"   enctype="multipart/form-data">
										{% csrf_token %}
                                        <div class="col-md-4 col-sm-4  form-group has-feedback">
                                            <label>Add Store Type</label>
                                             <input type="text" class="form-control" placeholder="store type" name="stotetype">
                                        </div>
											<div class="col-md-3 col-sm-3 form-group has-feedback">
												<button type="submit" style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

                                    </form>
                               </div>

                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
</div>
</div>



          </div>
</div>
<div class="inner-fabs">
                                 <!--<div class="fab bg-green white round" id="fab3"><a href="des_list"><i class="fa fa-outdent" style="color:#fff;"></i></a> <span class="tooltiptext" style="margin-left: -142px !important;">Price List</span></div>-->
                                 <div class="fab bg-blue round" id="fab2"><a href="role_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">Role List</span></div>
                                 <div class="fab bg-orange round" id="fab4"><a href="level_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" >Level List</span></div>
                                 <div class="fab bg-blue-sky round" id="fab5"><a href="city_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">City List</span></div>
                                 <div class="fab bg-purple round" id="fab6"><a href="state_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">State List</span></div>
                                 <div class="fab bg-green round" id="fab7"><a href="gst_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">GST List</span></div>
                                 <div class="fab bg-orange round" id="fab8"><a href="category_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" style="margin-left: -155px !important;">Category List</span></div>
                                 <div class="fab bg-blue round" id="fab9"><a href="uom_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">CASE List</span></div>
                                 <div class="fab bg-red round" id="fab10"><a href="storetype_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" style="margin-left: -155px !important;">Store type list</span></div>
                          </div>
                                <div class="fab round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                        </div>
</div>
<script>
$('#role-tab').click(function(){
      $('#myForm').attr('action', '{% url "des_list" %}'); // set the new action URL
// submit the form
    });
</script>
  {% endblock %}