{% extends 'base.html' %}

{% block htmlbody %}

<style xmlns="http://www.w3.org/1999/html">
	.style{
	position: absolute !important;
	width: 100% !important;
	}
</style>
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">

                <h3 style="color:#1372ba">Store Type List</h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="storetype"><button type="submit" class="btn btn-primary">Add Store Type</button></a>

                </div>
            </div>
              </div>
            <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>

                                    <th>S No</th>
                                    <th>Store Type</th>
                                    <th>Status</th>
                        </tr>
                      </thead>
                               <tbody>
                            {% for data in all_data %}
                                <tr>
                                <td>{{ forloop.counter }}</td>
                                <td> {{ data.displayname }} </td>
                               <td>
                                      {% if data.status == "Active" %}

                                         <a  href="#" onclick="editStoretype('{{  data.ddcode }}')"><i class="fa fa-edit"></i></a>

                                          <a href="#" onclick="VerifyClick('{{ data.sno }}','Inactive')"><span class="badge badge-success" data-toggle="modal" data-target="#des-status1">
                                          Active</span></a>
                                     {% else %}

                                        <a href="#" onclick="VerifyClick1('{{ data.sno }}','Active')" ><span class="badge badge-danger" data-toggle="modal" data-target="#des-status">
                                          Inactive</span></a>
                                     {% endif %}
                               </td>
                                </tr>
                            {% endfor %}

                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
                          <div class="inner-fabs">
                             <!--<div class="fab bg-green white round" id="fab3"><a href="des_list"><i class="fa fa-outdent" style="color:#fff;"></i></a> <span class="tooltiptext" style="margin-left: -142px !important;">Price List</span></div>-->
                                 <div class="fab bg-blue round" id="fab2"><a href="role_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">Role List</span></div>
                                 <div class="fab bg-orange round" id="fab4"><a href="level_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" >Level List</span></div>
                                 <div class="fab bg-blue-sky round" id="fab5"><a href="city_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">City List</span></div>
                                 <div class="fab bg-purple round" id="fab6"><a href="state_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">State List</span></div>
                                 <div class="fab bg-green round" id="fab7"><a href="gst_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">GST List</span></div>
                                 <div class="fab bg-orange round" id="fab8"><a href="category_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" style="margin-left: -155px !important;">Category List</span></div>
                                 <div class="fab bg-blue round" id="fab9"><a href="uom_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext">CASE List</span></div>
                                 <div class="fab bg-red round" id="fab10"><a href="storetype_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" style="margin-left: -185px !important;">STORE TYPE List</span></div>
                          </div>
                                <div class="fab round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                        </div>
              </div>

<div class="modal custom-modal fade" id="des-status1" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								  <form method="post" action="store_status_inactive">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Status Update</h3>
									<p>Are you sure want to Inactive?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="id" name="id"  />
                                          <input type="hidden" id="status" name="status"    />
									<div class="row">
										<div class="col-6">
											<button class="btn btn-primary submit-btn">Yes</button>
										</div>
										<div class="col-6">
											<button  data-dismiss="modal" class="btn btn-danger submit-btn">NO</button>
										</div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>
<div class="modal custom-modal fade" id="des-status" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
                                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								  <form method="post" action="store_status_inactive">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Status Update</h3>
									<p>Are you sure want to Active?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="id1" name="id"  />
                                           <input type="hidden"  name="status" value ="Active"  />
									<div class="row">
										<div class="col-6">
											<button class="btn btn-primary submit-btn">Yes</button>
										</div>
										<div class="col-6">
											<button  data-dismiss="modal" class="btn btn-danger submit-btn">NO</button>
										</div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>
<div class="modal custom-modal fade" id="storetype_edit" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                            <div class="modal-content style">

                                        <div class="modal-body">
                                            <form method="post" action="/edit_storetype">
                                                {% csrf_token %}
                                             <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                            </button>
                                            <h3  style="text-align:center;">Edit Store Type</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                                <p></p>
                                                <input type="hidden" id="txtHdnId" name="txtHdnId" />
                                                <input type="hidden" id="txtHdnId2" name="txtHdnId2" />

                                                 <div class="col-md-12 col-sm-12  form-group has-feedback">
										            <input type="text" class="form-control" name="storetypename" id="storetypename">
                                                       <p></p>
                                            </div>

                                            <p></p>
                                           <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <a href="add_grn_inventory"><button type="submit" class="btn btn-primary">UPDATE</button></a>

                                            </div>
                                        </div>
                                        </form>

                                        </div>
                                    </div>
                                </div>
<script>

 function VerifyClick(id,status){
$("#id").val(id);
$("#status").val(status);
}
function VerifyClick1(id,status1){
$("#id1").val(id);
$("#status1").val(status1);
}
function editStoretype(id){
      $.ajax({
        url: "{% url 'get_storetype' %}",
        type: 'POST',
        data: {
          'id': id,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data
             if(obj){
             $("#txtHdnId").val(obj.ddcode);
             $("#storetypename").val(obj.displayname);
             $("#txtHdnId2").val(obj.sno);
             $('#storetype_edit').modal('show');
        	}
        }
      });
  }
</script>
{% endblock %}

