{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4> Add Bus Station</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="bus_list"><button type="submit" class="btn btn-primary">Bus List</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask" method="POST" action="bus_add"   enctype="multipart/form-data">
											{% csrf_token %}
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Bus Name *</label>
										    <input type="text" class="form-control" placeholder="Bus name" name="busname">
										</div>

                                        <div  class="col-md-3 col-sm-6  form-group has-feedback">

													<label>Depo *</label>
											<input type="hidden" name="deponame" id="deponame" />
												<select class="form-control" name="depoid" id="depoid">
													{% for data1 in data %}
                                                       {% if data1.status == 'Active' %}
                            							<option value="{{ data1.depoid }}" selected>{{ data1.depo_name }}</option>
                                                    {% endif %}
                                                    {% endfor %}
												</select>
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="wa_id">
											</div>

										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-primary">Save</button>
											</div>
										</div>

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
})});

</script>
{% endblock %}