{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>Sales Approve  List</b></h3>
              </div>
              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!--  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> -->
                </div>
            </div>
              </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form  method="POST" action="deliver_challan"  enctype="multipart/form-data">
									{% csrf_token %}
					<div class="row filter-row">
                        	<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">Bus Station</label>
								     <input type="hidden" name="busstationname1" id="busstationname1" />
                                         <input type="hidden" name="busstation1" id="busstation1" value="{{ busstationid1 }}" />
												<select class="form-control" name="busstationid" id="busstationid1" >
                                                     <option value=" ">All</option>
                                                    {% for data1 in data1 %}
													    <option value="{{data1.id }}">{{ data1.name }}</option>
                                                    {% endfor %}
												</select>
                                <div id="selected-value"></div>
							</div>

						<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">Select Date</label>
									<input class="form-control" type="date" name="date" id="getdate" value="{{ date }}" required>
							</div>

                               <div class="col-md-3 col-sm-3  form-group has-feedback">
                                           <button type="submit" id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>
                        </form>

						</div>
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                            <colgroup>

    <col span="1" style="visibility: collapse">
  </colgroup>
                      <thead>
                        <tr>
                                   <th></th>
                                    <th>S NO</th>
                                    <th>Bus Station</th>
                                    <th>Store Name</th>
                                    <th>Store Invoice Number </th>
                                    <th>Created Date</th>
                                    <!--<th>DC Number</th>-->
                                    <th>Delivery Date</th>
                                    <th>Itemcount</th>
                                     <th>Total</th>
                                    <th>Actions</th>
                        </tr>
                      </thead>

                            {% for all_data in all_data %}
                                    <tr class="row-select">
                                     <td></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ all_data.bus_station }}</td>
                                    <td>{{ all_data.storename }}</td>
                                    <td> {{ all_data.sonumber }} </td>
                                        <td>{{ all_data.date }}</td>
                                    <!--<td>{{  all_data.dcnumber}}</td>-->
                                    <td>{{ all_data.delivery_date }}</td>
                                        <td>{{ all_data.itemcount }}</td>
                                          <td class="text-success"><b>₹ &nbsp{{ all_data.total }}</b></td>
                                        {% if all_data.status == "Delivery Pending" %}
                                        <td>
                                            <a href="sales_item_list_pending/{{ all_data.sonumber }}/"><span class="badge badge-warning"> {{ all_data.status }} </span></a>
                                         </td>
                                        {% else %}
                                         <td>
                                            <a href="sales_item_list_pending/{{ all_data.sonumber }}/"><span class="badge bg-green"> {{ all_data.status }} </span></a>
                                         </td>
                                        {% endif %}
                                    </tr>


                        {% endfor %}

                      <tbody>
                      </tbody>
                      </table>
                  </div>
                              <input type="hidden" id="id1" name="id1" />
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
  <div class="inner-fabs">

                                  <div class="fab bg-green round" id="fab3"><a href="deliver_challan_approve"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Approve</span></div>
                                 <div class="fab bg-yellow round" id="fab2"><a href="deliver_challan"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Pending</span></div>
                              </div>
                               <div class="fab bg-purple round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Delivery Challan</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="POST" action="deliver_challan_status">
                                                    {% csrf_token %}
                                                 <input type="hidden" id="txtHdnId1" name="txtHdnId[]"  />
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
										            <input type="text" class="form-control" placeholder="Driver Name" name="agentname" id="name">
                                            </div>
                                                   <div class="col-md-6 col-sm-6  form-group has-feedback">
										            <input type="text" class="form-control" placeholder="Driver Number" name="agentno" id="agentno">
                                            </div>
                                            <div class="col-md-12 col-sm-12  form-group has-feedback">
										        <input type="hidden" class="form-control" placeholder="Vehicals Details" name="vehicaldetails1" id="veh1">
                                                	<select class="form-control" name="vehicaldetails" id="veh">
                                                    <option value=" ">Vehical Details</option>
                                                    {% for data1 in vehicals %}
													    <option value="{{data1.vehicleno }}">{{ data1.vehicleno }}</option>
                                                    {% endfor %}
												</select>

										    </div>
                                               <div class="col-md-12 col-sm-12  form-group has-feedback">

                                                   <textarea class="form-control" name="remarks" rows="2" placeholder="Remarks" id="remarks"></textarea>
										    </div>
                                            <p></p>
                                            <div class="col-md-6 col-sm-8  offset-md-5">
                                                  <button type="submit" class="btn btn-info">Approve</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<!-- Include jQuery and jQuery UI libraries -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>

$("#busstationid1").change(function() {
    var selectedOptionText = $(this).find(":selected").text();
    $("#busstationname1").val(selectedOptionText);
});


$(document).ready(function(){
  var optionValue = $("#busstation1").val();
  $("#busstationid1").find("option[value='" + optionValue + "']").prop("selected", true);
})
 </script>
{% endblock %}




