{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4>Delivery  Challan</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!--  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> -->
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-success">
                                    <button type="button" class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                     <strong>{{message}}</strong>
                                </div>
                                {% endfor %}
                          {% endif %}
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>


                                    <th>Store Name</th>
                                    <th>Store Invoice Number </th>
                                    <th>DC Number</th>
                                    <th>ExpDate</th>
                                    <th>Total</th>
                                    <th>Itemcount</th>
                                    <th>Action</th>
                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                                {%  if all_data.status == "Delivery Pending" %}

                                    <tr>
                                    <td>{{ all_data.storename }}</td>
                                    <td> {{ all_data.sonumber }} </td>
                                    <td>{{  all_data.dcnumber}}</td>
                                    <td>{{ all_data.date }}</td>
                                    <td>{{ all_data.total }}</td>
                                        <td>{{ all_data.itemcount }}</td>
                                        <td>
                                            <span class="badge badge-warning"> PENDING </span>
                                             <button type="button" class="btn btn-info" style="padding: 0px 18px !important;" data-toggle="modal" onclick="VerifyClick('{{all_data.sonumber}}')"  data-target=".bs-example-modal-sm">
                                    Delivery challan</button>
                                         </td>
                                    </tr>
                                {% endif %}
                      {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">


                                        <div class="modal-body">
                                             <form method="post" action="deliver_challan_status">
                                                    {% csrf_token %}
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                            </button>

                                            <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Delivery Challan</h4>

                                            <input type="hidden" id="txtHdnId" name="txtHdnId"  />
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
										            <input type="text" class="form-control" placeholder="Agent name" name="agentname" id="name">
                                            </div>
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
										        <input type="text" class="form-control" placeholder="Vehicals Details" name="vehicaldetails" id="veh">
										    </div>
                                               <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Remarks *</label>
										        <input type="text" class="form-control" name="remarks"  placeholder="remarks" id="remarks">
										    </div>
                                            <p></p>
                                            <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <button type="submit" class="btn btn-info">UPDATE</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<script>
    function VerifyClick(id){
$("#name").val("");
$("#vehicaldetails").val("");
$("#remarks").val("");
$("#txtHdnId").val(id);
}
</script>
{% endblock %}

