{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>Sales List</b></h3>
              </div>
              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!--  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> -->
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S NO</th>
                                    <th>Bus Station</th>
                                    <th>Store Name</th>
                                    <th>Store Invoice Number </th>
                                    <th>Created Date</th>
                                    <!--<th>DC Number</th>-->
                                    <th>Delivery Date</th>
                                    <th>Itemcount</th>
                                     <th>Total</th>
                                    <th>Actions</th>
                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                                {%  if all_data.status == "Delivery Pending" %}

                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ all_data.bus_station }}</td>
                                    <td>{{ all_data.storename }}</td>
                                    <td> {{ all_data.sonumber }} </td>
                                        <td>{{ all_data.date }}</td>
                                    <!--<td>{{  all_data.dcnumber}}</td>-->
                                    <td>{{ all_data.delivery_date }}</td>
                                        <td>{{ all_data.itemcount }}</td>
                                          <td class="text-success"><b>₹ &nbsp{{ all_data.total }}</b></td>
                                        <td>
                                            <a href="sales_item_list_pending/{{ all_data.sonumber }}/"><span class="badge badge-warning"> PENDING </span></a>
                                            <span class="badge badge-info" data-toggle="modal" onclick="VerifyClick('{{all_data.sonumber}}')"  data-target="#bs-example-modal-sm">  Delivery challan </span>
                                         </td>
                                    </tr>
                                {% endif %}
                      {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Delivery Challan</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="deliver_challan_status">
                                                    {% csrf_token %}
                                            <input type="hidden" id="txtHdnId" name="txtHdnId"  />
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
										            <input type="text" class="form-control" placeholder="Agent Name" name="agentname" id="name">
                                            </div>
                                                   <div class="col-md-6 col-sm-6  form-group has-feedback">
										            <input type="text" class="form-control" placeholder="Agent Number" name="agentno" id="agentno">
                                            </div>
                                            <div class="col-md-12 col-sm-12  form-group has-feedback">
										        <input type="text" class="form-control" placeholder="Vehicals Details" name="vehicaldetails" id="veh">
										    </div>
                                               <div class="col-md-12 col-sm-12  form-group has-feedback">

                                                   <textarea class="form-control" name="remarks" rows="2" placeholder="Remarks" id="remarks"></textarea>
										    </div>
                                            <p></p>
                                            <div class="col-md-6 col-sm-8  offset-md-5">
                                                  <button type="submit" class="btn btn-info">Approve</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<script>
    function VerifyClick(id){
$("#name").val("");
$("#agentno").val("");
$("#vehicaldetails").val("");
$("#remarks").val("");
$("#txtHdnId").val(id);
}
</script>
{% endblock %}

