{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Indent Item List</b></h3>
              </div>

              </div>
            <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 ">
                  	<form  id="myForm"  method="POST" action=" "  enctype="multipart/form-data">
									{% csrf_token %}
					<div class="row filter-row">
                        	<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">From Date</label>
									<input class="form-control" type="date" name="fdate" id="fdate" value="{{ fdate }}" required>
							</div>
						<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">To Date</label>
									<input class="form-control" type="date" name="tdate" id="tdate" value="{{ tdate }}" required>
							</div>

                               <div class="col-md-3 col-sm-3  form-group has-feedback">
                                           <button type="submit" id=search" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>
                        </form>
              </div>
  <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Date</th>
                                    <th>DC Number</th>
                                    <th>Out pass number</th>
                                    <th>Transfer From</th>
                                    <th>Transfer To</th>
                                    <th>Created By</th>
                                    <th>Action</th>

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td> {{ all_data.modified_on }} </td>
                                    <td>{{ all_data.dc_number }}</td>
                                    <td>{{ all_data.outpass_number }}</td>
                                    <td> {{ all_data.region_name }}</td>
                                    <td>{{ all_data.warehouse_name }}</td>
                                    <td>{{ all_data.modified_by }}</td>
                                    {% if all_data.status == 'Accepted' %}
                                    <td>
                                         <a href="approve_item_list/{{ all_data.dc_number }}/"><span class="badge badge-success" > Accepted </span></a>
                                    </td>
                                    {% else %}
                                    <td>
                                         <a href="approve_item_list/{{ all_data.dc_number }}/"><span class="badge badge-warning">{{ all_data.status }} </span></a>
                                     <span data-target=".bs-example-modal-sm"  data-toggle="modal"  onclick="VerifyClick('{{ all_data.qty }}','{{ all_data.outpass_number}}')" class="badge badge-success" > Accept </span></a>

                                    </td>
                                    {% endif %}
                                </tr>
                             {% endfor %}

                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                            <div class="modal-content">



                                        <div class="modal-body">
                                            <form method="post" action="{% url 'approve_accept' %}">
                                                    {% csrf_token %}
                                             <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                            </button>
                                            <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Acknowledgement</h4>

                                                 <label for="qty">Quantity *</label>
                                                <textarea class="form-control" rows="1"  name="qty" id="qty"></textarea>

                                            <label for="remarks">Remarks *</label>
                                            <input type="hidden" id="txtHdnId" name="id" />
                                                <textarea class="form-control" rows="2"  name="remarks" id="remarks"></textarea>
                                            <p></p>
                                           <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <a href="add_grn_inventory"><button type="submit" class="btn btn-info">UPDATE</button></a>

                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                </div>

 </div>
                          <div class="inner-fabs">
                                  <div class="fab bg-green round" id="fab3" data-tooltip="Out For Delivery"><a href="approved_indlist_pending"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -170px !important;">Out For Delivery</span></div>
                                  <div class="fab bg-purple round" id="fab2" data-tooltip="Accepted"><a href="approved_indlist_accept"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Accepted</span></div>
                          </div>
                                <div class="fab bg-yellow  round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                        </div>
              </div>
<script>

   function VerifyClick(qty,id){
$("#qty").val(qty);
$("#remarks").val(" ");
$("#txtHdnId").val(id);
}


</script>
{% endblock %}
