{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Add Indent </b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="/indent_list"><button type="submit" class="btn btn-primary">Indent List</button></a>
                </div>
            </div>
              </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask"  method="POST" action="/create_indent"   enctype="multipart/form-data">
										{% csrf_token %}
                                        {% if request.session.role == 'Depo' %}
                                        	<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Select Warehouse *</label>
										    	 <select class="form-control items" name="whcode" id="whcode" required>
                                                     <option value="">select warehouse</option>
                                                    {% for data in wh_masterlist %}
                                                        {% if data.status == "Active" %}
                                                            <option value="{{ data.warehouseid }}">{{ data.warehousename }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
										</div>
                                        {% else %}
                                         {% if request.session.codee == 'BSP0135' %}
                                              <div class="col-md-3 col-sm-3  form-group has-feedback">
                                                <label>Depot *</label>
                                                  <input type="text" class="form-control"  name="buswh" id="buswh" value="UPPAL" readonly>
                                            </div>
                                         {% else %}
                                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                                <label>Depot *</label>
                                                  <input type="text" class="form-control"  name="deponame" id="depo" value="{{ deponame }}" readonly>
                                            </div>
                                        {% endif %}
                                        {% endif %}
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Select Items *</label>
										    	 <select class="form-control items" name="itemcode" id="itemcode" required>
													<option value="">Items</option>
                                                    {% for data in item_masterlist %}
                                                        {% if data.status == "Active" %}
                                                            <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
										</div>
                                        	<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label"> Date</label>
									<input class="form-control" type="date" name="date" id="getdate" required>
							</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Quantity(In Cases) *</label>
										    <input type="text" class="form-control" placeholder="quantity in cases" name="quantity" id="quantity" required>
										</div>
                                         <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Quantity(In Bottles) *</label>
										    <input type="text" class="form-control" placeholder="quantity in bottles" name="nob" id="nob" readonly>
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Total Price *</label>
										    <input type="text" class="form-control" placeholder="total price" id="price" name="price" readonly>
										</div>

										<div class="col-md-2 col-sm-2 form-group has-feedback">
												<button type="submit"  style="margin-top: 25px;"  class="btn btn-primary">Create</button>
											</div>

										  <input type="hidden" class="form-control"  name="itemname" id="itemname">
                                        <input type="hidden" class="form-control"  name="whname" id="whname">
                                        <input type="hidden" class="form-control"  name="cases1" id="cases1">
                                        <input type="hidden" class="form-control"  name="mrp1" id="mrp1">

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
$("#itemcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname").val(selectedOptionText);
});
$("#whcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#whname").val(selectedOptionText);
});

$("#itemcode").change(function() {
        	var itemname = $('#itemcode').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_indentitem"  %}',
            	data: {
                	'itemname':itemname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},

			 	success: function(data){
			 		 var obj = data.data.itemmasterlist
                        console.log(obj[0].mrp);

                        if(obj.length>0){
                            $("#mrp1").val(obj[0].mrp);
                            $("#cases1").val(obj[0].uom);
                            $("#nob").val(" ");
                            $("#quantity").val(" ");
                            $("#price").val(obj[0].mrp);
					}
             	}
        	});
    	});
    	$('#quantity').on('input', function()  {
    	    val  = $("#quantity").val();
            val1 = $("#cases1").val();
            mrp2 = $("#mrp1").val( );
            val2 =    (val * val1)
            val3 = (val2 * mrp2)
            $("#nob").val(val2);
            $("#price").val(val3);
         });
         $('#getdate').val(new Date().toJSON().slice(0,10));

</script>
{% endblock %}
