{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Add Indent <b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="indent_list"><button type="submit" class="btn btn-primary">Indent List</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask"  method="POST" action="create_indent"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Select Items *</label>
										    	 <select class="form-control" name="itemcode" id="itemcode">
													<option value=" ">Items</option>
                                                    {% for data in item_masterlist %}
                                                        {% if data.status == "Active" %}
                                                            <option value="{{ data.itemcode }}">{{ data.itemname }}</option>

                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Quantity(In Cases) *</label>
										    <input type="text" class="form-control" placeholder="quantity in cases" name="quantity" value="{{ item_masterlist.uom }}">
										</div>
                                         <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Quantity(In Bottles) *</label>
										    <input type="text" class="form-control" placeholder="quantity in bottles" name="quantity">
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>MRP *</label>
										    <input type="text" class="form-control" placeholder="mrp" name="mrp">
										</div>

										<div class="col-md-2 col-sm-2 form-group has-feedback">
												<button type="submit"  style="margin-top: 25px;"  class="btn btn-primary">Create</button>
											</div>

										  <input type="hidden" class="form-control"  name="itemname" id="itemname">

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
$("#itemcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname").val(selectedOptionText);
});
    $('#quantity').on('input', function()  {
    	    val  = $("#quantity").val();
            val1 = $("#cases").val();
            mrp = $("#mrp").val( );
            val2 =    (val * val1)
            val3 = (val2 * mrp)
            $("#nbottles").val(val2);
            $("#price").val(val3);
         });
</script>
</script>
{% endblock %}
