{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Indent List<b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="/create_indent"><button type="submit" class="btn btn-primary">Add Indent Item</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Indent No</th>
                                    <th>Indent Details</th>
                                    <th>Created by</th>
                                    <th>Date</th>
                                    <th>Indent Items</th>

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ all_data.indent_no }}</td>
                                    <td>{{ all_data.region_name }} ->{{ all_data.warehouse_name }}</td>
                                    <td>{{ all_data.createdby }}</td>
                                    <td>{{all_data.createdon}}</td>
                                    <td class="text-center"><a href = "indent_item_list/{{ all_data.indent_no  }}"><i class="fa fa-list-ul"  style='font-size:20px;color:blue'></i></a></td>
                                </tr>
                             {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>

{% endblock %}

