{% extends 'base.html' %}

{% block htmlbody %}
<style>
    .style{
	position: absolute !important;
	width: 80% !important;
	margin-left:50px !important;
	}
</style>

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Indent Item List</b></h3>
              </div>
              <div class="title_right">
                  <div class="col-md-4 col-sm-4 offset-md-7">
                      <div style="display: inline-block;">
                            <div class="row" style="display: inline-block;">
                                <div class="top_tiles" style="width: 700px;">
                                    <div class="animated flipInY  col-md-3 col-sm-3">
                                        <div class="tile-stats">
                                            <div class="icon1"><!--<i class="fa fa-bar-chart"></i>--></div>
                                                <h1 class="text-info" style="margin-left: 17px; font-size: 18px;">{{ id }}</h1>
                                 <!--<p class="text-info" style="font-size: 12px;">Indent from</p>-->
                                        </div>
                                    <div>
                                </div>
                            </div></div>
                                <!--{% if data.status == 'Pending' or data == 'Pending' %}
                                        <button type="button" id="add_indentitem" style="margin-top:10px;margin-right:20px;" class="btn btn-primary">Add Indent Item</button>
                                {% endif %}-->
                                {% if data.status == 'Pending' or data == 'Pending' %}
                                <a href="/indent_list"><button type="button"  style="margin-top:10px;margin-right:20px;" class="btn btn-primary">Indent List</button></a>
                             {% endif %}
                            </div>
                  </div>
              </div>
            </div>
            </div>
               <div class="clearfix"></div>

            <div class="row" id="itemrow">
              <div class="col-md-12 col-sm-12">
                <div class="x_panel">
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask"  method="POST" action=""   enctype="multipart/form-data">
										{% csrf_token %}
                                            <input type="hidden" id="itemname" name="itemname" />
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Select Items *</label>
										    	 <select class="form-control items" name="itemcode" id="itemcode" required>
													<option value="">Items</option>
                                                    {% for data in item_masterlist %}
                                                        {% if data.status == "Active" %}
                                                            <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
										</div>

                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Quantity(In Cases) *</label>
										    <input type="number" class="form-control" placeholder="quantity in cases" name="quantity" id="quantity" min="1" required>
										</div>
                                         <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Quantity(In Bottles) *</label>
										    <input type="text" class="form-control" placeholder="quantity in bottles" name="nob" id="nob" readonly>
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Total Price *</label>
										    <input type="text" class="form-control" placeholder="total price" id="price6" name="price6" readonly>
										</div>

										<div class="col-md-2 col-sm-2 form-group has-feedback">
												<button type="submit"  style="margin-top: 25px;"  class="btn btn-primary">Submit</button>
											</div>


                                        <input type="hidden" class="form-control"  name="whname" id="whname">
                                        <input type="hidden" class="form-control"  name="cases1" id="cases1">
                                        <input type="hidden" class="form-control"  name="mrp1" id="mrp1">

                                 </div>
                    </form>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
  <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Item Code</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                    <th>Qty(In Bottles)</th>
                                    <th>MRP</th>
                                     <th>Total</th>
                                    <!--<th>Dispatch Qty</th>-->

                                {% if data.status == 'Pending' or data == 'Pending' %}
                                    <th>Action</th>
                                {% endif %}

                                    <!--<th>Batch Code</th>-->
                                    <!--<th>Expiry Date</th>-->
                                    <!--<th>Indent No</th>-->

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ all_data.item_code_org }}</td>
                                    <td>{{ all_data.item_name }}</td>
                                     <td> {{ all_data.qty }} </td>
                                     <td> {{ all_data.noofbottles }} </td>
                                    <td>{{ all_data.mrp }}</td>
                                       <td>{{ all_data.totalprice }}</td>
                                    <!--<td>{{all_data.dispatch_qty}}</td>-->

                                        {% if data.status == 'Pending' or data == 'Pending' %}
                                        <td>
                                             {% if request.session.role == 'Admin' %}
                                                 <span class="badge badge-info" data-toggle="modal" onclick="VerifyClick1('{{all_data.indent_no}}','{{ all_data.sno }}','{{ all_data.item_name }}','{{ all_data.item_code }}','{{ all_data.qty }}','{{ all_data.noofbottles }}','{{ all_data.totalprice }}')"  data-target="#bs-example-modal-sm"><i class="fa fa-edit"></i> </span>
                                             {% endif %}
                                            <a href="#" onclick="VerifyClick('{{ all_data.indent_no }}','{{ all_data.sno }}')"><span class="badge badge-danger" data-toggle="modal" data-target="#store-status">
                                            <i class="fa fa-trash"></i></span></a>
                                        </td>
                                    {% endif %}

                                    <!--<td>{{ all_data.batch_code }}</td>-->
                                    <!--<td>{{  all_data.expirydate }}</td>-->
                                    <!--<td>{{all_data.indent_no}}</td>-->
                                </tr>
                             {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>

<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h3 class="modal-title" id="myModalLabel2" style="text-align:center;">Update Quantity</h3>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="/indent_item_update">
                                                    {% csrf_token %}
                                               	<div class="col-md-6 col-sm-6  form-group has-feedback">
                                                      <label> Item*</label>
                                                 <input type="text"  class="form-control" id="itemname1" name="itemname" readonly />


                                                       <input type="hidden" class="form-control" id="itemcode1" name="itemcode" />
                                                <!--<select class="form-control items" name="itemcode" id="itemcode1" required>
                                                    <option value="">item name</option>
                                                    {% for data in item_masterlist %}
                                                        <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                    {% endfor %}
                                                </select>-->
                                                </div>

                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                        <label>Quantity(Cases)</label>
										         <input type="number" class="form-control" placeholder="quantity" name="qty" id="qty"  min="1" required>

                                            </div>
                                                   <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                         <label>Quantity(Bottles)</label>
										            <input type="text" class="form-control" placeholder="Number Of Botteles" name="nob" id="nob1" readonly>
                                            </div>
                                            <div class="col-md-6 col-sm-6  form-group has-feedback" style="margin-bottom:30px;">
                                                <label>Total Price</label>
										        <input type="text" class="form-control" placeholder="Price" name="price1" id="price1" readonly>
										    </div>
                                                <input type="hidden" name="cases" id="cases" />
                                                  <input type="hidden" name="indentno" id="indentno" />
                                                  <input type="hidden" name="indsno" id="indsno" />
                                                   <input type="hidden" name="price" id="price" />
<p></p>
<p></p>
                                           <div class="modal-footer">
				 <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<div class="modal custom-modal fade" id="store-status" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content style">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							<div class="modal-body">
								  <form  class="form-label-left input_mask" method="post" action="/delete_indent_item">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Delete Indent</h3>
									<p>Are you sure want to Delete?</p>
								</div>
									<input type="hidden" id="indentid" name="indentid"  />
                                      	<input type="hidden" id="sno" name="sno"  />
									<div class="row">
										<div class="col-md-6 col-sm-6">
                                                 <button type="submit" class="btn btn-primary" style="margin-left:110px;" >Yes</button>
                                        </div>
                                        	<div class="col-md-6 col-sm-6">
                                                 <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            </div>
                                    </div>
								  </form>
							</div>

						</div>
					</div>
</div>

<script>

    $(document).ready(function() {
        $('#add_indentitem').on('click', function() {
            $('#itemrow').show();
        });
    });
$("#itemcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname").val(selectedOptionText);
});
$("#itemcode1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname1").val(selectedOptionText);
});
$("#itemcode").change(function() {
        	var itemname = $('#itemcode').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_indentitem"  %}',
            	data: {
                	'itemname':itemname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},

			 	success: function(data){

			 		 var obj = data.data.itemmasterlist
                        console.log(obj[0].mrp);
                        if(obj.length>0){
                            $("#cases1").val(obj[0].uom);
                             $("#quantity").val("");
                             $("#price6").val("");
                             $("#nob").val("");
                            $("#price6").val(obj[0].mrp);
                              $("#mrp1").val(obj[0].mrp);

					}
             	}
        	});
    	});
    	$('#quantity').on('input', function()  {
    	    val  = $("#quantity").val();
            val1 = $("#cases1").val();
            mrp2 = $("#mrp1").val( );
            val2 =    (val * val1)
            val3 = (val2 * mrp2)
            $("#nob").val(val2);
            $("#price6").val(val3);
         });


         $('#getdate').val(new Date().toJSON().slice(0,10));

function VerifyClick(id,id1){
$("#indentid").val(id);
$("#sno").val(id1);
}
function VerifyClick1(id,id1,id2,id3,id4,id5,id6){
$("#indsno").val(id1)
$("#indentno").val(id)
$("#qty").val(id4);
$("#nob1").val(id5);
$("#itemname1").val(id2);
$("#itemcode1").val(id3)
$("#price1").val(id6)

        	$.ajax({
            	type: "POST",
            	url: '{% url "get_indentitem"  %}',
            	data: {
                	'itemname':id3,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		 var obj = data.data.itemmasterlist
                        console.log(obj[0].mrp);
                        if(obj.length>0){

                             $("#cases").val(obj[0].uom);
                             $("#price").val(obj[0].mrp);

					}
             	}
        	});

    	$('#qty').on('input', function()  {
    	    val  = $("#qty").val();
            val1 = $("#cases").val();
            mrp2 = $("#price").val( );
            val2 =    (val * val1)
            val3 = (val2 * mrp2)
            $("#nob1").val(val2);
            $("#price1").val(val3);
         });
}
</script>

{% endblock %}

