{% extends 'base.html' %}

{% block htmlbody %}

  <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Out Pass Scanner</h3>
              </div>
            </div>

          <div class="clearfix"></div>
            <div class="row">
            <div class="col-md-6 col-md-12">
                <div class="x_panel">
                <div class="x_content">
                                        <form class="form-label-left input_mask"  method="POST" action="out_pass_scanner"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                          <div class="input-group">
                                            <input type="text" class="form-control" id="outpassid" name="outpassid" placeholder="Search for..." required />
                                              <span class="input-group-btn">
                                                <button class="btn btn-secondary btn-xs" name="search" type="submit">Go!</button>
                                              </span>
                                            </div>
                                        </div>
                                        </form>
                </div>
                </div>
                 </div>
        </div>
          </div>
        </div>
        <!-- /page content -->







 {% endblock %}