{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                {% if data1.status == 'Pending' %}
                <h3 >Pending Indent</h3>
                  {% else %}
                   <h3 >Verified  Indent</h3>
                  {% endif %}
              </div>
              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!--  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> -->
                </div>
            </div>
              </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form id="myform" method="POST" action=""  enctype="multipart/form-data">
									{% csrf_token %}


                            	<div  class="col-md-2  form-group has-feedback">
													<label> Warehouse</label>
											 <input type="hidden" name="warehousename1" id="warehousename1" />
                                                 <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{  request.POST.warehousename1  }}</option>
												</select>
												<select class="form-control" name="warehouseid1" id="warehouseid1">
                                                    <option value="All">All</option>
													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
												</select>
										</div>
											<!--<div  class="col-md-2  form-group has-feedback">
                                                  <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid1 }}">{{ request.POST.regionname1 }}</option>
												</select>
													<label> Region</label>
											 <input type="hidden" name="regionname1" id="regionname1" />
												<select class="form-control" name="regionid1" id="regionid1">
													<option value="All">All</option>
												</select>
										</div>-->
											<div  class="col-md-2  form-group has-feedback">
                                                <select class="form-control" name="depoid2" id="depoid2" hidden>
                            		                    <option value="{{ request.POST.depoid1 }}">{{ request.POST.deponame1 }}</option>
												</select>
													<label> Depot</label>
											 <input type="hidden" name="deponame1" id="deponame1" />

												<select class="form-control" name="depoid1" id="depoid1">
                                                    <option value="All">All</option>
													{% for data1 in depolist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.depoid }}">{{ data1.deponame }}</option>
														{% endif  %}
                                                     {% endfor %}
												</select>
											</div>

                            <div class="col-md-2  form-group has-feedback" id="date-range-fields" >
                              <label for="start-date">From Date</label>
                              <input type="date" id="start-date" name="fdate" class="form-control" value="{{ request.POST.fdate }}">

                            </div>

                              <div class="col-md-2  form-group has-feedback"  id="tdate">
                                  <label  for="end-date">To Date</label>
                              <input type="date" id="end-date" name="ldate" class="form-control" value="{{ request.POST.ldate }}">
                            </div>


<!--<div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit" id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>-->
                        </form>

						</div>
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                            <colgroup>

    <col span="1" style="visibility: collapse">
  </colgroup>
                      <thead>
                        <tr>
                                                <th></th>
                                    <th>S NO</th>
                                    <th>Indent No</th>
                                    <th>From name</th>
                                    <th>To name</th>
                                    <th>Date</th>
                                    <th>Status</th>

                        </tr>
                      </thead>

                            {% for all_data in list %}
                                    <tr>
                                        <td></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ all_data.indent_no }}</td>
                                        <td>{{ all_data.region_name }}</td>
                                        <td> {{ all_data.warehouse_name }} </td>
                                        <td>{{ all_data.createdon }}</td>
                                          <td>
                                        {% if all_data.status == "Pending" %}
                                        <a href="pending_indent_item_list/{{ all_data.indent_no  }}"><span class="badge badge-warning">{{ all_data.status }}</span></a>
                                         <span class="badge bg-green" data-toggle="modal"  onclick="VerifyClick('{{all_data.indent_no}}','{{ all_data.region_name }}','{{ all_data.warehouse_name }}','{{ all_data.warehouse_id }}','{{ all_data.region_id }}')" data-target=".bs-example-modal-sm">
                                             Acknowledgement</span>
                                    </td>
                                        {% else %}
                                         <a href="indent_item_list/{{ all_data.indent_no  }}"><span class="badge badge-success">{{ all_data.status }}</span></a>
                                    </tr>
                                   {% endif %}


                        {% endfor %}

                      <tbody>
                      </tbody>
                      </table>
                  </div>
                              <input type="hidden" id="id1" name="id1" />
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
 <div class="inner-fabs">

                                  <div class="fab bg-green round" id="fab3"><a href="pending_indent_pending1"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Approve</span></div>
                                 <div class="fab bg-yellow round" id="fab2"><a href="pending_indent_admin"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Pending</span></div>
                              </div>
                               <div class="fab bg-orange round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
  <div class="modal custom-modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                            <div class="modal-content">
                                        <div class="modal-body">
                                            <form method="post" action="pending_ind_status">
                                                    {% csrf_token %}
                                          	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>

                                            <h3 class="modal-title" style="text-align:center;" id="myModalLabel2" >Acknowledgement</h3>

                                            <label for="comment">Remarks *</label>
                                            <input type="hidden" id="txtHdnId" name="txtHdnId" />
                                                  <input type="hidden" id="from" name="from" />
                                                  <input type="hidden" id="to" name="to" />
                                                 <input type="hidden" id="fromid" name="fromid" />
                                                  <input type="hidden" id="toid" name="toid" />
                                                <textarea class="form-control" placeholder="remarks" rows="2"  name="comment" id="comment"></textarea>
                                            <p></p>
                                           <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <a href="add_grn_inventory"><button type="submit" class="btn btn-primary" style="margin-left:-22px;">ACKNOWLEDGE</button></a>

                                            </div>
                                        </div>


                                        </div>
                                    </div>
                                </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>




	$(document).ready(function() {
    // Get the initial warehouse name
  var warehousename = $("#warehouseid2").find(":selected").text();
    console.log(warehousename);
    $.ajax({
        type: "POST",
        url: '{% url "get_storeregion" %}',
        data: {
            'warehouse':warehousename,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#regionid1").empty();
                 $("#regionid1").append("<option value='All'>All</option>");
                $.each(obj, function(index, item) {
                    $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                var optionValue = $("#regionid2").val();
                $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
    });

    $("#warehouseid1").change(function() {
        var warehousename = $(this).find(":selected").text();
        $.ajax({
            type: "POST",
            url: '{% url "get_storeregion" %}',
            data: {
                'warehouse':warehousename,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                var obj = data.data.dropdownlist
                if (obj) {
                    $("#regionid1").empty();
                    $("#regionid1").append("<option value='All'>All</option>");
                    $.each(obj, function(index, item) {
                        $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                }
            }
        });
    });
 });
   $(document).ready(function() {
    // Get the initial warehouse name
    var warehousename = $("#warehouseid2").find(":selected").text();
    var regionname = $("#regionid2").val();
    // Send an AJAX request to get the storeregion dropdown options
    $.ajax({
        type: "POST",
        url: '{% url "get_storedepo" %}',
      data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#depoid1").empty();
                //$("#depoid1").append("<option  value='All'>All</option>");
                $.each(obj, function(index, item) {
                    $("#depoid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                 var optionValue = $("#depoid2").val();
                 $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
    });
    	$("#regionid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $('#regionid1').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depoid1").empty();

                	$.each(obj, function (index, item) {
                    $("#depoid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});

                	}
             	}
        	});
    	});
 });


 $("#warehouseid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename1").val(selectedOptionText);
});
$("#regionid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname1").val(selectedOptionText);
});
$("#depoid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
("#deponame1").val(selectedOptionText);
});

$(document).ready(function(){
  var optionValue = $("#warehouseid2").val();
  $("#warehouseid1").find("option[value='" + optionValue + "']").prop("selected", true);
   var optionValue = $("#depoid2").val();
  $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
  var optionValue1 = $("#range2").val();
  $("#daterangeselect").find("option[value='" + optionValue1 + "']").prop("selected", true);
})
// Add an event listener to the form elements
  document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById("myform");

    // Listen for changes in the form elements
    form.addEventListener("change", function() {
      var warehouseValue = document.getElementById("warehouseid1").value;
      //var regionValue = document.getElementById("regionid1").value;
      var depotValue = document.getElementById("depoid1").value;
      //var busstationValue = document.getElementById("busstationid1").value;
      var startDateValue = document.getElementById("start-date").value;
      var endDateValue = document.getElementById("end-date").value;

      // Check if any of the fields have a non-"All" value
        if (
        warehouseValue !== "All" ||
         warehouseValue == "All" ||
        //regionValue !== "All" ||
        depotValue !== "All" ||
          depotValue == "All" ||
        busstationValue !== "All" ||
         busstationValue == "All"

      ) {
        // Submit the form programmatically
        form.submit();
      } else if (startDateValue !== "" || endDateValue !== "") {
        // Submit the form programmatically if either start date or end date is filled
        form.submit();
      }

    });
    form.addEventListener("change", function() {
      // Set the hidden input values before submitting the form
      var selectedOptionText = $('#warehouseid1').find(":selected").text();
      $("#warehousename1").val(selectedOptionText);
      //selectedOptionText = $('#regionid1').find(":selected").text();
      //$("#regionname1").val(selectedOptionText);
      selectedOptionText = $('#depoid1').find(":selected").text();
      $("#deponame1").val(selectedOptionText);
      //selectedOptionText = $('#busstationid1').find(":selected").text();
      //$("#busstationname1").val(selectedOptionText);
      var selectedOptionText = $('#daterangeselect').find(":selected").text();
      $("#from").val(selectedOptionText);
 });
  });


function VerifyClick(id,id1,id2,id3,id4){
$("#comment").val(" ");
$("#txtHdnId").val(id);
$("#from").val(id1);
$("#to").val(id2);
$("#fromid").val(id4);
$("#toid").val(id3);
$("#toid").val(id3);
}
</script>

 </script>
{% endblock %}




