{% extends 'base.html' %}

{% block htmlbody %}



<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                  {% if status  == 'Pending' %}
                     <h3 style="color:#1372ba"><b>Ready To Ship Pending</b></h3>
                  {% else %}
                     <h3 style="color:#1372ba"><b>Ready To Ship Verified</b></h3>
                  {% endif %}
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

             <div class="col-md-12 col-sm-12 ">
                  	<form  method="POST" action=""  enctype="multipart/form-data">
									{% csrf_token %}
					<div class="row filter-row">
                        	<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">From Date</label>
									<input class="form-control" type="date" name="fdate" id="fdate" value="{{ fdate }}" required>
							</div>
						<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">To Date</label>
									<input class="form-control" type="date" name="tdate" id="tdate" value="{{ tdate }}" required>
							</div>

                               <div class="col-md-3 col-sm-3  form-group has-feedback">
                                           <button type="submit" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>
                        </form>
              </div>

</div>
                <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Indent number</th>
                                    <th>DC Number</th>
                                    <th>Indent From</th>
                                    <th>Indent To</th>
                                    <th>Created By</th>
                                    <th>Created On</th>
                                    <th>Action</th>
                        </tr>
                      </thead>
                            {% for all_data in data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                          <td> {{ all_data.indentno }}</td>
                         <td>{{ all_data.dc_number }}</td>
                      <td> {{ all_data.region_name }} </td>
                           <td>{{ all_data.warehouse_name }}</td>
                       <td>{{  all_data.created_by}}</td>
                           <td>{{ all_data.created_on }}</td>

                            {% if all_data.status == 'Ready to Ship' %}
                                <td>
                                    <a href="/indent_item_list1/{{ all_data.dc_number }}/"><span class="badge bg-green"><i class="fa fa-edit"></i></span></a>
                                    <span data-target=".custom-modal"  data-toggle="modal"  onclick="VerifyClick('{{all_data.dc_number }}','{{all_data.warehouse_name}}', '{{all_data.warehouse_id}}','{{all_data.region_name}}','{{all_data.region_id}}')" class="badge badge-info" >Generate Gate Pass </span></a>
                                </td>
                           {% else %}
                           <td>
                                  <a href="/indent_item_list_approve/{{ all_data.dc_number }}/"><span class="badge badge-warning"><i class="fa fa-check-square-o"></i></span></a>
                           </td>
                           {% endif %}
                      </tr>
                      {% endfor %}

                      <tbody>
                      </tbody>
                      </table>
                  </div>

            </div>

                </div>
              </div>

            </div>

          </div>
</div>
               </div>

              </div>
</div>
</div>
 <div class="inner-fabs">

                                  <div class="fab bg-green round" id="fab3"><a href="readyto_ship1"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Approve</span></div>
                                 <div class="fab bg-yellow round" id="fab2"><a href="readyto_ship"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -155px !important;">Ready to ship</span></div>
                              </div>
                               <div class="fab bg-orange round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>


<div class="modal custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                            <div class="modal-content style">
<form method="post" action="{% url 'generate_gate_pass' %}">
                                                    {% csrf_token %}
                                        <div class="modal-body">

                                             <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                            </button>
                                            <h4  id="myModalLabel2" style="text-align:center;color:#14c38e;;">Generate Gate Pass</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                                <p></p>
                                                <input type="hidden" id="txtHdnId" name="id" />
                                                <input type="hidden" id="rname" name="rname" />
                                                <input type="hidden" id="rid" name="rid" />
                                                <input type="hidden" id="wname" name="wname" />
                                                <input type="hidden" id="wid" name="wid" />
                                                 <div class="col-md-12 col-sm-12  form-group has-feedback" style="margin-bottom:25px;">
										            <input type="text" class="form-control" placeholder="Driver Name" name="agentname" id="name">
                                            </div>
                                                 <div class="col-md-12 col-sm-12  form-group has-feedback" style="margin-bottom:25px;">
										        <input type="hidden" class="form-control" placeholder="Vehicals Details" name="vehicaldetails1" id="veh1">
                                                	<select class="form-control" name="vehicaldetails" id="veh">
                                                    <option value=" ">Vehical Details</option>
                                                    {% for data1 in vehicals %}
													    <option value="{{data1.vehicleno }}">{{ data1.vehicleno }}</option>
                                                    {% endfor %}
												</select>

										    </div>
                                            <p></p>
                                           <div class="col-md-6 col-sm-6  offset-md-3">
                                                 <button type="submit" class="btn btn-primary" style="margin-bottom:25px;">UPDATE</button></a>

                                            </div>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<script>
function VerifyClick(id,tname,tid,fname,fid){
$("#remarks").val(" ");
$("#txtHdnId").val(id);
$("#wname").val(tname);
$("#wid").val(tid);
$("#rname").val(fname);
$("#rid").val(fid);
}
</script>

{% endblock %}

