{% extends 'base.html' %}

{% block htmlbody %}

<style>
    {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}



.round {
  border-radius: 50%;
}

.fab {
  transition: all 300ms ease-in-out;
  width: 56px;
  height: 56px;
  background-color: #FF4081;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: white;
  font-size: 2em;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
}
.fab1 {
  transition: all 300ms ease-in-out;
  width: 56px;
  height: 56px;
  background-color: #003aa5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  bottom: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  color: white;
  font-size: 2em;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16), 0px 3px 10px rgba(0, 0, 0, 0.16);
}

.fab i {
  transition: all 300ms ease-in-out;
  will-change: transform;
}

.inner-fabs .fab {
  width: 40px;
  height: 40px;
  right: 38px;
  bottom: 23px;
  font-size: 1.5em;
  will-change: bottom;
}

.inner-fabs.show .fab:nth-child(1) {
  bottom: 80px;
}

.inner-fabs.show .fab:nth-child(2) {
  bottom: 130px;
}

.inner-fabs.show .fab:nth-child(3) {
  bottom: 180px;
}

.inner-fabs.show .fab:nth-child(4) {
  bottom: 230px;
}

.inner-fabs.show .fab:nth-child(5) {
  bottom: 280px;
}

.inner-fabs.show .fab:nth-child(6) {
  bottom: 330px;
}

.inner-fabs.show + .fab i {
  transform: rotate(135deg);
}

.fab:before {
  content: attr(data-tooltip);
  transition: opacity 150ms cubic-bezier(0.4, 0, 1, 1);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #ececec;
  right: 50px;
  top: 25%;
  background-color: rgba(70, 70, 70, 0.9);
  font-size: 0.5em;
  line-height: 1em;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  padding: 6px 8px;
  max-width: 200px;
  font-weight: bold;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.inner-fabs.show .fab:hover:before {
  content: attr(data-tooltip);
  visibility: visible;
  opacity: 1;
}
</style>

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>Pending Indent</b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>

                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Indent NO</th>
                                    <th>Warehouse Name</th>
                                    <th>Region Name</th>
                                    <th>Created By</th>
                                    <th>Status</th>
                        </tr>
                      </thead>
                            {% for all_data in data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.indent_no }}</td>
                       <td> {{ all_data.warehouse_name }} </td>
                       <td>{{  all_data.region_name}}</a></td>
                        <td>{{ all_data.createdby }}</a></td>
                                <td>
                                  <a href="indent_item_list_ack/{{ all_data.indent_no }}/"><span class="badge badge-success">{{ all_data.status }} </span></a>
                                </td>
                      </tr>
                      {% endfor %}

                      <tbody>
                      </tbody>
                      </table>
                  </div>

            </div>

                </div>
              </div>

            </div>

          </div>
</div>
               </div>
                          <div class="inner-fabs">
                              <div class="fab bg-blue round" id="fab3" ><a href="pending_indent_ack"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext" >Pending</span></div>
                              <div class="fab bg-orange round" id="fab2"><a href="pending_indent_pending"><i class="fa fa-outdent" style="color:#fff;" ></i></a><span class="tooltiptext" >Verified</span></div>

                          </div>
                                    </div>
                                <div class="fab bg-red round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                        </div>
              </div>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">


                                        <div class="modal-body">
                                            <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Verify</h4>
                                            <label for="comment">Remarks *</label>
                                            <input type="hidden" id="txtHdnId" />
                                                <textarea class="form-control" rows="3"  name="comment" id="comment"></textarea>
                                            <p></p>
                                             <div class="">
                                                  <a href="add_grn_inventory"><button type="button" class="btn btn-info">UPDATE</button></a>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>
                                            </div>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<script>

function VerifyClick(id){
$("#comment").val(comment);
$("#txtHdnId").val(id);
}
</script>

{% endblock %}

