
{% extends 'base.html' %}
{% load static %}
{% block htmlbody %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>TAX Invoice</b></h3>
              </div>

            </div>
             <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-12">


                          <!--<button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>-->
                          <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
                           <button class="btn btn-default pull-right" onclick="window.print();"><i class="fa fa-print"></i> Print</button>

                </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">

                  <div class="x_content">

                    <section class="content invoice">
                      <!-- title row -->
                      <div class="row">
                        <div class="  invoice-header">

                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="row invoice-info">
                        <div class="col-sm-2 invoice-col">
                          <h6 style="color:black"><b>From</b></h6>
                          <address>
                                          <strong>{{ data.regionname }}</strong>
                                          <h6>GST:{{ data.regiongstno }}</h6>
                                      </address>
                        </div>
                          <div class="col-sm-6 invoice-col">
                          <h6 style="color:black"><b>BILL To</b></h6>
                          <address>
                                          <strong>{{ data.storename }}</strong>
                                          <br>GST:{{ data.storegst }}
                                      </address>
                        </div>
                        <!-- /.col -->

                           <div class="col-sm-2 invoice-col">
                            <h6 style="color:black"><b>Invoice No : </b><b class="text-info">{{ data.invoicenumber }}</b></h6>
                          <b>Date :</b> {{ data.date }}
                          <h6 class="text-success"><b>APPROVED</b></h6>
                        </div>
                            <div class="col-sm-2 invoice-col">
                            <h6 style="color:black"><b>Invoice No : </b><b class="text-info">{{ data.invoicenumber }}</b></h6>
                          <b>Date :</b> {{ data.date }}
                          <h6 class="text-success"><b>APPROVED</b></h6>
                        </div>
                             <div class="col-sm-2 invoice-col">
                              <img src="https://chart.googleapis.com/chart?cht=qr&chl={{ data.invoicenumber }}&chs=160x160&chld=L|0" width="75" class="qr-code img-thumbnail img-responsive" />
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <!-- Table row -->
                      <div class="row">
                        <div class="  table">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>S NO</th>
                              <th>Item</th>
                              <th>Qty</th>
                              <th>Rate</th>
                              <th>Disc</th>
                              <th>GST</th>
                              <th>Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                {% for data in data1 %}
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.itemname }}</td>
                                <td>{{ data.quantity }}</td>
                                <td>{{ data.mrp }}</td>
                                <td>{{ data.discount }}</td>
                                 <td>{{ data.gst }}</td>
                                 <td>{{ data.total }}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                             <!--<tfoot>
                              <th>S NO</th>
                              <th>Item</th>
                              <th>Qty</th>
                              <th>Rate</th>
                              <th>Disc</th>
                              <th>GST</th>
                              <th>Total</th>
                             </tfoot>-->
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                      <div class="row">

                        <div class="col-md-9">

                        </div>
                        <!-- /.col -->
                        <div class="col-md-3">
                          <div class="card-box table-responsive">
                            <table class="display table-bordered" >
                              <tbody>
                                <tr>
                                  <th style="width:50%">Subtotal:</th>
                                  <td>{{ data.subtotal }}</td>
                                </tr>
                                <tr>
                                  <th>Discount </th>
                                  <td>{{ data.discount }}</td>
                                </tr>
                                <tr>
                                  <th>SGST:</th>
                                  <td>{{ data.sgst }}</td>
                                </tr>
                                <tr>
                                  <th>CGST:</th>
                                  <td> {{ data.cgst }}</td>
                                </tr>
                                <tr>
                                  <th>Total:</th>
                                  <td> {{ data.total }}</td>
                                </tr>
                              </tbody>


                           <tr>

                            </table>
                          </div>
                        </div>
                        <!-- /.col -->


                      </div>&nbsp &nbsp
                      <div class="row">

                        <div class="col-md-10">
                           <h6 style="color:black"><b>PAY To</b></h6>
                              <address>
                                          <strong><b class="text-info">ZIVA TSRTC</b></strong>
                                          <br><b class="text-info">A/C NO : {{ data.accountno }}</b>
                                <br><b class="text-info">IFSC Code : {{ data.IFSC_code }}</b>
                                <br><b class="text-info">Bank Name : {{ data.bankname }}</b>
                                      </address><!-- accepted payments column -->
                              </div>
                       <div class="col-md-2">
                           <h6 style="color:black"><b>For,ZIVA TSRTC</b></h6>
                              <address>
                                <br><img src="{% static 'build/images/sign.jpg' %}" alt="">
                                <br>
                                  <strong><b class="text-info">AUTHORIZED SIGNATORY</b></strong>
                                          <br>
                                      </address><!-- accepted payments column -->
                              </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}