{% extends 'base.html' %}

{% block htmlbody %}
<style>
	.style{
	position: absolute !important;
	width: 100% !important;
	 right: 20px;
	}
	</style>
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                  {% if status  == 'Approved' %}
                    <h3 style="color:#1372ba">Delivery Challan Pending </h3>
                  {% else %}
                     <h3 style="color:#1372ba">Delivery Challan Approve  </h3>
                  {% endif %}
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!----  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> ------>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form  method="POST" action=""  enctype="multipart/form-data">
									{% csrf_token %}
                            <div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">Select Delivery Date</label>
									<input class="form-control" type="date" name="date" placeholder="Select Delivery Date" id="getdate" value="{{ date }}" required>
							</div>
                             <div class="col-md-3 col-sm-3  form-group has-feedback">
                                           <button type="submit" id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>
                        </form>

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                         <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%">
                      <thead>
                        <tr>

                                     <th>S No</th>
                                     <th>Bus station</th>
                                    <th>Store Name</th>
                                    <th>Invoice Number </th>
                                    <th>Delivery Date</th>
                                    <th>Items count</th>
                                    <th>Total</th>
                                    <th>Payment mode</th>
                                    <th>Payment status</th>
                                    <th>Action</th>
                        </tr>
                      </thead>
                            {% for all_data in data %}
                       <a href="sales_item_list_pending/{{ all_data.sonumber }}/"><tr>
                           <td>{{ forloop.counter }}</td>
                           <td>{{ all_data.bus_station }}</td>
                             <td>{{ all_data.storename }}</td>
                        <td> {{ all_data.sonumber }} </td>
                        <td>{{ all_data.delivery_date }}</td>
                       <td style="text-align:center;">{{ all_data.itemcount }}</td>
                             <td class="text-success"><b>₹ &nbsp{{ all_data.total }}</b></td>
                           <td> {{all_data.paymentmode }}</td>
                            {% if  all_data.transaction_status == 'success' or all_data.paymentmode == 'CASH'  %}
                                <td class="text-success">{{ all_data.transaction_status }}</td>
                           {% else %}
                                <td class="text-danger">{{ all_data.transaction_status }}</td>
                           {% endif %}
                           {% if  all_data.transaction_status == 'success' or all_data.paymentmode == 'CASH'  %}
                                <td>
                                   <a href="sale_item_list_approve/{{ all_data.sonumber }}/"><span class="badge badge-warning"><i class="fa fa-check-square-o"></i></span></a>
                                </td>
                           {% else %}
                            <td>
                                 <a href="sales_item_list_pending/{{ all_data.sonumber }}/"><span class="badge badge-info"><i class="fa fa-edit"></i></span></a>
                                    {% if all_data.status == 'Approved' %}
                                <span class="badge badge-danger" data-toggle="modal" onclick="VerifyClick('{{all_data.sonumber}}')"  data-target="#bs-example-modal-sm">PAYMENT</span>
                                {% endif %}
                            </td>
                           {% endif %}

                       </tr></a>
                      {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
                     <!--<div class="inner-fabs">
                                  <div class="fab round" id="fab3" data-tooltip="out pass"><a href="sales_list_outpass"><i class="fa fa-outdent"></i></a></div>
                                  <div class="fab round" id="fab2" data-tooltip="pending"><a href="sales_list"><i class="fa fa-outdent" ></i></a></div></a>
                                    </div>
                                <div class="fab round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                        </div>-->
                </div>
              </div>
            </div>
          </div>
</div>
<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Update Payment</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="deliver_challan_update">
                                                    {% csrf_token %}
                                                  <input type="hidden" id="txtHdnId" name="txtHdnId"  />
                                                 <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                         <!--<label><h4><b>Payment Mode</b></h4></label>-->
                                                 </div>
                                                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                                                <label class="btn btn-round btn-danger">
                                                 <input type="radio" name="paymenttype" id="cash"  value="CASH"  /> CASH
                                                </label>
                                                 </div>
                                                     <div class="col-md-4 col-sm-4  form-group has-feedback">
                                                   <label class="btn btn-round btn-primary">
                                                 <input type="radio" name="paymenttype" id="upi"  value="UPI"  /> UPI
                                                </label>
                                                     </div>

                                                 <div class="col-md-4 col-sm-4  form-group has-feedback">
                                                   <label class="btn btn-round btn-success">
                                                 <input type="radio" name="paymenttype" id="scanner" value="scanner" /> Scanner
                                                </label>
                                                 </div>

                                                 <div class="col-md-6 col-sm-6  form-group has-feedback">
											    <button class="btn btn-primary submit-btn" id="complete">complete</button>
                                                    </div>
                                               <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                    <!--<button class="btn btn-info submit-btn" id="paytmWithPaytm">Pay now</button>-->
                                                   <a href="payment" class="btn btn-info submit-btn" id="paytmWithPaytm">Pay now</a>

        </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
 <div class="inner-fabs">

                                  <div class="fab bg-green round" id="fab3"><a href="sales_list_outpass"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -145px !important;">Tax Invoice</span></div>
                                 <div class="fab bg-yellow round" id="fab2"><a href="sales_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Pending</span></div>
                              </div>
                               <div class="fab bg-purple round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
<script>
function VerifyClick(id,id1,id2,id3,id4){
$("#qty").val(id1);
$("#nob").val(" ");
$("#price").val(id2);
$("#txtHdnId").val(id);
$("#cases").val(id3)
$("#mrp").val(id4)
}



</script>
{% endblock %}

