{% extends 'base.html' %}

{% block htmlbody %}
<style>
	.style{
	position: absolute !important;
	width: 80% !important;
	 right: 20px;
	}
	.style1{
	position: absolute !important;
	width: 60% !important;
	margin-left:75px;
	}
	</style>
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                   {% if status  == 'Approved' %}
                        <h3 style="color:#1372ba">Delivery Challan Pending </h3>
                  {% else %}
                     <h3 style="color:#1372ba">Delivery Challan Approve</h3>
                  {% endif %}
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!----  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> ------>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form  id="myForm" method="POST" action=""  enctype="multipart/form-data">
									{% csrf_token %}
                                        <div  class="col-md-2  form-group has-feedback">
													<label> Warehouse</label>
											 <input type="hidden" name="warehousename1" id="warehousename1" value=" {{ request.POST.warehousename1 }} " />

                                <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{ request.POST.warehousename1 }}</option>
												</select>
												<select class="form-control" name="warehouseid1" id="warehouseid1">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
												</select>
										</div>
											<div  class="col-md-2  form-group has-feedback">
                                                 <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid1 }}">{{ request.POST.regionname1 }}</option>
												</select>
													<label> Region</label>
											 <input type="hidden" name="regionname1" id="regionname1" />

												<select class="form-control" name="regionid1" id="regionid1">
													<option value="All">All</option>
												</select>
										</div>
											<div  class="col-md-2  form-group has-feedback">
                                                  <select class="form-control" name="depoid2" id="depoid2" hidden>
                            		                    <option value="{{ request.POST.depoid1 }}">{{ request.POST.deponame1 }}</option>
												</select>
													<label> Depot</label>
                                                 <input type="hidden" name="deponame1" id="deponame1" />
												<select class="form-control" name="depoid1" id="depoid1">
													<option value="All">All</option>
												</select>
											</div>

										<div  class="col-md-2  form-group has-feedback">
                                              <select class="form-control" name="busstationid2" id="busstationid2" hidden>
                            		                    <option value="{{ request.POST.busstationid1 }}">{{ request.POST.busstationname1 }}</option>
												</select>
													<label> Bus Station</label>
											 <input type="hidden" name="busstationname1" id="busstationname1" />

												<select class="form-control" name="busstationid1" id="busstationid1">
													<option value="All">All</option>
												</select>
										</div>
                            <div class="col-sm-2 col-md-2 form-group has-feedback">
									<label class="focus-label">Select Delivery Date</label>
									<input class="form-control" type="date" name="date" placeholder="Select Delivery Date" id="getdate" value="{{ date }}">
							</div>
                             <div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit"  id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>
                        </form>

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                         <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%">
                      <thead>
                        <tr>

                                     <th>S No</th>
                                     <th>Bus station</th>
                                    <th>Store Name</th>
                                    <th>Invoice Number</th>
                                    <th>Delivery Date</th>
                                    <th>Itemcount</th>
                                    <th>Total</th>
                                      <th>Payment mode</th>
                                    <th>Payment Status</th>
                                    <th>Action</th>
                        </tr>
                      </thead>
                            {% for all_data in data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                           <td>{{ all_data.bus_station }}</td>
                             <td>{{ all_data.storename }}</td>
                           <td>{{ all_data.sonumber }}</td>
                        <td>{{ all_data.delivery_date }}</td>
                       <td style="text-align:center;">{{ all_data.itemcount }}</td>
                             <td class="text-success"><b>₹ &nbsp{{ all_data.total }}</b></td>
                           <td>{{ all_data.paymentmode }}</td>
                            {% if  all_data.transaction_status == 'success'  %}
                                <td class="text-success">{{ all_data.transaction_status }}</td>
                           {% else %}
                                <td class="text-danger">{{ all_data.transaction_status }}</td>
                           {% endif %}
                            {% if  all_data.transaction_status == 'success'  or all_data.paymentmode == 'CASH' %}
                                <td>
                                   <a href="sale_item_list_approve/{{ all_data.sonumber }}/"><span class="badge badge-warning"><i class="fa fa-check-square-o"></i></span></a>
                                      {% if all_data.status == 'Approved' %}
                                    <span class="badge  bg-green" data-toggle="modal" onclick="VerifyClick1('{{all_data.sonumber}}','{{ all_data.paymentmode }}')"  data-target="#Approve">APPROVE</span>
                                    {% endif %}
                                </td>
                           {% else %}
                            <td>
                                 <a href="sales_item_list_pending/{{ all_data.sonumber }}/challan/"><span class="badge badge-info"><i class="fa fa-edit"></i></span></a>
                                <a href="#" onclick="VerifyClick2('{{ all_data.sonumber }}')"><span class="badge badge-danger" data-toggle="modal" data-target="#store-status">
                                                  <i class="fa fa-trash"></i></span></a>
                                    {% if all_data.status == 'Approved' %}
                                <span class="badge  badge-success" data-toggle="modal" onclick="VerifyClick('{{all_data.sonumber}}','{{all_data.total}}')"  data-target="#bs-example-modal-sm">PAYMENT</span>
                                {% endif %}
                            </td>
                           {% endif %}

                      </tr>
                      {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
                     <!--<div class="inner-fabs">
                                  <div class="fab round" id="fab3" data-tooltip="out pass"><a href="sales_list_outpass"><i class="fa fa-outdent"></i></a></div>
                                  <div class="fab round" id="fab2" data-tooltip="pending"><a href="sales_list"><i class="fa fa-outdent" ></i></a></div></a>
                                    </div>
                                <div class="fab round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                        </div>-->
                </div>
              </div>
            </div>
          </div>
</div>

<div class="modal custom-modal fade" id="Approve" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content style1">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							<div class="modal-body">
								  <form method="post" action="deliver_challan_update">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Approve</h3>
									<p>Are you sure want to Approve?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="txtHdnId2" name="txtHdnId2"  />
                                          <input type="hidden" id="paymentmode" name="paymentmode"  />
										<div class="row">
											<div class="col-md-6 col-sm-6">
                                                 <button type="submit" class="btn btn-primary" style="margin-left:50px;" >Yes</button>
                                        </div>
                                        	<div class="col-md-6 col-sm-6">
                                                 <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            </div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>

<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h3 class="modal-title" id="myModalLabel2" style="text-align:center;">Update Payment</h3>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="" id="saleform">
                                                    {% csrf_token %}
                                                  <input type="hidden" id="txtHdnId" name="txtHdnId"  />
                                                   <input type="hidden" id="price" name="price"  />
                                                     <input type="hidden" id="order_id_input" name="order_id_input"  />
                                                        <input type="hidden" id="txnid" name="txnid"  />

                                                      <!--<div style="display: inline-block;">
                                                        <div class="top_tiles" style="width: 1000px;">

                                                            <div class="animated flipInY col-md-4 col-sm-4" style="display: inline-block;">
                                                                <div class="tile-stats">
                                                                    <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                                                                    <h2 class="text-warning" style="margin-left: 10px;">
                                                                        Order Id:         12345
                                                                    </h2>
                                                                    <p class="text-info" style="font-size: 12px;">Amount Payable</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                      </div>-->

                                                   <div class="x_panel" style="background-color:#3A8A78">
                                                   <div class="col-md-7 col-sm-7  form-group has-feedback">
                                                 <label style="color:white;">Order Number</label><br>
                                                   </div>
                                                   <div class="col-md-4 col-sm-4  form-group has-feedback" id="taxinvoice">
                                                 <label style="color:white;"></label><br>
                                                   </div>
                                                     <div class="col-md-8 col-sm-8  form-group has-feedback">
                                                         <label style="color:white;">Amount Payable </label>
                                                     </div>

                                                   <div class="col-md-4 col-sm-4  form-group has-feedback" id="netvalue">
                                                      <label  style="color:white;">₹</label><br>
                                                   </div>
                                                          </div>
                                                <div id="payment_mode">

                                                 <label>Payment mode</label><br>
                                                 <label class="btn btn-round btn-warning" id="btn_cash">
                                                 <input type="radio" name="paymenttype" id="cash"  value="CASH" class="join-btn" onclick="toggleButtonVisibility()" required/> CASH
                                                </label>

                                                  <!-- <label class="btn btn-round btn-warning" id="btn_upi">
                                                 <input type="radio" name="paymenttype" id="upi" value="UPI" class="join-btn" onclick="toggleButtonVisibility()"  /> UPI
                                                </label>-->
                                                   <label class="btn btn-round btn-warning" id="btn_scanner">
                                                 <input type="radio" name="paymenttype" id="scanner" value="SCANNER" class="join-btn" onclick="displayQRCode()" required/> SCANNER
                                                </label>

                                                </div>
                                                 <div id="qrcode-container" style="display:none;">
                                                       <img id="qr-image" src="" alt="QR Code" style="max-width: 200px; max-height: 200px;">

                                                 </div>
                                                <div id="response-container">
                                                 <label id="response_label" style="width:250px;margin-left:40px;color:#EF091E;"></label>
                                                    <label id="response_label1" style="width:250px;margin-left:150px;color:#06911A;"></label>
                                                    </div>
                                                <p></p>


                                                    <div class="col-md-6 col-sm-6   offset-md-3" >
											            <button class="btn btn-primary submit-btn" style="margin-top:10px;" id="completebtn" onclick="submitToPayment()">Complete</button>
                                                        <button class="btn btn-info" id="payment_status"  onclick="qrResponse(event)" style="display:none; width: 250px;margin-left:-27px;" >Check  Payment Status </button>
                                                        <button class="btn  btn-primary submit-btn" id="paytmWithPaytm" onclick="submitFormToPayment()"  style="display:none;">Proceed to pay</button>
                                                    <p></p>
                                                        <p></p>

                                                    </div>
                                            </div>
                                                </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<div class="modal custom-modal fade" id="store-status" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content style1">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							<div class="modal-body">
								  <form method="post" action="delete_deliverchallan">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Delete Sales</h3>
									<p>Are you sure want to Delete?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="deleteid" name="deleteid"  />
                                          <input type="hidden" id="deletesono" name="deletesono"  />
									<div class="row">
											<div class="col-md-6 col-sm-6">
                                                 <button type="submit" class="btn btn-primary" style="margin-left:50px;" >Yes</button>
                                        </div>
                                        	<div class="col-md-6 col-sm-6">
                                                 <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            </div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>

 <div class="inner-fabs">

                                  <div class="fab bg-green round" id="fab3"><a href="sales_admin_approvelist"><i class="fa fa-outdent" style="color:#fff;"></i></a><label class="tooltiptext"  style="margin-left: -145px !important;">Tax Invoice</label></div>
                                 <div class="fab bg-yellow round" id="fab2"><a href="sales_admin_list"><i class="fa fa-outdent" style="color:#fff;"></i></a><label class="tooltiptext"  style="margin-left: -125px !important;">Pending</label></div>
                              </div>

                               <div class="fab bg-purple round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
<script>
function VerifyClick2(id1){
    $("#deletesono").val(id1);
}

  $(document).ready(function() {
    var warehousename = $("#warehouseid2").find(":selected").text();
    console.log(warehousename);
    $.ajax({
        type: "POST",
        url: '{% url "get_storeregion" %}',
        data: {
            'warehouse':warehousename,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
            var obj = data.data.dropdownlist
            var error = data.data.error;
            var message = data.data.message;
            if (error === true) {
                //alertify.set('notifier', 'position', 'top-center');
                //alertify.error(message);
                $("#regionid1").empty();
                $("#regionid1").append("<option  value=''>not available</option>");
            }
            else {
                if (obj) {
                    $("#regionid1").empty();
                     //$("#regionid1").append("<option value='All'>All</option>");
                    $.each(obj, function(index, item) {
                        $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                    var optionValue = $("#regionid2").val();
                    $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
                }
            }
        }
    });

    $("#warehouseid1").change(function() {
        var warehousename = $(this).find(":selected").text();
        var depoid1 = $('#depoid1').find(":selected").text();
        var busstationid1 = $('#busstationid1').find(":selected").text();
        if (depoid1 === 'not available') {
            $("#depoid1").empty();
            $("#depoid1").append("<option value='All'>All</option>");
        }
         if (busstationid1 === 'not available') {
            $("#busstationid1").empty();
            $("#busstationid1").append("<option value='All'>All</option>");
        }
        $.ajax({
            type: "POST",
            url: '{% url "get_storeregion" %}',
            data: {
                'warehouse':warehousename,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {

                var obj = data.data.dropdownlist
                var error = data.data.error;
                var message = data.data.message;
                if (error === true) {
                    //alertify.set('notifier', 'position', 'top-center');
                    //alertify.error(message);
                    $("#regionid1").empty();
                    $("#regionid1").append("<option  value=''>not available</option>");
                }
            else {
                if (obj) {
                    $("#regionid1").empty();
                   // $("#regionid1").append("<option value='All'>All</option>");
                    $.each(obj, function(index, item) {
                    $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                }
            }
         }
        });
    });
 });

   $(document).ready(function() {
    // Get the initial warehouse name
    var warehousename = $("#warehouseid2").find(":selected").text();
    var regionname = $("#regionid2").val();
    // Send an AJAX request to get the storeregion dropdown options
    $.ajax({
        type: "POST",
        url: '{% url "get_storedepo" %}',
      data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
        success: function(data) {
            var obj = data.data.dropdownlist
            var error = data.data.error;
            var message = data.data.message;
            if (error === true) {
                //alertify.set('notifier', 'position', 'top-center');
                //alertify.error(message);
                $("#depoid1").empty();
                $("#depoid1").append("<option  value=''>not available</option>");
            }
            else {
                if (obj) {
                    $("#depoid1").empty();
                    //$("#depoid1").append("<option  value='All'>All</option>");
                    $.each(obj, function(index, item) {
                        $("#depoid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                     var optionValue = $("#depoid2").val();
                     $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
                }
            }
        }
    });
    	$("#regionid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $('#regionid1').val();
        	var regionname = $('#regionid1').val();
        	var depoid1 = $('#depoid1').find(":selected").text();
            var busstationid1 = $('#busstationid1').find(":selected").text();
            if (depoid1 === 'not available') {
                $("#depoid1").empty();
                $("#depoid1").append("<option value='All'>All</option>");
            }
             if (busstationid1 === 'not available') {
                $("#busstationid1").empty();
                $("#busstationid1").append("<option value='All'>All</option>");
            }
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 	var obj = data.data.dropdownlist
                var error = data.data.error;
                var message = data.data.message;
                if (error === true) {
                    //alertify.set('notifier', 'position', 'top-center');
                    //alertify.error(message);
                    $("#depoid1").empty();
                    $("#depoid1").append("<option  value=''>not available</option>");
                }
                else {
					if(obj) {
			 		$("#depoid1").empty();
			 		//$("#depoid1").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#depoid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
                }

            }
        	});
    	});
 });
    $(document).ready(function() {
    		var warehousename = $('#warehouseid2').find(":selected").text();
        	var regionname = $('#regionid2').val();
        	var depo = $('#depoid2').val()
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
                    var error = data.data.error;
                    var message = data.data.message;
                    if (error === true) {
                        //alertify.set('notifier', 'position', 'top-center');
                        //alertify.error(message);
                        $("#busstationid1").empty();
                        $("#busstationid1").append("<option  value=''>not available</option>");
                    }
                    else {
                        if(obj) {
                            $("#busstationid1").empty();
                            //$("#busstationid1").append("<option  value='All'>All</option>");
                            $.each(obj, function (index, item) {
                            $("#busstationid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
                            });
                            var optionValue = $("#busstationid2").val();
                            $("#busstationid1").find("option[value='" + optionValue + "']").prop("selected", true);
                	    }
                	}
             	}
        	});

    	$("#depoid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $('#regionid1').val();
            	var busstationid1 = $('#busstationid1').find(":selected").text();
        	if (busstationid1 === 'not available') {
                $("#busstationid1").empty();
                $("#busstationid1").append("<option value='All'>All</option>");
            }
        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
                    var obj = data.data.dropdownlist
                    var error = data.data.error;
                    var message = data.data.message;
                    if (error === true) {
                        //alertify.set('notifier', 'position', 'top-center');
                        //alertify.error(message);
                        $("#busstationid1").empty();
                        $("#busstationid1").append("<option  value=''>not available</option>");
                    }
                    else {
                            if(obj) {
                                $("#busstationid1").empty();
                                //$("#busstationid1").append("<option  value='All'>All</option>");
                                $.each(obj, function (index, item) {
                                $("#busstationid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
                                });

                            }
                    }
                }
        	});
        });
});
 $("#warehouseid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename1").val(selectedOptionText);
});
$("#regionid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname1").val(selectedOptionText);
});
$("#depoid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
("#deponame1").val(selectedOptionText);
});
$("#busstationid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname1").val(selectedOptionText);

});
$(document).ready(function(){
  var optionValue = $("#warehouseid2").val();
  $("#warehouseid1").find("option[value='" + optionValue + "']").prop("selected", true);
})
$("#button1").click(function() {
  var selectedOptionText = $('#warehouseid1').find(":selected").text();
  $("#warehousename1").val(selectedOptionText);
   var selectedOptionText = $('#regionid1').find(":selected").text();
  $("#regionname1").val(selectedOptionText);
   var selectedOptionText = $('#depoid1').find(":selected").text();
  $("#deponame1").val(selectedOptionText);
  var selectedOptionText = $('#busstationid1').find(":selected").text();
  $("#busstationname1").val(selectedOptionText);
});

window.onload=function()
{
$(".join-btn").on('change', function(e){
console.log(e.currentTarget);
   var id=e.currentTarget.id;
   $(".btn-round").removeClass("btn-primary");
   $(".btn-round").addClass("btn-warning");
   $("#btn_"+e.currentTarget.id+"").removeClass("btn-warning");
   $("#btn_"+e.currentTarget.id+"").addClass("btn-primary");
});
}
function VerifyClick(id,id1){
$("#price").val(id1);
$("#txtHdnId").val(id);
 $("#taxinvoice label").text(id);
$("#netvalue label").text('₹' + id1);

}
function VerifyClick1(id,id1){
$("#txtHdnId2").val(id);
$('#paymentmode').val(id1);
}
function displayQRCode() {
  // Check if the radio button is checked
  var scannerRadioButton = document.getElementById("scanner");
  var paytmButton = document.getElementById("paytmWithPaytm");
  var completeButton = document.getElementById("completebtn");
  if (scannerRadioButton.checked) {
        paytmButton.style.display = "none";
        completeButton.style.display = "none";// Make an AJAX request to the server
        var amount = document.getElementById("price").value;

    $.ajax({
      url: "/qr_code",
      type: "POST",
      dataType: "json",
      data: {
        'amount':amount,
        'csrfmiddlewaretoken': '{{ csrf_token }}' // Your request parameters
      },
      success: function (data,order_id) {
        // Retrieve the image URL from the response
        var imageURL = data.data.image;

        // Create an image element
        var qrImage = new Image();
        // Set the source of the image to the retrieved URL
        var qrcodeContainer = document.getElementById("qrcode-container");
        qrImage.src = 'data:image/png;base64,' + imageURL;
        qrImage.style.maxWidth = '150px'; // Adjust the width as desired
        qrImage.style.maxHeight = '150px';
        qrImage.style.marginLeft = '110px';
        // Display the QR code container
        document.getElementById("qrcode-container").style.display = 'block';

        // Get the reference to the qrcode-container div
       // var qrcodeContainer = document.getElementById("qrcode-container");

        // Clear any existing contents in the div
        qrcodeContainer.innerHTML = '';

        // Append the image to the container
        qrcodeContainer.appendChild(qrImage);
        document.getElementById("payment_status").style.display = 'block';
        var orderInput = document.getElementById('order_id_input');
        orderInput.value = data.data.id;
        var successMessage = document.createElement('p');
        //successMessage.textContent = 'Transaction success!';
        //successMessage.style.marginTop = '136px';
        //successMessage.style.marginTop = '10px';

// Append the success message below the QR code
    qrcodeContainer.appendChild(successMessage);
      },
      error: function (xhr, status, error) {
        // Handle error response
        console.error('Error: ' + xhr.status);
      }
    });
  }
  else{
    var qrcodeContainer = document.getElementById("qrcode-container");
    qrcodeContainer.style.display = "none";
  }
}

 function toggleButtonVisibility() {
        var upiRadioButton = document.getElementById("upi");
         var cashRadioButton = document.getElementById("cash");
         var paytmButton = document.getElementById("paytmWithPaytm");
         var qrButton = document.getElementById("payment_status");
         var completeButton = document.getElementById("completebtn");
         var scannerButton = document.getElementById("scanner");
         var qrCode = document.getElementById("qrcode-container");
         var msg = document.getElementById("response_label");
         var msg1 = document.getElementById("response_label1");


        if (cashRadioButton.checked) {
            paytmButton.style.display = "none";
            qrButton.style.display = "none";
            completeButton.style.display = "block";
            qrCode.style.display = "none";
            msg.style.display = "none";
            msg1.style.display = "none";
            completeButton.style.marginTop = "";
        }

        if (scannerButton.checked){
            paytmButton.style.display = "none";
            completeButton.style.display = "block";

        }
    }
    function submitFormToPayment() {
        document.getElementById("saleform").action = "payment";
    }
     function submitToPayment() {
        document.getElementById("saleform").action = "deliver_challan_update";
    }

function qrResponse(event) {
  event.preventDefault();
  var order_id = $('#order_id_input').val();
  $.ajax({
    url: 'qr_response',  // Replace with the actual URL of your Django view
    type: 'POST',
    dataType: 'json',  // Specify the expected response type as JSON
    data: {
      'order_id': order_id,
      'csrfmiddlewaretoken': '{{ csrf_token }}'  // Render the csrf_token using Django template tags
    },
    success: function(response) {
       $('#response_label1').empty();

     $('#qrcode-container').show();
      $('#txnid').val(response.txnId);
     if (response.resultStatus === 'TXN_SUCCESS') {
        $("input[id='cash']").prop('disabled', true);
        $('#response_label').hide();
        $('#response_label1').show();
        $('#response_label1').text(response.resultMsg).css('font-weight', 'bold');
        $('#completebtn').show();
        $('#payment_status').hide();
    }
    else {
        $('#response_label1').hide();
        $('#response_label').show();
        $('#response_label').html('<b>' + response.resultMsg + '</b>');
        $('#completebtn').hide();
        $('#payment_status').show();
    }
    },
    error: function(xhr, status, error) {
      console.log(error);  // Handle any error that occurred during the AJAX request
    }
  });
}






</script>
{% endblock %}

