{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4> Add Sale  Item</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="sale_item_list"><button type="submit" class="btn btn-success">Sale Item List</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
					{% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-success">
                                    <button type="button" class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                     <strong>{{message}}</strong>
                                </div>
                                {% endfor %}
                        {% endif %}
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask"  method="POST" action="sales_item_add"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Item Name Search *</label>
										    	<select class="country form-control" name="itemname" id="itemname" onchange="ItemChange1(this)">
												{% for data in all_data %}
													<option  value="{{ data.itemname }}">{{ data.itemname }}</option>
												{% endfor %}
											</select>
											<input type="hidden" id="txtItemName2" name="txtItemName2" />
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Quantity *</label>
										    <input type="text" class="form-control" placeholder="quantity" name="quantity" id="quantity">
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Batch *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control"  name="expdate" id="expdate" >
										</div>
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Free Quantity *</label>
										    <input type="text" class="form-control" placeholder="free quantity" name="freequantity" id="freequantity">
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control"   id="uom" name="uom" value="{{ data.uom}}"required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="manufacture" value="{{ data.manufacture }}"required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="cpsno" id="cpsno"   value="{{ data.sno }}"required>
										</div>

										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>

										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<input type="hidden" id="store_id" name="store_id" />
												<button type="submit" class="btn btn-success">Add</button>
											</div>
										</div>

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
window.onload=function(){
$("#store_id").val(sessionStorage.getItem("StoreId"));
}
function ItemChange1(e){
	   $("#txtItemName2").val($(e).find(":selected").text());
	}
</script>
{% endblock %}