{% extends 'base.html' %}

{% block htmlbody %}
<style>
	.style{
	position: absolute !important;
	width: 60% !important;
	}
	</style>
 <div class="right_col" role="main">
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>Proforma Invoice</h3>
            </div>

           <!-- <div class="title_right">
              <div class="col-md-6 col-sm-9 offset-md-9">
					<a href="sales_item_add"><button type="submit" class="btn btn-success">Add Item</button></a>
                </div>
          </div>-->
          <div class="clearfix"></div>
            <div class="row">
            <div class="col-md-6 col-md-12">
                <div class="x_panel">
                <div class="x_content">
                                        <form class="form-label-left input_mask"  method="POST" action="proformainvoice"   enctype="multipart/form-data">
										{% csrf_token %}
                                            	<!--<div  class="col-md-3 col-sm-4  form-group has-feedback">
													<label>Select Warehouse</label>
											 <input type="hidden" name="warehousename" id="warehousename" />
												<select class="form-control" name="warehouseid" id="warehouseid">
													<option value="">Warehouse </option>
													{% for data1 in whlist %}
														{% if data1.status == 'Active' %}
                            		                    	<option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif %}
													{% endfor %}
												</select>
										</div>
											<div  class="col-md-3 col-sm-4  form-group has-feedback">
													<label> Region</label>
											 <input type="hidden" name="regionname" id="regionname" />
												<select class="form-control" name="regionid" id="regionid">
													<option value=""> Region</option>
												</select>
										</div>-->
                                            	<div class="col-md-3 col-sm-4 input-icons  form-group has-feedback">
											 <input type="hidden" name="deponame" id="deponame" />
                                                    {% if deponame %}
                                                    	<select class="form-control" name="depoid" id="depoid1">
													<option value="{{  deponame }}"> {{ deponame }}</option>
                                                    </select>
                                                    {% else %}
                                                    <select class="form-control" name="depoid" id="depoid">
                                                      <option value="" >depot </option>
                                                        {% for data in data %}
                                                           <option value="{{ data.id }}">{{ data.name }} </option>
                                                        {% endfor %}
												    </select>
                                                    {% endif %}
                                                </div>
                                        <div class="col-md-3 col-sm-4  form-group has-feedback">
											 <input type="hidden" name="busstationname" id="busstationname" />
                                                {% if bustation %}
												<select class="form-control" name="busstationid" id="busstationid1">
													<option value="{{  bustation }}"> {{ bustation }}</option>
                                                    </select>
                                                {% else %}
                                                    <select class="form-control" name="busstationid" id="busstationid">
													<option value="">bus station</option>
                                                    </select>
                                                {% endif %}
										</div>
                                       <div class="col-md-3 col-sm-4  form-group has-feedback">
											 <input type="hidden" name="stname" id="stname" />
                                              {% if bustation %}
												<select class="form-control" name="stid" id="stid1">
													<option value="{{ stname }}">{{ stname }}</option>
                                                    </select>
                                              {% else %}
                                             <select class="form-control" name="stid" id="stid">
													<option value="">store</option>
                                                    </select>
                                                {% endif %}
										</div>
                                                <div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit" name="add" style="margin-top: 0px;" class="btn btn-primary">Submit</button>
                                       </div>

                                            <input type="hidden" id="txtStoreId" name="txtStoreId" value="{{ stid }}"/>
                                             <input type="hidden" id="lblStoreName1" name="lblStoreName"/>
                                          <!--<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label><b>Store Name  : <span id="lblStoreName" ></span></b></label>
										</div>
                                      <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label><b>GST NO : </b><span id="lblGstNo"></span></label>
										</div>
										<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label><b>Manager : <span id="lblManager"></span></b></label>
										</div>-->
                                        </form>
                </div>
                </div>
                 <div class="x_panel">
                     <div class="x_content">
                                   <form class="form-label-left input_mask"  method="POST" action="sales_item_add"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-3 col-sm-3 input-icons  form-group has-feedback">

                                            <input type="hidden" id="wh_id" name="wh_id" />
                                            <label>Item Name Search *</label>
										    	 <input type="search" id="itemname" autocomplete="off" name="itemname"  class="form-control" />
                                            <input type="hidden" id="txtItemName2" name="txtItemName2" />
										</div>
                                        <div class="col-md-1 col-sm-2  form-group has-feedback">
											<label>Qty In Cases *</label>
										    <input type="text" class="form-control" placeholder="quantity" name="quantity" id="quantity">
										</div>
                                         <div class="col-md-2 col-sm-2 form-group has-feedback">
											<label>No.of bottles *</label>
                                           <input type="text" class="form-control" placeholder="no of bottles" name="freequantity" id="nbottles">
                                       </div>
                                         <div class="col-md-1 col-sm-2 form-group has-feedback">
											<label>Prices *</label>
                                           <input type="text" class="form-control" placeholder="price" name="freequantity" id="price">
                                       </div>
                                        <div class="col-md-1 col-sm-2  form-group has-feedback">
											<label>Batch *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
										<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="expdate" >
										</div>

                                       <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="manufacture" value="{{ data.manufacture }}"required>
										</div>
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="cpsno" id="cpsno"   value="{{ data.sno }}"required>
										</div>
                                      	<div class="col-md-2 col-sm-2  offset-md-12">
                                           <button type="submit" name="add" style="margin-top: 5px;" class="btn btn-primary">Add</button>
                                       </div>

                                       <input type="hidden" id="store_id" name="store_id" />
                                   </form>
                                     </div>
              </div>
              </div>
              <div class="x_panel">

                  <div class="clearfix"></div>
                <div class="x_content">
                  <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>QTY</th>
                                    <th>ExpDate</th>
                                    <th>HSN</th>
                                    <th>Batch</th>
                                    <th>MRP</th>
                                    <th>Manufacture</th>
                                    <th>Action</th>

                        </tr>
                      </thead>
                            <tbody>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                       <td>{{  all_data.expiry_date }}</td>
                        <td>{{ all_data.hsn }}</td>
                       <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.mrp }}</td>
                           <td>{{all_data.manufacturer}}</td>

                       <td>
                           <a href="item_add" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></a>
                            <button type="button" class="btn btn-success" style="padding: 0px 10px !important;" data-toggle="modal"  onclick="VerifyClick('{{ data.so_number }}')" data-target="#complete">COMPLETE SALE</button>
                       </td>
                            </tbody>
                           <tfoot>
                           <tr>
                               <th colspan="9">
                                   Invoice No: {{all_data.so_number}}
            <span style="float:right;">Net : {{all_data.total}}</span>

                               </th>
                          </tr>
                           </tfoot>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                      </table>
                            </div>
                          </div>
                </div>
                </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>

    <div class="modal custom-modal fade" id="complete" role="dialog">
                                       <div class="modal-dialog modal-dialog-centered">
						<div class="modal-content style">
                                <div class="modal-header">
                             <h5 class="modal-title">Complete Sale</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
							<div class="modal-body">
                                             <form method="POST" action="complete_sale">
                                                    {% csrf_token %}
                                                          <input type="hidden" id="txtHdnId" name="txtHdnId"  />


                                               <!--<label class="btn btn-round btn-success">
                                                 <input type="radio" name="paymenttype" id="card" value="CARD" class="join-btn" /> CARD
                                                </label>-->


                                                <label class="btn btn-round btn-warning">
                                                 <input type="radio" name="paymenttype" id="cash"  value="CASH" class="join-btn" /> CASH
                                                </label>


                                                   <label class="btn btn-round btn-primary">
                                                 <input type="radio" name="paymenttype" id="upi" value="UPI" class="join-btn" /> UPI
                                                </label>


                                                 	  <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Delivery date</label>
										        <input type="date" class="form-control" name="date" id="date"  placeholder="remarks" >
										    </div>
                                                  <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Remarks</label>
										        <input type="text" class="form-control" name="remarks" id="remarks"  placeholder="remarks" >
										    </div>
                                                  <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <button type="submit" name="complete" class="btn btn-info">Complete</button>
                                            </div>
  </form>
                                        </div>

                                        </div>
                                    </div>
                                </div>

<script>
window.onload=function(){
 $("#wh_id").val(sessionStorage.getItem("WarehouseId"));
$("#store_id").val(sessionStorage.getItem("StoreId"));

}
function ItemChange1(e){
	   $("#txtItemName2").val($(e).find(":selected").text());
	}
	autocomplete(document.getElementById("itemname"));
 function VerifyClick(id){
$("#date").val("");
$("#remarks").val("");
$("#txtHdnId").val(id);
}
function selectItem(indx)
{
}
function autocomplete(inp) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
   closeAllLists();
   var a, b, i, val = this.value,current_this=this;
    var searchterm = val;
                    $.ajax({
                      data: {"searchterm":searchterm, "store_id":$("#stid").val(),'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_store_data' %}",
                      type: 'POST',
                      success: function(data){
                        console.log(data);
                        var obj = data.data.list;
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", current_this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      current_this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < obj.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
      /*  if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase())  */
        {

          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          b.style.width = "150%";

          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + obj[i].itemname + "</strong> &nbsp;&nbsp;<label>Qty : "+obj[i].qty+"</label>&nbsp;&nbsp; <label> mrp : "+obj[i].mrp+" </label>&nbsp;&nbsp; <label>"+obj[i].manufacturername+"</label>&nbsp;&nbsp; <label>Expiry : "+obj[i].expirydate+"</label>&nbsp;&nbsp; <label>"+obj[i].batchcode+"</label>";

          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + obj[i].itemname + "'>";
          b.innerHTML += "<input type='hidden' value='" + obj[i].itemcode + "'>";
          b.innerHTML += "<input type='hidden' value='" + obj[i].qty + "'>";
          b.innerHTML += "<input type='hidden' value='" + obj[i].expirydate + "'>";
           b.innerHTML += "<input type='hidden' value='" + obj[i].batchcode + "'>";
            b.innerHTML += "<input type='hidden' value='" + obj[i].cp_sno + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;

                            $("#freequantity").val(this.getElementsByTagName("input")[2].value);
                            $("#expdate").val(this.getElementsByTagName("input")[3].value);
                            $("#batchno").val(this.getElementsByTagName("input")[4].value);
                             $("#cpsno").val(this.getElementsByTagName("input")[5].value);

          });
          a.appendChild(b);
        }
      }

                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })

  });

  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });



  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    alert(x[currentFocus]);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}
$("#warehouseid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#stid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#stname").val(selectedOptionText);
});
$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstationid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});
 	$("#depoid").change(function() {

        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_proformabus" %}',
            	data: {
                	'depo':depo,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid").empty();
			 		$("#busstationid").append("<option  value=''>Choose Bus station</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#busstationid").change(function() {
        	var depoid = $('#depoid').val();
        	var busid = $('#busstationid').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_proformastore" %}',
            	data: {
                	'depo':depoid,'busid':busid,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.adminstoremasterlistdata
					if(obj) {
			 		$("#stid").empty();
			 		$("#stid").append("<option  value=''>Choose Store</option>");
                	$.each(obj, function (index, item) {
                    $("#stid").append("<option value='" + item.storecode+ "'>" + item.storename+ "</option>");
					});
                	}
             	}
        	});
    	});
</script>

{% endblock %}