{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Sales Item List</h3>
              </div>
                 <div class="title_right">
                <div class="col-md-6 col-sm-6 offset-md-6">
                      <div style="display: inline-block;">
                            <div class="row" style="display: inline-block;">
                                <div class="top_tiles" style="width: 800px;">
                                    <div class="animated flipInY  col-md-3 col-sm-3">
                                        <div class="tile-stats">
                                            <div class="icon1"><!--<i class="fa fa-bar-chart"></i>--></div>
                                                <h1  style="margin-left: 17px; font-size: 18px; color:#14c38e">{{ id }}</h1>
                                 <!--<p class="text-info" style="font-size: 12px;">Indent from</p>-->
                                        </div>
                                    <div>
                                </div>
                            </div>
<!--<a href="/medeliver_challan">-->
    <button type="button" style="margin-top:10px;" onclick="history.back()" class="btn btn-primary">Go Back</button></a>
                                </div>
                  </div>
              </div>
            </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box ">

                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Invoice Number</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                    <th>Qty(In Bottles)</th>
                                    <th>MRP</th>
                                    <!--<th>ExpDate</th>
                                    <th>Batch</th>
                                      <th>Manufacture</th>-->
                                    <th>Total</th>

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</a></td>
                           <td>{{ all_data.so_number }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                               <td>{{ all_data.noofbottles }}</td>
                           <td>{{ all_data.mrp }}</td>
                       <!--<td>{{  all_data.expiry_date }}</td>
                       <td>{{ all_data.batch_no }}</td>-->
                       <td class="text-success">₹ {{ all_data.total }}</td>
                           <!--<td>{{all_data.manufacturer}}</td>-->

                      {% endfor %}
                      <tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Update Quantity</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="/deliver_challan_item_update">
                                                    {% csrf_token %}
                                            <input type="hidden" id="txtHdnId" name="txtHdnId"  />
                                                 <input type="hidden" id="mrp" name="mrp"  />
                                                   <input type="hidden" id="sno" name="sno"  />
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                        <label>Quantity (In CaseS)</label>
										            <input type="text" class="form-control" placeholder="quantity" name="qty" id="qty">
                                            </div>
                                                   <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                         <label>No Of Bottles</label>
										            <input type="text" class="form-control" placeholder="Number Of Botteles" name="nob" id="nob" readonly>
                                            </div>
                                            <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                <label>Total Price</label>
										        <input type="text" class="form-control" placeholder="Price" name="price" id="price" readonly>
										    </div>
                                                <input type="hidden" name="cases" id="cases" />
<p></p>
                                            <div class="col-md-6 col-sm-6  offset-md-4">
                                                  <button type="submit" class="btn btn-info">Update</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<script>
function VerifyClick(id,id1,id2,id3,id4,id5,id6){
$("#qty").val(id1);
$("#nob").val(id5);
$("#price").val(id2);
$("#txtHdnId").val(id);
$("#cases").val(id3)
$("#mrp").val(id4)
$("#sno").val(id6)
}
        $('#qty').on('input', function()  {
            $("#nob").val(" ");
            $("#price").val(" ");
    	    val  = $("#qty").val();
            val1 = $("#cases").val();
            mrp = $("#mrp").val( );
            val2 =    (val * val1)
            val3 = (val2 * mrp)
            $("#nob").val(val2);
            $("#price").val(" ");
            $("#price").val(val3);

         });
</script>
{% endblock %}


