{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4> Add Sales</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                  <a href="grn_list"><button type="submit" class="btn btn-success">Sales List</button>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>


            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div class="x_content">
									<br />
					 </ul>
					 	</div>
					 {% if messages %}
					 	{% for message in messages %}
					 			<ul class="messages">
    								{% for message in messages %}
									<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    								{% endfor %}
								</ul>

						{% endfor %}
					 {% endif %}

									<form class="form-label-left input_mask"  method="POST" action="sales"   enctype="multipart/form-data">
										{% csrf_token %}
                                   <div class="row">

										<!--<div class="col-md-3 col-sm-6  form-group has-feedback">

											<label>Store name search *</label>
										    	<select class="country form-control" name="store">
												{% for data in list %}
													<option  value="{{ data.store_code}}">{{data.store_name }}</option>
												{% endfor %}
												</select> -->
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Store Name *</label>
										    <input type="text" class="form-control" placeholder="store name" name="storename" value='{{ store_one.store_name }}' readonly>
                                        </div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Number *</label>
										    <input type="text" class="form-control" name="gstnumber" placeholder="GST Number" value='{{ store_one.gst_No }}' readonly>
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Address *</label>
										    <input type="text" class="form-control" name="storeaddress"placeholder="store address" value='{{ store_one.address }}' readonly>
                                        </div>
                                     <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Contact Person *</label>
										    <input type="text" class="form-control" placeholder="contact person" name="contactperson" value='{{ store_one.contact_person }}' readonly>
                                     </div>
                                     <div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
									   <div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-success">Add</button>
											</div>
										</div>
								   </div>
									</div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>

<script type="text/javascript">
        $("#form_new_site").submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                success: function (data) {
                    if (data.hasOwnProperty('store_code')){
                        window.location.href = "{% url 'store_view' %}?id=" + data.store_code;
                    }
                },
                error: function (xhr) {
                    if (xhr.hasOwnProperty("responseJSON") && xhr.responseJSON.hasOwnProperty("msg")) {
                        swal({
                            text: xhr.responseJSON.msg,
                            icon: "error",
                            dangerMode: true,
                        })
                    }
                }
            })
        })

    </script>
{% endblock %}