{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">TaxInvoice List</h3>
              </div>
              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                <!--  <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button> -->
                </div>
            </div>
              </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form  id="myform" method="POST" action=""  enctype="multipart/form-data">
									{% csrf_token %}
                            {% if request.session.role == 'Admin' %}


                              <!-- <div class="col-md-2  form-group has-feedback">
                              <label for="daterangeselect">Frequency</label>
                                                 <select class="form-control" name="range2" id="range2" hidden>
                            		                    <option value="{{ request.POST.range }}">{{ request.POST.from }}</option>
												</select>
                                <input type="hidden" name="from" id="from" />

                              <select id="daterangeselect" class="form-control" name="range" >

                                  {% for selectrange in selectrange %}
                                       <option value="{{ forloop.counter }}">{{ selectrange.type }}</option>
                                  {% endfor %}
                              </select>
                            </div>-->


                            	<div  class="col-md-2  form-group has-feedback">
													<label> Warehouse</label>
											 <input type="hidden" name="warehousename1" id="warehousename1"  value="{{ request.POST.warehousename1 }}"/>
                                                 <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{  request.POST.warehousename1  }}</option>
												</select>
												<select class="form-control" name="warehouseid1" id="warehouseid1">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
												</select>
										</div>
											<div  class="col-md-2  form-group has-feedback">
                                                  <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid1 }}">{{ request.POST.regionname1 }}</option>
												</select>
													<label> Region</label>
											 <input type="hidden" name="regionname1" id="regionname1" />
												<select class="form-control" name="regionid1" id="regionid1">
													<option value="All">All</option>
												</select>
										</div>
											<div  class="col-md-2  form-group has-feedback">
                                                <select class="form-control" name="depoid2" id="depoid2" hidden>
                            		                    <option value="{{ request.POST.depoid1 }}">{{ request.POST.deponame1 }}</option>
												</select>
													<label> Depot</label>
											 <input type="hidden" name="deponame1" id="deponame1" />
												<select class="form-control" name="depoid1" id="depoid1">
													<option value="All">All</option>
												</select>
											</div>

										<div  class="col-md-2  form-group has-feedback">
                                            <select class="form-control" name="busstationid2" id="busstationid2" hidden>
                            		                    <option value="{{ request.POST.busstationid1 }}">{{ request.POST.busstationname1 }}</option>
												</select>
													<label> Bus Station</label>
											 <input type="hidden" name="busstationname1" id="busstationname1" />
												<select class="form-control" name="busstationid1" id="busstationid1">
													<option value="All">All</option>
												</select>
										</div>
                            <div class="col-md-2  form-group has-feedback" id="date-range-fields">
                              <label for="start-date">From Date</label>
                              <input type="date" id="start-date" name="fdate" class="form-control" value="{{ request.POST.fdate }}">
                            </div>

                              <div class="col-md-2  form-group has-feedback"  id="tdate">
                                  <label  for="end-date">To Date</label>
                              <input type="date" id="end-date" name="ldate" class="form-control" value="{{ request.POST.ldate }}">
                            </div>
              {% else %}
                        	<div class="col-sm-3 col-md-3 form-group has-feedback">
									<label class="focus-label">Depot</label>
								     <input type="hidden" name="depotname" id="depotname" />
                                  <input type="hidden" name="wh1" id="wh1" value="{{ mewh }}" />
                                  <input type="hidden" name="reg1" id="reg1" value="{{ mereg }}" />
                                         <input type="hidden" name="depotname1" id="depotname1" value="{{ depo }}" />
												<select class="form-control" name="depoid" id="depoid" >
                                                     <option value=" ">All</option>
                                                    {% for data1 in data1 %}
													    <option value="{{data1.id }}">{{ data1.name }}</option>
                                                    {% endfor %}
												</select>
							</div>

                        	<div class="col-sm-3 col-md-3 form-group has-feedback">
								    <label> Bus Station</label>
                                <input type="hidden" name="busstation1" id="busstation1" value="{{ busstation }}" />
											 <input type="hidden" name="busstationname" id="busstationname" />
												<select class="form-control" name="busstationid" id="busstationid">
													<option value=""> All </option>
												</select>
							</div>
                            <div class="col-sm-2 col-md-2 form-group has-feedback">
									<label class="focus-label">Select Date</label>
									<input class="form-control" type="date" name="date" id="getdate" value="{{ date }}" required>
							</div>


                {% endif %}
<!--<div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit" id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
                                       </div>
                        </form>

						</div>-->
                <div class="x_panel">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                            <colgroup>

    <col span="1" style="visibility: collapse">
  </colgroup>
                      <thead>
                        <tr>
                            <th></th>
                                   <th>S No</th>
                                    <th>Tax Invoice</th>
                                    <th>Sale Invoice</th>
                                    <th>Sales From</th>
                                     <th>Sales To</th>
                                    <th>Item Count</th>

                                    <th>Payment mode</th>
                                    <th>Payment Status</th>
                                    <th>Created on</th>
                                    <th>Amount</th>
                                   <!-- <th>Action</th>-->
                        </tr>
                      </thead>

                            {% for all_data in deliverypendinglist %}
                                    <tr>
<td></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href = "/taxinvoice/{{ all_data.invnumber }}/"  style="color:#14c38e">{{ all_data.invnumber }}</a></td>
                                    <td>{{ all_data.sonumber }}</td>
                                    <td> {{ all_data.fromname }} </td>
                                        <td>{{ all_data.storename }}</td>
                                   <td style="text-align:center;">{{ all_data.itemcount }}</td>

                                            <td>{{ all_data.paymentmode }}</td>
                                        <td>{{ all_data.transactionstatus }}</td>
                                        <td>{{ all_data.createdon }}</td>
                                          <td class="text-success"><b>₹ &nbsp{{ all_data.total }}</b></td>

                                       <!-- <td>
                                            <a href="/deletetax_admin/{{ list.sonumber }}/"><i class="fa fa-trash"></i></a>
                                         </td>-->

                                    </tr>


                        {% endfor %}

                      <tbody>
                      </tbody>
                      </table>
                  </div>
                              <input type="hidden" id="id1" name="id1" />
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
</div>


<script>

$("#daterangeselect").change(function() {
    var selectedOptionText = $(this).find(":selected").text();
    $("#from").val(selectedOptionText);
});
$("#busstationid").change(function() {
    var selectedOptionText = $(this).find(":selected").text();
    $("#busstationname").val(selectedOptionText);
});

$("#depoid").change(function() {
    var selectedOptionText = $(this).find(":selected").text();
    $("#depotname").val(selectedOptionText);
});

 $(document).ready(function() {

        	var depo = $('#depotname1').val()
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_salebus" %}',
            	data: {
                	'depo':depo,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid").empty();
			 		$("#busstationid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
					var optionValue = $("#busstationid2").val();
                    $("#busstationid").find("option[value='" + optionValue + "']").prop("selected", true);
                	}
             	}
        	});
	$("#depoid").change(function() {
        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_salebus" %}',
            	data: {
                	'depo':depo,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid").empty();
			 		$("#busstationid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
});


$(document).ready(function(){
  var optionValue = $("#depotname1").val();
  $("#depoid").find("option[value='" + optionValue + "']").prop("selected", true);
})

	$(document).ready(function() {
    // Get the initial warehouse name
  var warehousename = $("#warehouseid2").find(":selected").text();
    console.log(warehousename);
    $.ajax({
        type: "POST",
        url: '{% url "get_storeregion" %}',
        data: {
            'warehouse':warehousename,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#regionid1").empty();
                 //$("#regionid1").append("<option value='All'>All</option>");
                $.each(obj, function(index, item) {
                    $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                var optionValue = $("#regionid2").val();
                $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
    });

    $("#warehouseid1").change(function() {
        var warehousename = $(this).find(":selected").text();
        $.ajax({
            type: "POST",
            url: '{% url "get_storeregion" %}',
            data: {
                'warehouse':warehousename,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                var obj = data.data.dropdownlist
                if (obj) {
                    $("#regionid1").empty();
                    //$("#regionid1").append("<option value='All'>All</option>");
                    $.each(obj, function(index, item) {
                        $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                    });
                }
            }
        });
    });
 });
 $(document).ready(function() {
    // Get the initial warehouse name
    var warehousename = $("#warehouseid2").find(":selected").text();
    var regionname = $("#regionid2").val();

    // Send an AJAX request to get the storeregion dropdown options
    $.ajax({
        type: "POST",
        url: '{% url "get_storedepo" %}',
      data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#depoid1").empty();
                //$("#depoid1").append("<option  value='All'>All</option>");
                $.each(obj, function(index, item) {
                    $("#depoid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                 var optionValue = $("#depoid2").val();
                 $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
    });
    	$("#regionid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $('#regionid1').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depoid1").empty();
			 		//$("#depoid1").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#depoid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});

                	}
             	}
        	});
    	});
 });
    $(document).ready(function() {
    		var warehousename = $('#warehouseid2').find(":selected").text();
        	var regionname = $('#regionid2').val();
        	var depo = $('#depoid2').val()
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid1").empty();
                    //$("#busstationid1").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
					var optionValue = $("#busstationid2").val();
                    $("#busstationid1").find("option[value='" + optionValue + "']").prop("selected", true);
                	}
             	}
        	});

    	$("#depoid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $('#regionid1').val();
        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid1").empty();
			 		//$("#busstationid1").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});

                	}
             	}
        	});
        });
});
 $("#warehouseid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename1").val(selectedOptionText);
});
$("#regionid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname1").val(selectedOptionText);
});
$("#depoid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
("#deponame1").val(selectedOptionText);
});
$("#busstationid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname1").val(selectedOptionText);

});
$(document).ready(function(){
  var optionValue = $("#warehouseid2").val();
  $("#warehouseid1").find("option[value='" + optionValue + "']").prop("selected", true);
  var optionValue1 = $("#range2").val();
  $("#daterangeselect").find("option[value='" + optionValue1 + "']").prop("selected", true);
})


  // Add an event listener to the form elements
  document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById("myform");

    // Listen for changes in the form elements
    form.addEventListener("change", function() {
      var warehouseValue = document.getElementById("warehouseid1").value;
      var regionValue = document.getElementById("regionid1").value;
      var depotValue = document.getElementById("depoid1").value;
      var busstationValue = document.getElementById("busstationid1").value;


      // Check if any of the fields have a non-"All" value
     if (
        warehouseValue !== "All" ||
         warehouseValue == "All" ||
        //regionValue !== "All" ||
        depotValue !== "All" ||
          depotValue == "All" ||
        busstationValue !== "All" ||
         busstationValue == "All"

      ) {
        form.submit();
      }
            const startDateInput = document.getElementById('start-date');
            const endDateInput = document.getElementById('end-date');


            startDateInput.addEventListener('change', handleFormSubmit);
            endDateInput.addEventListener('change', handleFormSubmit);


            function handleFormSubmit() {

                if (startDateInput.value && endDateInput.value) {

                    const form = document.getElementById('date-form');

                    form.submit();
                }
            }
    });
    form.addEventListener("change", function() {
      // Set the hidden input values before submitting the form
      var selectedOptionText = $('#warehouseid1').find(":selected").text();


      $("#warehousename1").val(selectedOptionText);
      selectedOptionText = $('#regionid1').find(":selected").text();
      $("#regionname1").val(selectedOptionText);
      selectedOptionText = $('#depoid1').find(":selected").text();
      $("#deponame1").val(selectedOptionText);
      selectedOptionText = $('#busstationid1').find(":selected").text();
      $("#busstationname1").val(selectedOptionText);
      var selectedOptionText = $('#daterangeselect').find(":selected").text();
      $("#from").val(selectedOptionText);
 });
  });
</script>

{% endblock %}




