{% extends 'base.html' %}

{% block htmlbody %}

<style>
	.style{
	position: absolute !important;
	width: 120% !important;
	}
</style>

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Depots List</h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="depo_add"><button type="submit" class="btn btn-primary">Add Depot</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>
			  <div class="row">
                 <div class="col-md-12 col-sm-12 ">
				      	<form  method="POST" action=" "   enctype="multipart/form-data">
											{% csrf_token %}
									<div  class="col-md-2 col-sm-2  form-group has-feedback">
													<label>Select Warehouse</label>

										 <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid }}">{{ request.POST.warehousename }}</option>
												</select>
											 <input type="hidden" name="warehousename" id="warehousename" />

												<select class="form-control" name="warehouseid" id="warehouseid">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
														{% if data1.status == 'Active' %}
                            		                    	<option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif %}
													{% endfor %}
												</select>
										</div>
											<div  class="col-md-2 col-sm-2  form-group has-feedback">
													<label> Region</label>
												   <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid }}">{{ request.POST.regionname }}</option>
												</select>
											 <input type="hidden" name="regionname" id="regionname" />
												<select class="form-control" name="regionid" id="regionid">
													<option value="All"> All</option>
												</select>
										</div>

							<div  class="col-md-2 col-sm-2  form-group has-feedback">
                  <button type="submit" id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
				</div>
						</form>
			  </div>


              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="clearfix"></div>

                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Depot Code</th>
                                    <th>Region</th>
                                    <th>Depot</th>
                                    <th>Depot Store Executive</th>
                                    <th>Address</th>
                                     <th>Contact No</th>
                                    <th>Action</th>
                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td><a href = " {{ all_data.depophoto }}">{{ all_data.depocode }}</a></td>
                       <td>{{ all_data.regionname }}</td>
                           <td>{{ all_data.deponame }}</td>
                       <td>{{  all_data.depo_manager}}</td>
                       <td>{{ all_data.address }}</td>
                       <td>{{ all_data.depo_contact_no }}</td>
                           <td>
                        {% if all_data.status == "Active" %}

                                   <a href="#" class="depoedit" onclick="editDepo('{{ all_data.depoid }}')" data-id="{{ all_data.depoid }}"><i class="fa fa-edit"></i></a>
                                    <a href="#" onclick="VerifyClick('{{  all_data.sno }}')"><span class="badge badge-success" data-toggle="modal" data-target="#depo-status">
                                       {{ all_data.status }} </span></a>
                          {% else %}

                                   <a href="#" onclick="VerifyClick1('{{  all_data.sno }}')"><span class="badge badge-danger" data-toggle="modal" data-target="#depo-status1">
                                       {{ all_data.status }}</span></a>

                           {% endif %}
                           </td>
                      </tr>
                      {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div id="depo-edit" class="modal custom-modal fade"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1250px%; !important"  role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h3 class="modal-title">Edit Depot</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
            </div>
            <div class="modal-body">
               <form  method="POST" action="depo_edit"   enctype="multipart/form-data">
											{% csrf_token %}
										<div class="col-md-6 form-group has-feedback">
											<label>Depot Name </label>
										    <input type="text" class="form-control" name="deponame1"  id="deponame1">
										</div>

										<div class="col-md-6  form-group has-feedback">
											<label>Depot Manager </label>
										    <input type="text" class="form-control"  name=" depomanager1" id="depomanager1">
										</div>
                                        <div class="col-md-6 form-group has-feedback">
											<label>Mobile</label>
										    <input type="text" class="form-control"  name="mobileno1" id="mobileno1">
											</div>

										<!--<div class="col-md-6  form-group has-feedback">
											<label>GST Number *</label>
										    <input type="text" class="form-control" name="gstnumber1" id="gstnumber1" required>
										</div>

                                        <div class="col-md-6 form-group has-feedback">
											<label> License *</label>
										    <input type="text" class="form-control" name="license1" id="license1" required>
										</div>-->

												<div  class="col-md-6  form-group has-feedback">
													<input type="hidden" name="regionname1" id="regn" />
													<label>Region </label>
												<select class="form-control" name="regionid1" id="regionid1" >
													{% for data1 in data %}
                            							<option value="{{ data1.region_id }}" selected>{{ data1.regionname }}</option>
                                                    {% endfor %}
												</select>
										</div>


                                        <div class="col-md-6  form-group has-feedback">
											<label>Address </label>
										    <input type="text" class="form-control" name="address1" id="address1" />
										</div>
                                          <input type="hidden" name="depoid" id="depoid" />
                        `
                                          <input type="hidden" name="whid" id="whid" />
                                          <input type="hidden" name="whname" id="whname" />


                   </div>

            <div class="modal-footer">
				 <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
          </form>
        </div>
    </div>
</div>
<div class="modal custom-modal fade" id="depo-status" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
                                	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								  <form method="post" action="depo_status_active">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Status Update</h3>
									<p>Are you sure want to Inactive?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="id" name="id"  />
									<div class="row">
										<div class="col-6">
											<button class="btn btn-primary submit-btn">Yes</button>
										</div>
										<div class="col-6">
											<button  data-dismiss="modal" class="btn btn-danger submit-btn">NO</button>
										</div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>
<div class="modal custom-modal fade" id="depo-status1" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-body">
                                	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								  <form method="post" action="depo_status_inactive">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Status Update</h3>
									<p>Are you sure want to Active?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="id1" name="id"  />
									<div class="row">
										<div class="col-6">
											<button class="btn btn-primary submit-btn">Yes</button>
										</div>
										<div class="col-6">
											<button  data-dismiss="modal" class="btn btn-danger submit-btn">NO</button>
										</div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>
<script>
 function editDepo(id){
      $.ajax({
        url: "{% url 'get_depo' %}",
        type: 'POST',
        data: {
          'id': id,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data.depolist

          	console.log(obj[0].regionname);
             if(obj){
             $("#depoid").val(obj[0].depoid);
             $("#deponame1").val(obj[0].deponame);
             $("#depomanager1").val(obj[0].depo_manager);
             $("#mobileno1").val(obj[0].depo_contact_no);
             $("#gstnumber1").val(obj[0].gst_no);
             $("#whname").val(obj[0].warehouse);
             $("#license1").val(obj[0].licenseno);
             $("#whid").val(obj[0].warehouseid);
             $("#regionid1").val(obj[0].regionid);
             $("#regn").val(obj[0].regionname);
             $("#address1").val(obj[0].address);
             $('#depo-edit').modal('show');
        	}
        }
      });
  }


function VerifyClick(id){
$("#id").val(id);
}
function VerifyClick1(id){
$("#id1").val(id);
}
$("#regionid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regn").val(selectedOptionText);
});

 $(document).ready(function(){
  var optionValue = $("#warehouseid2").val();
  $("#warehouseid").find("option[value='" + optionValue + "']").prop("selected", true);
})
$("#warehouseid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#regionid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname").val(selectedOptionText);
});
$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstationid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});

$("#button1").click(function() {
  var selectedOptionText = $('#warehouseid').find(":selected").text();
  $("#warehousename").val(selectedOptionText);
   var selectedOptionText = $('#regionid').find(":selected").text();
  $("#regionname").val(selectedOptionText);
   var selectedOptionText = $('#depoid').find(":selected").text();
  $("#deponame").val(selectedOptionText);
   var selectedOptionText = $('#busstationid').find(":selected").text();
  $("#bsstationname").val(selectedOptionText);
});


		$("#warehouseid").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storeregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#regionid").empty();
			 		$("#regionid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#regionid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#regionid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depoid").empty();
			 		//$("#depoid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#depoid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});


$(document).ready(function() {
    // Get the initial warehouse name
  var warehousename = $("#warehouseid2").find(":selected").text();

    $.ajax({
        type: "POST",
        url: '{% url "get_storeregion" %}',
        data: {
            'warehouse':warehousename,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#regionid").empty();
                //$("#regionid").append("<option value='All'>All</option>");
                $.each(obj, function(index, item) {
                $("#regionid").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
				 var optionValue = $("#regionid2").val();
                $("#regionid").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
    });
  });



</script>
{% endblock %}
