{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4>Warehouse Master</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="warehouse_add1"><button type="submit" class="btn btn-success">Add Warhouse</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%">
                      <thead>
                        <tr>

                                    <th>Warehouse Code</th>
                                    <th>Warehouse Name</th>
                                    <th>Warehouse Manager</th>
                                    <th>Address</th>
                                     <th>Contact No</th>
                                    <th>GST</th>
                                    <th>Licence</th>
                                    <th>Pan Number</th>
                                    <th>Action</th>
                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                      <td><a href = " {{ all_data.image }}" style="color:#075ab3;">{{ all_data.warehouseid }}</a></td>
                       <td>{{ all_data.warehousename }}</td>
                       <td>{{  all_data.wh_manager}}</td>
                       <td>{{ all_data.address }}</td>
                       <td>{{ all_data.wh_contact_no }}</td>
                       <td><a href="{{ all_data.gstattach }}" style="color:#075ab3;">{{ all_data.gst_no }}</a></td>
                           <td><a href="{{ all_data.licenceattach }}" style="color:#075ab3;">{{ all_data.licenseno}}</a></td>
                           <td><a href="{{ all_data.panattach }}" style="color:#075ab3;">{{ all_data.panno}}</a></td>
                       {% if all_data.status == "Active" %}
                                <td>
                                    <a class="editwh" href="#"  data-id="{{ all_data.warehouseid }}"><i class="fa fa-edit"></i></a>
                                   <a href="warehouse_status_active/{{ all_data.sno }}/" onclick="return confirm('Are you sure to inactive?')"><span class="badge badge-success">
                                       Active </span></a>
                                </td>
                          {% else %}
                                <td>
                                    <a  href="#"  data-id="{{ all_data.warehouseid }}"><i class="edit fa fa-edit"></i></a>
                                     <a href="warehouse_status_inactive/{{ all_data.sno }}" onclick="return confirm('Are you sure to active?')"><span class="badge badge-danger" style="padding: 0px 3px !important;">
                                      Inactive</span></a>
                                </td>
                           {% endif %}
                      </tr>
                      {% endfor %}
                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div id="edit_warehouse" class="modal custom-modal fade"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1250px%; !important"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Warehouse</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/warehouse_edit">
                    {% csrf_token %}

                    <input type="hidden" id="whid" name="whid"  />

                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <label>Warehouse Name *</label>
                        <input type="text" class="form-control" name="warehousename1" id="warehousename1" required>
                    </div>
                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <label>Warehouse Manager  *</label>
                        <input type="text" class="form-control"  name="manager" id="manager"  required>
                    </div>

                    <div class="col-md-4 col-sm-4  form-group has-feedback">
                        <label>Mobile</label>
                        <input type="text" class="form-control"  name="mobilewh" id="mobilewh" required>
                    </div>
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <label>GST *</label>
                        <input type="text" class="form-control" name="gstwh" id="gstwh"  required >
                    </div>

                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <label>Pan Number *</label>
                        <input type="text" class="form-control" name="panwh" id="panwh"  required>
                    </div>
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <label>Licence Number *</label>
                        <input type="text" class="form-control" name="licnumwh" id="licnumwh" required>
                    </div>
                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <label>Address *</label>
                        <input type="text" class="form-control" name="addresswh" id="addresswh"  required>
                    </div>
                    <input type="hidden" name="location" id="location" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$(document).ready(function() {
    $('.editwh').click(function() {
      var id = $(this).data('id');
      $.ajax({
        url: "{% url 'get_warehouse' %}",
        type: 'POST',
        data: {
          'id': id,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data
         alert(obj.warehouseid)
          	console.log(obj.warehouseid);
             if(obj){
             $("#whid").val(obj.warehouseid);
             $("#warehousename1").val(obj.warehousename);
             $("#manager").val(obj.wh_manager);
             $("#mobilewh").val(obj.wh_contact_no);
             $("#gstwh").val(obj.gst_no);
             $("#panwh").val(obj.panno);
             $("#licnumwh").val(obj.licenseno);
             $("#addresswh").val(obj.address);
             $("#location").val(obj.location);
             $('#edit_warehouse').modal('show');
        	}
        }
      });
    });
  });
function VerifyClick(id){
$("#warehousename1").val("");
$("#mobilewh").val("");
$("#gstwh").val("");
$("#panwh").val("");
$("#licnumwh").val("");
$("#addresswh").val("");
$("#location").val("");
$("#txtHdnWhId").val(id);
}
</script>

{% endblock %}

