{% extends 'base.html' %}

{% block htmlbody %}


<!-- page content -->
            <div class="right_col" role="main">
                <div class="row" style="display: block;">
                    <h3>Sales Activity</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                                <div class="tile-stats">
                                    <div class="count" style="color: #3493fb;">228</div>
                                    <span>Qty</span>
                                    <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> TO BE PACKED</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                                <div class="tile-stats">
                                    <div class="count" style="color:red;">6</div>
                                    <span>Pkgs</span>
                                    <p><span class="glyphicon glyphicon-download" aria-hidden="true"></span> TO BE SHIPED</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                                <div class="tile-stats">
                                    <div class="count" style="color:green;">10</div>
                                    <span>Pkgs</span>
                                    <p><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> TO BE DELIVERED</p>
                                </div>
                            </div>
                            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 ">
                                <div class="tile-stats">
                                    <div class="count" style="color: #3493fb;">474</div>
                                    <span>Pkgs</span>
                                    <p><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> TO BE INVOICED</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                 <div class="col-md-4 col-sm-4 ">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Device Usage</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Settings 1</a>
                          <a class="dropdown-item" href="#">Settings 2</a>
                        </div>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Top 5</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 ">
                          <p class="">Device</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 ">
                          <p class="">Progress</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                        <table class="tile_info">
                          <tr>
                            <td>
                              <p><i class="fa fa-square blue"></i>IOS </p>
                            </td>
                            <td>30%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square green"></i>Android </p>
                            </td>
                            <td>10%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square purple"></i>Blackberry </p>
                            </td>
                            <td>20%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square aero"></i>Symbian </p>
                            </td>
                            <td>15%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square red"></i>Others </p>
                            </td>
                            <td>30%</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            </div>
        </div>

        <!-- /page content -->

{% endblock %}