{% extends 'base.html' %}

{% block htmlbody %}
<style>
     .row3{
        color: white;
        background-color:#ff7f50!important;
}
.total{
 color: black;
        background-color: #e39010  !important;
}
.row4{
        color: white;
        background-color:#08aca2 !important;
}
.row5{
 color: white;
        background-color:#767CDE !important;
}
</style>
  <!-- page content -->
            <div class="right_col" role="main">
                <div class="row" style="display: inline-block;">

                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="col-md-4 col-sm-4">
                                    <table class="table" border="1">
                                        <thead>
                                            <tr>
                                                <th class="row3" rowspan="2">Total Supply from theManufacturer </th>
                                                <th class="row3"  colspan="3">Product</th>
                                            </tr>
                                            <tr>
                                                <th class="row3">1000ml</th>
                                                <th class="row3">500ml</th>
                                                <th class="row3">250ml</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Aquafeena</td>
                                                <td>200</td>
                                                <td>9113</td>
                                                <td>250</td>
                                            </tr>
                                            <tr>
                                                <td>Sippy Beverages</td>
                                                <td>6959</td>
                                                <td>9659</td>
                                                <td>252</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4" style="padding: 1px !important;"></th>
                                            </tr>
                                            <tr>
                                                <th class="total">Grand Total</th>
                                                <td>7159</td>
                                                <td>18772</td>
                                                <td>502</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                   <div class="col-md-1 col-sm-1">
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <canvas class="canvasDoughnut1" height="200" width="200" style="margin: 15px 10px 10px 0"></canvas>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div id="graph_bar" style="width:100%; height:200px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="col-md-4 col-sm-4">
                                    <table class="table" border="1">
                                        <thead>
                                            <tr>
                                                <th class="row4" rowspan="2">Utilised Stock Warehouse </th>
                                                <th class="row4" colspan="3">Product</th>
                                            </tr>
                                            <tr>

                                                <th class="row4">1000ml</th>
                                                <th class="row4">500ml</th>
                                                <th class="row4">250ml</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Karimnagar</td>
                                                <td>200</td>
                                                <td>9113</td>
                                                <td>250</td>
                                            </tr>
                                            <tr>
                                                <td>Uppal</td>
                                                <td>6959</td>
                                                <td>9659</td>
                                                <td>252</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4" style="padding: 1px !important;"></th>
                                            </tr>
                                            <tr>
                                                <td class="total">Grand Total</td>
                                                <td>7159</td>
                                                <td>18772</td>
                                                <td>502</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                 <div class="col-md-1 col-sm-1">

                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <canvas class="canvasDoughnut2" height="200" width="200" style="margin: 15px 10px 10px 0"></canvas>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div id="graph_bar2" style="width:100%; height:200px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="col-md-4 col-sm-4">
                                    <table class="table" border="1">
                                        <thead>
                                            <tr>
                                                <th class="row5" colspan="4">Days of Stock Available</th>
                                            </tr>
                                            <tr>
                                                <td>Warehouse</td>
                                                <td>1000ml</td>
                                                <td>500ml</td>
                                                <td>250ml</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Karimnagar</td>
                                                <td>200</td>
                                                <td>9113</td>
                                                <td>250</td>
                                            </tr>
                                            <tr>
                                                <td>Uppal</td>
                                                <td>6959</td>
                                                <td>9659</td>
                                                <td>252</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4" style="padding: 1px !important;"></th>
                                            </tr>
                                            <tr>
                                                <td class="total">Grand Total</td>
                                                <td>7159</td>
                                                <td>18772</td>
                                                <td>502</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                 <div class="col-md-1 col-sm-1">

                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <canvas class="canvasDoughnut3" height="200" width="200" style="margin: 15px 10px 10px 0"></canvas>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div id="graph_bar3" style="width:100%; height:200px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br />
            </div>
        </div>
        <!-- /page content -->

{% endblock %}