{% extends 'base.html' %}

{% block htmlbody %}
<style>
#datatable-buttons {
    overflow-x: scroll !important;
}
</style>
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Zonal Storewise Stock Issued To AC & Super Luxury Services</h3>
              </div>

              <div class="title_right">
                <!--<div class="col-md-6 col-sm-6 offset-md-10">
                    <a href="#"><button type="submit" data-toggle="modal" data-target="#add_consumption" class="btn btn-primary"  >Add </button></a>
                </div>-->

            </div>
              </div>
           <div class="clearfix"></div>
                 <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form id="myform" method="POST" action="/intconsumption_report"  enctype="multipart/form-data">
									{% csrf_token %}

                             <div class="col-md-2  form-group has-feedback" id="date-range-fields" >
                              <label for="start-date">From Date</label>
                              <input type="date" name="fdate" id="start-date" class="form-control" value="{{ fdate }}">
                            </div>
                              <div class="col-md-2  form-group has-feedback" id="tdate" >
                                  <label  for="end-date">To Date</label>
                              <input type="date" id="end-date" name="ldate" class="form-control" value="{{ tdate }}">
                            </div>
                            	<div  class="col-md-2  form-group has-feedback">
													<label> Warehouse</label>
                                         <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{ request.POST.warehousename1 }}</option>
                                         </select>
											 <input type="hidden" name="warehousename1" id="warehousename1" value="{{  request.POST.warehousename1 }}"/>
												<select class="form-control" name="warehouseid1" id="warehouseid1">
													<option value="">selcet warehouse</option>
													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
                                                </select>
                                </div>
											<div  class="col-md-2  form-group has-feedback">
													<label> Region</label>
                                              <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid1 }}">{{ request.POST.regionname1 }}</option>
												</select>
											 <input type="hidden" name="regionname1" id="regionname1" value="{{ request.POST.regionname1 }}"/>
												<select class="form-control" name="regionid1" id="regionid1">
													<option value="">select region</option>
                                                    {% for data1 in regionlist %}
                            		                    <option value="{{ data1.region_id }}">{{ data1.regionname }}</option>
                                                     {% endfor %}
												</select>
										    </div>
											<div  class="col-md-2  form-group has-feedback">
                                                  <select class="form-control" name="depoid2" id="depoid2"  hidden>
                            		                    <option value="{{ request.POST.depoid1 }}">{{ request.POST.deponame1 }}</option>
												</select>
													<label> Depot</label>
											 <input type="hidden" name="deponame1" id="deponame1" value="{{ request.POST.deponame1 }}" />
												<select class="form-control" name="depoid1" id="depoid1">
													<option value="All">All</option>
                                                    {% for data1 in depolist %}
                            		                    <option value="{{ data1.depoid }}">{{ data1.deponame }}</option>
                                                     {% endfor %}
												</select>

                            </div>

                        </form>
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
            <div class="card-box table-responsive" style="overflow:hidden;">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                                <p></p>
                        <!--<table id="datatable-buttons" class="display table-bordered" style="width:100%">
                                <table id="datatable" class="display table-striped table-bordered" style="width:100%">-->
                                    <table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%;overflow:hidden;">
                      <thead>
                      <tr>
                           <th colspan="16" style="text-align:center;">STATUS OF 500ML ZIVA WATER BOTTLES IN DEPOTS ISSUED TO AC & SUPER-LUXURY SERVICES</th>
                        <tr>

                                    <th rowspan="3">SNo</th>
                                    <th rowspan="3">Zone</th>
                                    <th rowspan="3">Region</th>
                                    <th rowspan="3">Depot</th>
                                    <th colspan="3" style="text-align:center;">No Of Services</th>
                                    <th colspan="6" style="text-align:center;">Consumption</th>
                                    <th rowspan="3">Present day stock available(Cases)</th>
                                    <th rowspan="3">Stock(cases) Available Days</th>
                                  <th rowspan="3">Average Consumption</th>
                        </tr>

                            <tr>
                                <th rowspan="2">AC</th>
                                <th rowspan="2">S/L</th>
                                <th rowspan="2">TOTAL</th>
                                <th colspan="2">AC</th>
                                <th colspan="2">S/L</th>
                                <th colspan="2">TOTAL</th>
                            </tr>
                      <tr>

                          <th>(Cases)</th>
                          <th>(Bottles)</th>
                           <th>(Cases)</th>
                          <th>(Bottles)</th>
                           <th>(Cases)</th>
                          <th>(Bottles)</th>

                      </tr>
                      </thead>
                            <tbody>
                                {% for  data in  servicereportslist %}
                                <tr>
                                <td>{{ forloop.conter }}</td>
                                <td>{{ data.warehouse_name }}</td>
                                <td>{{ data.region_name }}</td>
                                 <td>{{ data.depot_name }}</td>
                                 <td>{{ data.noof_services_ac }}</td>
                                 <td>{{ data.noof_services_sl }}</td>
                                 <td>{{ data.noof_services_total }}</td>
                                 <td>{{ data.con_ac_incases }}</td>
                                 <td>{{ data.con_ac_inbottles }}</td>
                                 <td>{{ data.con_sl_incases }}</td>
                                 <td>{{ data.con_sl_inbottles }}</td>
                                 <td>{{ data.con_total_incases }}</td>
                                 <td>{{ data.con_total_inbottles }}</td>
                                 <td>{{ data.presentday_stock_available }}</td>
                                 <td>{{ data.stock_available_days }}</td>
                                 <td>{{ data.avg_consumption }}</td>
                                    </tr>

                            {% endfor %}
                      </tbody>
                      </table>
                  </div>

            </div>
                </div>
              </div>
            </div>
          </div>
</div>
             </div>
          </div>
</div>

<script>
  $("#warehouseid1").change(function() {
     $("#depoid1").val('');
     $("#regionid1").val('');
    var form = document.getElementById("myform");
    form.submit();
  });
  $("#regionid1").change(function() {
    $("#depoid1").val('');
    $("#warehouseid1").val('');
    var form = document.getElementById("myform");
    form.submit();
  });
  $("#depoid1").change(function() {
     $("#warehouseid1").val('');
    $("#regionid1").val('');
    var form = document.getElementById("myform");
    form.submit();
  });
  $("#start-date,#end-date").change(function() {
        var form = document.getElementById("myform");
        var startDateInput = document.getElementById("start-date");
        var endDateInput = document.getElementById("end-date");
        if (startDateInput.value || endDateInput.value) {
          form.submit();
        }
  });
  $("#warehouseid1").change(function() {
      var selectedOptionText = $('#warehouseid1').find(":selected").text();
      $("#warehousename1").val(selectedOptionText);

  });
  $("#regionid1").change(function() {
      selectedOptionText2 = $('#regionid1').find(":selected").text();
      $("#regionname1").val(selectedOptionText);

  });
  $("#depoid1").change(function() {
          selectedOptionText3 = $('#depoid1').find(":selected").text();
          $("#deponame1").val(selectedOptionText);
  });
    $(document).ready(function() {
       var optionValue = $("#warehouseid2").val();
        $("#warehouseid1").find("option[value='" + optionValue + "']").prop("selected", true);
          var optionValue = $("#regionid2").val();
        $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
          var optionValue = $("#depoid2").val();
        $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
    });
</script>
{% endblock %}