{% extends 'base.html' %}

{% block htmlbody %}
<style>
#datatable-buttons {
    overflow-x: scroll !important;
}
</style>
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Stock In Depots Issued To AC  And SUPER LUXURY Services</h3>
              </div>

              <div class="title_right">
                <!--<div class="col-md-6 col-sm-6 offset-md-10">
                    <a href="#"><button type="submit" data-toggle="modal" data-target="#add_consumption" class="btn btn-primary"  >Add </button></a>
                </div>-->

            </div>
              </div>
           <div class="clearfix"></div>
                 <div class="col-md-12 col-sm-12 ">
                               			<!-- Search Filter -->
						<form id="myform" method="POST" action="/intconsumption_servicereport"  enctype="multipart/form-data">
									{% csrf_token %}

                             <div class="col-md-2  form-group has-feedback" id="date-range-fields">
                              <label for="start-date">From Date</label>
                              <input type="date" name="fdate" id="start-date" class="form-control" value="{{ fdate }}">
                            </div>
                              <div class="col-md-2  form-group has-feedback" id="tdate" >
                                  <label  for="end-date">To Date</label>
                              <input type="date" id="end-date" name="ldate" class="form-control" value="{{  tdate }}">
                            </div>
                            {% if request.session.role == 'Admin' %}
                            	<div  class="col-md-2  form-group has-feedback">
													<label> Warehouse</label>
                                         <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{ request.POST.warehousename1 }}</option>
                                         </select>
											 <input type="hidden" name="warehousename1" id="warehousename1" value="{{  request.POST.warehousename1 }}"/>
												<select class="form-control" name="warehouseid1" id="warehouseid1">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
                                                </select>
                                </div>
											<div  class="col-md-2  form-group has-feedback">
													<label> Region</label>
                                              <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid1 }}">{{ request.POST.regionname1 }}</option>
												</select>
											 <input type="hidden" name="regionname1" id="regionname1" value="{{ request.POST.regionname1 }}"/>
												<select class="form-control" name="regionid1" id="regionid1">
													<option value="">select region</option>
												</select>
										    </div>
                            {% endif %}
                            {% if request.session.role == 'Admin' or request.session.displayrole == 'REGIONAL MANAGER' %}
											<div  class="col-md-2  form-group has-feedback">
                                                <input type="hidden" id="sessionRegionId" value="{{ request.session.regionid }}">
                                            <input type="hidden" id="sessionRegionName" value="{{ request.session.region }}">
                                            <input type="hidden" id="displayrole" value="{{ request.session.displayrole }}">
                                                  <select class="form-control" name="depoid2" id="depoid2"  hidden>
                            		                    <option value="{{ request.POST.depoid1 }}">{{ request.POST.deponame1 }}</option>
												</select>
													<label> Depot</label>
											 <input type="hidden" name="deponame1" id="deponame1" value="{{ request.POST.deponame1 }}" />
												<select class="form-control" name="depoid1" id="depoid1">
													<option value="">All</option>
												</select>

                            </div>
                              {% endif %}
                        </form>

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
            <div class="card-box table-responsive" style="overflow:hidden;">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                                <p></p>
<button id="export-btn" type="button" class="btn btn-primary" style="margin-left:500px;margin-top:-15px;">Excel</button>
                                    <table id="example" class="display table-striped table-bordered" style="width:100%;overflow:hidden;">
                      <thead>
                      <tr>
                           <th colspan="10" style="text-align:center;">STATUS OF 500ML ZIVA WATER BOTTLES IN DEPOTS ISSUED TO AC & SUPER-LUXURY SERVICES</th>
                        <tr>

                                    <th rowspan="2">S No</th>
                                    <th rowspan="2">Zone</th>
                                    <th rowspan="2">Region</th>
                                    <th rowspan="2">Depot</th>
                                    <th  colspan="3" style="text-align:center;">No Of Services</th>
                                    <th  colspan="3"style="text-align:center;">Issued to no of services</th>


                        </tr>

                            <tr>
                                <th >AC</th>
                                <th>S/L</th>
                                <th>TOTAL</th>
                                <th>AC</th>
                                <th>S/L</th>
                                <th>TOTAL</th>
                            </tr>

                      </thead>
                            <tbody>

                            {% for data in intercondepowiselist %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.warehouse_name }}</td>
                                <td>{{ data.region_name }}</td>
                                <td>{{ data.depot_name }}</td>
                                <td>{{ data.noof_services_ac }}</td>
                                <td>{{ data.noof_services_sl }}</td>
                                <td>{{ data.noof_services_total }}</td>
                                <td>{{ data.issuedto_noof_services_ac }}</td>
                                <td>{{ data.issuedto_noof_services_sl }}</td>
                                <td>{{ data.issuedto_noof_services_total }}</td>
                                </tr>
                            {% endfor %}
                      </tbody>
                      </table>
                  </div>

            </div>
                </div>
              </div>
            </div>
          </div>
</div>
             </div>
          </div>
</div>

<script>

  $("#warehouseid1, #regionid1,#depoid1").change(function() {
    var form = document.getElementById("myform");
    form.submit();
  });



  $("#start-date,#end-date").change(function() {
        var form = document.getElementById("myform");
        var startDateInput = document.getElementById("start-date");
        var endDateInput = document.getElementById("end-date");
        if (startDateInput.value && endDateInput.value) {
          form.submit();
        }
  });

    $("#warehouseid1").change(function() {
      var selectedOptionText = $('#warehouseid1').find(":selected").text();
      $("#warehousename1").val(selectedOptionText);
    });
      $("#regionid1").change(function() {
          selectedOptionText2 = $('#regionid1').find(":selected").text();
          $("#regionname1").val(selectedOptionText);
      });
        $("#depoid1").change(function() {
          selectedOptionText2 = $('#regionid1').find(":selected").text();
          $("#deponame1").val(selectedOptionText);
      });


    $(document).ready(function() {
       var optionValue = $("#warehouseid2").val();
       $("#warehouseid1").find("option[value='" + optionValue + "']").prop("selected", true);
       var optionValue = $("#regionid2").val();
       $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
       var optionValue = $("#depoid2").val();
       $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
             });
     $("#warehouseid1").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storeregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#regionid1").empty();
			 		$("#regionid1").append("<option  value=''>Choose region</option>");
                	$.each(obj, function (index, item) {
                    $("#regionid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#regionid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depoid1").empty();
			 		//$("#depoid1").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#depoid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});

    	$(document).ready(function() {
              var warehousename = $("#warehouseid2").find(":selected").text();

                $.ajax({
                    type: "POST",
                    url: '{% url "get_storeregion" %}',
                    data: {
                        'warehouse':warehousename,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(data) {
                        var obj = data.data.dropdownlist
                        if (obj) {
                            $("#regionid1").empty();

                            $.each(obj, function(index, item) {
                            $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                            });
                             var optionValue = $("#regionid2").val();
                            $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
                        }
                    }
                });
        });

  $(document).ready(function() {
    var warehousename = $("#warehouseid2").find(":selected").text();
    var regionname = $("#regionid2").val();
    $.ajax({
        type: "POST",
        url: '{% url "get_storedepo" %}',
      data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#depoid1").empty();

                $.each(obj, function(index, item) {
                    $("#depoid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                    var optionValue = $("#depoid2").val();
                    $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);

            }
        }
      });
    });

$(document).ready(function () {
    // DataTable initialization
    var table = $('#example').DataTable();

    // Button click event to trigger export
    $('#export-btn').on('click', function () {
        // Add header


	 var header = [
            ['STATUS OF 500ML ZIVA WATER BOTTLES IN DEPOTS ISSUED TO AC & SUPER-LUXURY SERVICES'],
            ['SNo', 'Zone', 'Region', 'Depot', { t: 's', v: 'No Of Services', s: { s: { border: { bottom: { style: 'thin' } } } } },'', '', 'Issued to no of services', '', ''],
            ['', '', '', '', 'AC', 'S/L', 'TOTAL', 'AC', 'S/L','TOTAL',],

	 ];


        // Get table headers
        var tableHeaders = table.columns().header().toArray().map(function (th) {
            return th.innerText.trim();
        });

        // Get table data
        var tableData = table.rows().data().toArray();

        // Combine headers and data
        var combinedData = [header[0], header[1], header[2]].concat([tableHeaders]).concat(tableData);

        // Create worksheet
        var ws = XLSX.utils.aoa_to_sheet(combinedData);

        // Add styles for merged and centered cells
         ws['!merges'] = [
            { s: { r: 0, c: 0 }, e: { r: 0, c: 9 },},
            { s: { r: 1, c: 4 }, e: { r: 1, c: 6 } },//no of services
            { s: { r: 1, c: 7 }, e: { r: 1, c: 9} },//issued
            { s: { r: 1, c: 0}, e: { r: 3, c: 0} },//sno
	    { s: { r: 1, c: 1}, e: { r: 3, c: 1} },//zone
            { s: { r: 1, c: 2}, e: { r: 3, c: 2} },//region
            { s: { r: 1, c: 3}, e: { r: 3, c: 3} },//depot
            { s: { r: 2, c: 4}, e: { r: 3, c: 4} },//service ac
	    { s: { r: 2, c: 5}, e: { r: 3, c: 5} },//service sl
            { s: { r: 2, c: 6}, e: { r: 3, c: 6} },//service total
            { s: { r: 2, c: 8}, e: { r: 3, c: 8} },//service ac
	    { s: { r: 2, c: 9}, e: { r: 3, c: 9} },//service sl
            { s: { r: 2, c: 7}, e: { r: 3, c: 7} },//service total

        ];
        // Create workbook
        var wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');

        // Save workbook to Excel file
        XLSX.writeFile(wb, 'exported_table.xlsx');
    });
});

 $(document).ready(function() {
              var regionname = $("#sessionRegionId").val();
              // var regionname = $("#sessionRegionName").val();
              var displayrole = $("#displayrole").val();
                $.ajax({
                    type: "POST",
                    url: '{% url "get_storedepo" %}',
                    data: {
                       'region':regionname, 'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(data) {
                        var obj = data.data.dropdownlist
                        if(displayrole == 'REGIONAL MANAGER') {
                            $("#depoid1").empty();
                                $.each(obj, function(index, item) {
                                $("#depoid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                            });
                        }

                    }
                });
        });


</script>
{% endblock %}