{% extends 'base.html' %}

{% block htmlbody %}

<style xmlns="http://www.w3.org/1999/html">
	.style{
	position: absolute !important;
	width: 80% !important;
	margin-left:50px !important;
	}
	#checked {
  margin-left: 10px; /* Adjust the margin as needed */
}
</style>

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Internal Consumption</h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-6 offset-md-10">
                    <a href="#"><button type="submit" data-toggle="modal" data-target="#add_consumption" class="btn btn-primary"  >Add </button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                                <p></p>
                        <!--<table id="datatable-buttons" class="display table-bordered" style="width:100%">
                                <table id="datatable" class="display table-striped table-bordered" style="width:100%">-->
                                    <table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Depot</th>
                                    <th>Service no</th>
                                    <th>Date</th>
                                    <th>No Of Bottles</th>
                                    <th>OPRS</th>
                                    <th>Departure</th>
                                    <th>Staff Name</th>
                                    <th>Action</th>

                        </tr>
                      </thead>
                            <tbody>
                            {% for data in busservicesupplylist %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ data.deponame }}</td>
                              <td>{{ data.bus_service_no }}</td>
                              <td>{{ data.created_on }}</td>
                              <td>{{ data.noofbottles_recieve }}</td>
                              <td>{{ data.oprs }}</td>
                                <td>{{ data.departure_time }}</td>
                            <td>{{ data.staffname }}</td>
                            <td>
                                  <span class="badge badge-info" style="background-color:#8161C2;" data-toggle="modal" onclick="VerifyClick1('{{all_data.sonumber}}','{{ all_data.paymentmode }}')"  data-target="#return">RETURN</span>
                            </td>
                                </tr>
                            {% endfor %}
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div id="add_consumption" class="modal custom-modal fade"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1250px%; !important"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Internal Consumption</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
            </div>
            <div class="modal-body">
                <form   method="POST" action='/add_bussupply'   enctype="multipart/form-data">
										{% csrf_token %}
                                        <input type="hidden" name="itemid" id="itemid" />
										<div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Select Depot</label>
											 <input type="hidden" name="deponame1" id="deponame1" />
												<select class="form-control depot" name="depoid1" id="depoid1" required>
                                                    <option value=""> depot</option>
                                                    {% for data in depolist %}
													    <option value="{{ data.depoid  }}">{{  data.deponame  }}</option>
                                                    {% endfor %}
												</select>
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Select Service</label>
											 <input type="hidden" name="servicename" id="servicename" />
												<select class="form-control" name="service" id="service">
													<option value=""> service</option>
                                                    <option value="TS055">TS055</option>
												</select>
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>OPRS *</label>
										    <input type="text" class="form-control" placeholder="OPRS" name="oprs" id="oprs" readonly>
										</div>

										<div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Departure *</label>
										    <input type="text" class="form-control" placeholder="Departure" name="departure" id="departure" readonly>
										</div>

										<div class="col-md-12 col-sm-12  form-group has-feedback">
											<label>Select Staff Number *</label>
										     <input type="hidden" name="staffnum" id="staffnum" />
												<select class="form-control" name="staffnumb" id="staffnumb">
													<option value=""> staff number</option>
                                                    <option value="02342">02342</option>
												</select>
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Staff Name *</label>
										    <input type="text" class="form-control" placeholder="name" name="staffname" id="staffname" readonly>
										</div>

                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Select No Of Bottles *</label>
										     <input type="hidden" name="nob" id="nob" />
												<select class="form-control" name="nobt" id="nobt">
													<option value="">bottles</option>
                                                    	<option value="50">50</option>
                                                        <option value="100">100</option>
                                                    	<option value="150">150</option>
												</select>
										</div>
</div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
    </div>
</div>
<div class="modal custom-modal fade" id="item-status" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							<div class="modal-body">
								  <form method="post" action="item_status_active">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Status Update</h3>
									<p>Are you sure want to Inactive?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="id" name="id"  />
									<div class="row">
										<div class="col-6">
											<button class="btn btn-primary submit-btn">Yes</button>
										</div>
										<div class="col-6">
											<button  data-dismiss="modal" class="btn btn-danger submit-btn">NO</button>
										</div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
</div>
<div class="modal custom-modal fade"  id="return" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                               <div class="modal-body">

                                             <form method="POST" action="">
                                                    {% csrf_token %}
                              <!--<h3   style="text-align:center;">Delivery Challan</h3>-->
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>

                                    <h3  id="myModalLabel3" style="text-align:center;">Return</h3>
                                                 <div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>No Of Tickets *</label>
										    <input type="text" class="form-control" placeholder="tickets" name="tickets" id="tickets">
										</div>

										<div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Return Bottles *</label>
										    <input type="text" class="form-control" placeholder="bottles" name="bottlesreturn" id="bottlesreturn">
										</div>

                                                    <div class="col-md-10 col-sm-10  form-group has-feedback">
                                                        <label>Do you want update driver details?

                                                            <input type="checkbox" id="checked" class="js-switch"  /></label>
                                                    </div>
                                                 <div class="col-md-12 col-sm-12  form-group has-feedback">
										   <input type="text" class="form-control" placeholder="Driver Name" name="drivername" id="drivername" style="display:none;" />
										</div>
                                                 </div>
                                            <div class="col-md-6 col-sm-6  offset-md-4">
                                                 <button type="button" class="btn btn-primary" style="margin-top:-30px;">Save</button>
                                                 <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin-top:-30px;">Cancel</button>
                                            </div>
                                                <p></p>
                                                 </form>
                                         </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
$(document).ready(function() {
    $('.edit_item').click(function() {
      var id = $(this).data('id');
      $.ajax({
        url: "{% url 'get_item_data' %}",
        type: 'POST',
        data: {
          'name': id,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data.itemmasterlist
             if(obj){
             $("#itemid").val(obj[0].sno);
             $("#nameitem").val(obj[0].itemname);
             $("#hsn1").val(obj[0].hsncode);
             $("#gst1").val(obj[0].gst);
             $("#category1").val(obj[0].category);
             $("#manufacture").val(obj[0].manufacturername);
             $("#latestpurchase").val(obj[0].lpp);
             $("#mrp").val(obj[0].mrp);
             $("#uom").val(obj[0].uom);
              $("#codeitem").val(obj[0].item_code_org);
             $('#edit_item').modal('show');
        	}
        }
      });
    });
  });
  function VerifyClick(id){
$("#id").val(id);
console.log(val(id))
}
 function VerifyClick1(id){
$("#id1").val(id);
}
 $(document).ready(function() {
    $("#checked").click(function() {
      if ($(this).is(":checked")) {
        $("#drivername").show();
      } else {
        $("#drivername").hide();
      }
    });
  });
  $('#service').change(function() {
      $('#oprs').val('12345')
      $('#departure').val('08:00 PM')
  });
  $('#staffnumb').change(function() {
      $('#staffname').val('Sukesh')
  });

$("#depoid1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame1").val(selectedOptionText);
});
</script>
{% endblock %}

