{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Internal Stock Transfer </b></h3>
              </div>
                    <div class="title_right">
              <div class="col-md-6 col-sm-6 offset-md-10">
                    <a href="/internal_stk_list"><button type="submit" data-toggle="modal" data-target="#add_consumption" class="btn btn-primary" >List </button></a>
                </div>
            </div>
          </div>
          </div>
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel warehouse-div">
                    <!--<div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Indent From depot</h3>
              </div>
                    </div>-->
									<br />
									<form class="form-label-left input_mask"  method="POST" action="/internal_stktransfer"   enctype="multipart/form-data">
										{% csrf_token %}
                                        {% if request.session.role == 'Admin' %}
                                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                                <label>Depot *</label>
                                                 <input type="hidden" name="depot_name" id="depot_name" />
										    	 <select class="form-control items" name="depotid" id="depotid" required>
                                                     <option value="">select depot</option>
                                                     {% for data in depolist %}
                                                            <option value="{{ data.depoid }}">{{ data.deponame }}</option>
                                                     {% endfor %}
                                                </select>
                                            </div>
                                        {% else %}
                                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                                <label>Depot *</label>
                                                <input type="text"  name="deponame1" class="form-control" id="deponame1" value="{{ request.session.deponame }}"  readonly/>
                                            </div>
                                        {% endif %}
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>select stockpoint *</label>
                                                   <input type="hidden" name="stockpoint_name" id="stockpoint_name" />
										    	 <select class="form-control items" name="stockpoint" id="stockpoint" required>
                                                     <option value="">stockpoint list</option>
                                                     {% for data in stockpointlist %}
                                                            <option value="{{ data.busstationid }}">{{ data.busstationname }}</option>
                                                     {% endfor %}
                                                </select>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label> Item name *</label>
										    	  <input type="text" class="form-control" value="500ml" name="itemname" id="itemname" readonly >
										</div>

                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Quantity(In Cases) *</label>
										    <input type="text" class="form-control" placeholder="quantity in cases" name="quantity" id="quantity" required>
										</div>
                                         <div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Quantity(In Bottles) *</label>
										    <input type="text" class="form-control" placeholder="quantity in bottles" name="nob" id="nob" readonly>
										</div>
                                        <!--<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Total Price *</label>
										    <input type="text" class="form-control" placeholder="total price" id="mrp" name="price" readonly>
										</div>-->

										<div class="col-md-2 col-sm-2 form-group has-feedback">
												<button type="submit"  style="margin-top: 25px;"  class="btn btn-primary">Transfer</button>
											</div>

										  <input type="hidden" class="form-control"  name="itemname1" id="itemname1">
                                        <input type="hidden" class="form-control"  name="whname" id="whname">
                                        <input type="hidden" class="form-control"  name="cases1" id="cases1">
                                        <input type="hidden" class="form-control"  name="mrp1" id="mrp1">

                                 </div>
              </div>
                </form>

            </div>


                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </di
</div>
<script>
$("#stockpoint").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#stockpoint_name").val(selectedOptionText);
});

$("#depotid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#depot_name").val(selectedOptionText);
});
$('#quantity').on('input', function()  {
    	    val  = $("#quantity").val();
            val2 =    (val * 24)
            $("#nob").val(val2);
    });

    $("#depotid").change(function() {
    		var depotid = $('#depotid').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_stocklist" %}',
            	data: {
                	'depotid':depotid,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.stockpointlist
			 		var error = data.data.error;
                    var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#stockpoint").empty();
						$("#stockpoint").append("<option  value=''>not available</option>");
					}
					if(obj) {
			 		$("#stockpoint").empty();
                	$.each(obj, function (index, item) {
                    $("#stockpoint").append("<option value='" + item.busstationid+ "'>" + item.busstationname+ "</option>");
                     $("#stockpoint_name").val(item.busstationname);
				});

                	}
             	}
        	});
    	});
</script>
{% endblock %}
