{% extends 'base.html' %}

{% block htmlbody %}
<style>
#datatable-buttons {
    overflow-x: scroll !important;
}
</style>
<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba">Return Items</h3>
              </div>

              <div class="title_right">
               <div class="col-md-6 col-sm-6 offset-md-6" style="margin-top:10px;">
                    <!--<a href="#"><button type="submit" data-toggle="modal" data-target="#add_consumption" class="btn btn-primary"  >Add </button></a>-->

                </div>

            </div>
              </div>
            <div class="clearfix"></div>
             <div class="row">
              <div class="col-md-12 col-sm-12">
                               			<!-- Search Filter -->
						<form  method="POST" action="/returnsconsumption"  id="myForm" enctype="multipart/form-data">
									{% csrf_token %}
                            <div class="col-sm-2 col-md-2 form-group has-feedback">
									<label class="focus-label">From </label>
									<input class="form-control" type="date" name="fdate"  id="fdate"  value="{{ fdate }}" required>
                                   <input type="hidden" name="fdate_hidden" id="fdate_hidden">
							</div>
                             <div class="col-sm-2 col-md-2 form-group has-feedback">
									<label class="focus-label">To</label>
									<input class="form-control" type="date" name="tdate"  id="tdate"  value="{{ tdate }}" required>
                                   <input type="hidden" name="tdate_hidden" id="tdate_hidden">
							</div>
                            {% if request.session.role == 'Admin' %}
                                    <div  class="col-md-2  form-group has-feedback">
													<label> Warehouse</label>
                                         <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{ request.POST.warehousename1 }}</option>
                                         </select>
											 <input type="hidden" name="warehousename1" id="warehousename1" value="{{  request.POST.warehousename1 }}"/>
												<select class="form-control" name="warehouseid1" id="warehouseid1">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
                                                </select>
                                    </div>
											<div  class="col-md-2  form-group has-feedback">
													<label> Region</label>
                                              <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid1 }}">{{ request.POST.regionname1 }}</option>
												</select>
											 <input type="hidden" name="regionname1" id="regionname1" value="{{ request.POST.regionname1 }}"/>
												<select class="form-control" name="regionid1" id="regionid1">
													<option value="All">All</option>
												</select>
										    </div>
											<div  class="col-md-2  form-group has-feedback">
                                                  <select class="form-control" name="depoid2" id="depoid2"  hidden>
                            		                    <option value="{{ request.POST.depoid1 }}">{{ request.POST.deponame1 }}</option>
												</select>
													<label> Depot</label>
                                                 <input type="hidden" name="deponame1" id="deponame1" value="{{ request.POST.deponame1 }}" />
                                                    <select class="form-control select2" name="depoid1" id="depoid1">
                                                        <option value="">All</option>
                                                    </select>
                                            </div>


                            {% endif %}
                        </form>
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
            <div class="card-box table-responsive" style="overflow:hidden;">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                                <p></p>
                        <!--<table id="datatable-buttons" class="display table-bordered" style="width:100%">
                                <table id="datatable" class="display table-striped table-bordered" style="width:100%">-->
                                    <table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%;overflow:hidden;">
                      <thead>
                        <tr>
                                    <th>SNo</th>
                                    <th>Depot</th>
                                     <th>Departure Date & Time</th>
                                    <th>Returned Date</th>
                                    <th>Service</th>
                                    <th>OPRS</th>
                                    <th>Bottles</th>
                                    <th>Tickets</th>
                                    <th>Bottles Returned</th>
                                    <th>Shortage</th>
                                    <th>Vehical</th>
                                    <th>Staff(1)</th>
                                    <th>Staff Name(1)</th>
                                   <th>Staff(1)  shortage</th>
                                     <th>Staff(2)</th>
                                     <th>Staff Name(2)</th>
                                    <th>Staff(2)  shortage</th>
                                     <th>Issued To</th>
                                     <th>Taken From</th>



                        </tr>
                      </thead>
                            <tbody>
                            {% for data in data %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              <td>{{ data.deponame }}</td>
                                <td>{{ data.created_on}} {{ data.departure_time }}</td>
                              <td>{{ data.modified_on }}</td>
                                <td><a href="{{ data.ticket_photo }}" style="color:#075ab3;" target="_blank">{{ data.bus_service_no }}</td><td>{{ data.oprs }}</td>
                                <td>{{ data.noofbottles_recieve }}</td>
                              <td>{{ data.no_of_tickets_consumed }}</td>
                                <td>{{ data.return_no_of_bottles }}</td>
                                <td>{{ data.shortage }}</td>
                                <td>{{ data.vehicleno }}</td>
                                <td>{{ data.return_staffno }}</td>
                                 <td>{{ data.return_drivername }}</td>
                                <td>{{ data.staff1_shortage }}</td>
                                <td>{{ data.return_staffno_two }}</td>
                                <td>{{ data.return_drivername_two }}</td>
                                <td>{{ data.staff2_shortage }}</td>
                                <td></td>
                                <td>{{ data.return_authorized_staffname }}</td>

                                </tr>
                            {% endfor %}
                      </tbody>
                      </table>
                  </div>

            </div>
                </div>
              </div>
            </div>
          </div>
</div>
             </div>
          </div>
</div>

     <div class="inner-fabs">

                                  <div class="fab bg-green round" id="fab3"><a href="returnsconsumption"><i class="fa fa-outdent" style="color:#fff;"></i></a><label class="tooltiptext"  style="margin-left: -155px !important;">Return items</label></div>
                                 <div class="fab bg-yellow round" id="fab2"><a href="internal_consumption"><i class="fa fa-outdent" style="color:#fff;"></i></a><label class="tooltiptext"  style="margin-left: -155px !important;">Supply items</label></div>
                              </div>
                               <div class="fab bg-orange round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
              </div>
<script>
      $("#warehouseid1, #regionid1").change(function() {
    var form = document.getElementById("myForm");
    form.submit();
  });
  $(document).ready(function () {
  $("#depoid1").select2();
  $("#depoid1").change(function() {
    var form = document.getElementById("myForm");
    form.submit();
  });

  });
      $("#fdate,#tdate").change(function() {
            var form = document.getElementById("myForm");
            var startDateInput = document.getElementById("fdate");
            var endDateInput = document.getElementById("tdate");
            if (startDateInput.value && endDateInput.value) {
              form.submit();
            }
      });

     $("#warehouseid1").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storeregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#regionid1").empty();
                	$.each(obj, function (index, item) {
                    $("#regionid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#regionid1").change(function() {
    		var warehousename = $('#warehouseid1').find(":selected").text();
        	var regionname = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depoid1").empty();
                	$.each(obj, function (index, item) {
                    $("#depoid1").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});

    	$(document).ready(function() {
              var warehousename = $("#warehouseid2").find(":selected").text();

                $.ajax({
                    type: "POST",
                    url: '{% url "get_storeregion" %}',
                    data: {
                        'warehouse':warehousename,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(data) {
                        var obj = data.data.dropdownlist
                        if (obj) {
                            $("#regionid1").empty();

                            $.each(obj, function(index, item) {
                            $("#regionid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                            });
                             var optionValue = $("#regionid2").val();
                            $("#regionid1").find("option[value='" + optionValue + "']").prop("selected", true);
                        }
                    }
                });
        });

  $(document).ready(function() {
    var warehousename = $("#warehouseid2").find(":selected").text();
    var regionname = $("#regionid2").val();
    $.ajax({
        type: "POST",
        url: '{% url "get_storedepo" %}',
      data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#depoid1").empty();

                $.each(obj, function(index, item) {
                    $("#depoid1").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                 var optionValue = $("#depoid2").val();
                 $("#depoid1").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
      });
    });
    $(document).ready(function() {
	 var optionValue = $("#warehouseid2").val();
     $("#warehouseid1").find("option[value='" + optionValue + "']").prop("selected", true);
});
</script>
{% endblock %}