{% extends 'base.html' %}

{% block htmlbody %}




<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Service Wise Shortage Bottles</h3>
              </div>

              <div class="title_right">
                <!--<div class="col-md-6 col-sm-6 offset-md-10">
                    <a href="#"><button type="submit" data-toggle="modal" data-target="#add_consumption" class="btn btn-primary"  >Add </button></a>
                </div>-->
            </div>
              </div>
            <div class="clearfix"></div>
             <div class="row">
              <div class="col-md-12 col-sm-12">
                               			<!-- Search Filter -->
						<form  method="POST" action="/servicewise_shortage"  id="myform" enctype="multipart/form-data">
									{% csrf_token %}
                              <div class="col-md-2  form-group has-feedback">
                              <label for="daterangeselect">Frequency</label>
                                                 <select class="form-control" name="range2" id="range2" hidden>
                            		                    <option value="{{ request.POST.range }}">{{ request.POST.from }}</option>
												</select>
                                <input type="hidden" name="from" id="from" value="{{ request.POST.from }}">
                              <select id="daterangeselect" class="form-control" name="range">
                                  {% for selectrange in selectrange %}
                                       <option value="{{ forloop.counter }}">{{ selectrange.type }}</option>
                                  {% endfor %}
                              </select>
                            </div>
                             <div class="col-md-2  form-group has-feedback" id="date-range-fields" style="display:none">
                              <label for="start-date">From Date</label>
                              <input type="date" name="fdate" id="start-date" class="form-control" value="{{ request.POST.fdate }}">
                            </div>
                              <div class="col-md-2  form-group has-feedback" id="tdate" style="display:none">
                                  <label  for="end-date">To Date</label>
                              <input type="date" id="end-date" name="ldate" class="form-control" value="{{ request.POST.ldate }}">
                            </div>


                             <div class="col-md-2 col-sm-2  form-group has-feedback">
                                  <select class="form-control items" name="depoid1" id="depoid1" hidden>
                                                     <option value="{{ request.POST.depoid }}">{{ request.POST.deponame }}</option>
                                  </select>
                                 <label>Depot</label>
                                                        <input type="hidden" name="deponame" id="deponame"  value="{{ request.POST.deponame }}">
										    	 <select class="form-control items" name="depoid" id="depoid" required>
                                                     <option value="All">All</option>
                                                    {% for data in depolist %}
                                                        {% if data.status == "Active" %}
                                                                <option value="{{ data.depoid }}">{{ data.deponame }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                             </div>
                        </form>
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                                <p></p>
                        <!--<table id="datatable-buttons" class="display table-bordered" style="width:100%">
                                <table id="datatable" class="display table-striped table-bordered" style="width:100%">-->
                                    <table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                     <th>Depot</th>
                                    <th>Issued Date</th>
                                     <th>Returned Date</th>
                                    <th>Service No</th>
                                   <th>Bottles Issued</th>
                                    <th>Bottles Returned</th>
                                    <th>Shortage/Excess</th>


                        </tr>

                      </thead>
                            <tbody>
                            {% for data in itemlist %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.deponame }}</td>
                                        <td>{{ data.created_date }}</td>
                                        <td>{{ data.date }}</td>
                                         <td><a href="#" onclick="pageScroll()" style="color: #06911A" class="driver_shortlist"  data-id="{{ data.service_id }}" data-fdate="{{ fdate }}" data-tdate="{{ tdate }}" data-deponame="{{ data.deponame }}" >{{ data.service_id }}</a></td>
                                        <td>{{ data.noofbottles_recieve }}</td>
                                        <td> {{ data.return_no_of_bottles }}</td>
                                        <td>{{ data.shortage }}</td>
                                    </tr>
                            {% endfor %}
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
                  <div class="x_panel driver" style="display:none">
                    <div class="clearfix"></div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
             <table  class="datatable-buttons1  display  table-striped table-bordered" style="width:100%">

                     <thead>
                                    <tr>
                                        <th>S No</th>
                                        <th>Date</th>
                                        <th>Service  Id</th>
                                        <th>Bottles Issued</th>
                                        <th>Bottles Returned</th>
                                        <th>Shortage/Excess</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
              </div>
            </div>
          </div>
</div>
</div>
</div>
<script>
     $(document).ready(function() {
  var form = document.getElementById("myform");
  var daterangeSelect = document.getElementById("daterangeselect");
  var startDateInput = document.getElementById("start-date");
  var endDateInput = document.getElementById("end-date");

 $("#depoid, #daterangeselect,#start-date,#end-date").change(function() {
  var validOptions = ["1", "2", "3","4","5"];
  if (validOptions.includes(daterangeSelect.value)) {
  form.submit(); // Submit the form
  }
  if (daterangeSelect.value === "6") {
    $("#date-range-fields").show();
    $("#tdate").show();
    if (startDateInput.value && endDateInput.value) {
      form.submit();
    }
  } else {
    $("#date-range-fields").hide();
    $("#tdate").hide();
    form.removeEventListener("submit", validateCustomDates); // Remove event listener for custom dates
  }
});

form.addEventListener("submit", function(event) {
  if (daterangeSelect.value === "6") {
    event.preventDefault();
    console.log("Please select both start date and end date.");
  }
  selectedOptionText = $('#depoid1').find(":selected").text();
  $("#deponame").val(selectedOptionText);
  var selectedOptionText = $('#daterangeselect').find(":selected").text();
  $("#from").val(selectedOptionText);
});
});
$(document).ready(function(){
  $('#daterangeselect').change(function() {
    var selectedOption = $(this).find(":selected").text();
    if (selectedOption == 'Custom Dates') {
      $('#date-range-fields').show();
      $('#tdate').show();
    } else {
      $('#date-range-fields').hide();
      $('#tdate').hide();
    }
  });
});


$(document).ready(function(){
    var selectedOption = $('#range2').find(":selected").text();
    if (selectedOption == 'Custom Dates') {
      $('#date-range-fields').show();
      $('#tdate').show();
    } else {
      $('#date-range-fields').hide();
      $('#tdate').hide();
    }
});



$(document).ready(function(){
  var optionValue = $("#depoid1").val();
  $("#depoid").find("option[value='" + optionValue + "']").prop("selected", true);
  var optionValue1 = $("#range2").val();
  $("#daterangeselect").find("option[value='" + optionValue1 + "']").prop("selected", true);
  })

$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
  });
  $("#daterangeselect").change(function() {
  var selectedOptionText = $('#daterangeselect').find(":selected").text();
  $("#from").val(selectedOptionText);
});


$(document).ready(function () {
    var dataTable = $(".datatable-buttons1").DataTable({
        dom: "Blfrtip",
        buttons: [
            {
                extend: "copy",
                className: "btn-sm"
            },
            {
                extend: "csv",
                className: "btn-sm"
            },
            {
                extend: "excel",
                className: "btn-sm"
            },
            {
                extend: "pdfHtml5",
                className: "btn-sm"
            },
            {
                extend: "print",
                className: "btn-sm"
            },
        ],
        responsive: true,
          columns: [
            { data: 'date' },
            { data: 'service_id' },
            { data: 'noofbottles_recieve' },
            { data: 'noofbottles_recieve' },
            { data: 'return_no_of_bottles' },
            { data: 'shortage' },
        ],
    });
    $(".driver_shortlist").on('click', function () {
    let service_id = $(this).data('id');
    let deponame = $(this).data('deponame');
    let fdate = $(this).data('fdate');
    let tdate = $(this).data('tdate');
    $.ajax({
        url: '{% url "service_wise_shortage" %}',
        type: 'POST',
        data: {
            'deponame': deponame,
            'service_id': service_id,
            'fdate': fdate,
            'tdate': tdate,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (data) {
            var error = data.data.error;
            var message = data.data.message;

            if (error === true) {
                alertify.set('notifier', 'position', 'top-center');
                alertify.error(message);
            } else {
                $('.driver').show();
                var responseData = data.data.shortagelist;
                 dataTable.clear().rows.add(responseData).draw();
                var tableBody = $('.datatable-buttons1 tbody');
                var count = responseData.length;
                tableBody.empty();

                for (var i = 0; i < count; i++) {
                    var item = responseData[i];
                    var row = $('<tr>');
                    row.append($('<td>').text(i + 1));
                    row.append($('<td>').text(item.date));
                    if (i === 0) {
                        row.append($('<td rowspan="' + count + '">').text(item.service_id));
                    }
                    row.append($('<td>').text(item.noofbottles_recieve));
                    row.append($('<td>').text(item.return_no_of_bottles));
                    row.append($('<td>').text(item.shortage));
                    tableBody.append(row);
                }
                table.draw();
            }
        },
        error: function (xhr, status, error) {
            console.log("AJAX Error:", error);
        }
    });
});
});

</script>
{% endblock %}