{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4> Add Store</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="store_master"><button type="submit" class="btn btn-primary">Store List</button></a>
                </div>
              </div>
			</div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                 			<div class="x_content">
									<br />
									<form class="form-label-left input_mask" method="POST" action="add_store"   enctype="multipart/form-data">
											{% csrf_token %}

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Store Name *</label>
										    <input type="text" class="form-control" placeholder="store name" name="storename" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Store File Attach *</label>
											<div class="custom-file">
    											<input type="file"  name='storephoto' id="storephoto" required>
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Legal Name *</label>
										    <input type="text" class="form-control" placeholder="legal name" name=" legalname" required>
										</div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label>Select Bus station</label>
											 <input type="hidden" name="busstationname" id="busstationname" />
												<select class="form-control" name="busstationid" id="busstationid">
													<option value="">Select bus station</option>
													{% for data1 in bus %}
                            		                    <option value="{{ data1.busatationid }}">{{ data1.busstationname }}</option>
                                                     {% endfor %}
												</select>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Number *</label>
										    <input type="text" class="form-control" name="gstnumber" placeholder="GST Number" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Attach</label>
											<div class="custom-file">
    											<input type="file"  name="gstattach"id="customFile5" required>
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>PAN Attach *</label>
											<div class="custom-file">
    											<input type="file" name="panattach" id="customFile4" required>
											</div>
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>PAN Card *</label>
										    <input type="text" class="form-control" name="pancard" placeholder="Pan card" required>
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Trade Licence *</label>
										    <input type="text" class="form-control" name="tradelicenceno" placeholder="trade licence" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Trade Attach *</label>
											<div class="custom-file">
    											<input type="file"  name="tlattach" id="trade">
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Food Attach *</label>
											<div class="custom-file">
    											<input type="file"  name="flattach" id="food" required>
											</div>
											</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Food Licence *</label>
										    <input type="text" class="form-control" name="foodlicence" placeholder="food licence" required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback"><label>Address *</label>
										    <input type="text" class="form-control" name="storeaddress"placeholder="store address" required>
											</div>
												<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Pincode *</label>
										    <input type="text" class="form-control" placeholder="pincode" name="pincode"  patern="[0-9][0-9]{5}" maxlength="6" autocomplete="off" required>
											</div>
												<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label>State *</label>
												<select class="form-control" name="state">
													{% for state in state %}
														<option  value="{{ state.sno}}">{{ state.displayname }}</option>
													{% endfor %}
												</select>
											</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Contact Person *</label>
										    <input type="text" class="form-control" placeholder="contact person" name="contactperson" required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Mobile *</label>
										    <input type="text" class="form-control" placeholder="mobile number" name="mobileno" pattern= "[6789][0-9]{9}"  required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Email *</label>
										    <input type="email" name="email" class="form-control" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label class="col-form-label col-md-3 col-sm-3 ">Remarks*</label>
											<textarea id="message" required="required" name="remarks"class="form-control "  data-parsley-trigger="keyup" data-parsley--minlength="10" data-parsley-maxlength="100" placeholder="Remarks" data-parsley-minlength-message="Activity Description" data-parsley-validation-threshold="10"></textarea>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    	<input type="hidden" class="form-control" name="location" placeholder="latitude"  id="location">
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>

										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-primary">Add Store</button>
											</div>
										</div>

									</form>
							</div>
                  </div>
              </div>
            </div>
		  </div>
</div>

<script>
$("#busstationid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});

</script>
{% endblock %}