{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#06911A"> <b>Add Stall</b></h3>
              </div>
              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="store_master"><button type="submit" class="btn btn-primary">Stall List</button></a>
                </div>
              </div>
			</div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                 			<div class="x_content">
									<br />
									<form class="form-label-left input_mask" method="POST" action="add_store"   enctype="multipart/form-data">
											{% csrf_token %}
										<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label> Warehouse *</label>
											 <input type="hidden" name="warehousename" id="warehousename" />
												<select class="form-control items" name="warehouseid" id="warehouseid" required>
													<option value="">warehouse </option>
													{% for data1 in warehouse %}
														{% if data1.status == 'Active' %}
                            		                    	<option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif %}
													{% endfor %}
												</select>
										</div>
											<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label> Region *</label>
											 <input type="hidden" name="regionname" id="regionname" />
												<select class="form-control items" name="regionid" id="regionid" required>
													<option value=""> region</option>
												</select>
										</div>
											<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label> Depot *</label>
											 <input type="hidden" name="deponame" id="deponame" />
												<select class="form-control items" name="depoid" id="depoid" required>
													<option value=""> depot</option>
												</select>
											</div>

										<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label> Bus Station *</label>
											 <input type="hidden" name="busstationname" id="busstationname" />
												<select class="form-control items" name="busstationid" id="busstationid" required>
													<option value=""> bus station</option>
												</select>
										</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
												<label>Stall Name *</label>
										    <input type="text" class="form-control" placeholder="stall name" name="storename" required>
										</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
												<label>Stall Code </label>
										    <input type="text" class="form-control" placeholder="stall code" name="stallcode">
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Stall Image Attach </label>
											<div class="custom-file">
    											<input type="file"  name='storephoto' id="storephoto">
											</div>
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Number</label>
											<input type="text" class="form-control" name="gstnumber" placeholder="GST Number"
												    pattern="[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}"
           									title="Enter a valid GST number (e.g., 12ABCDE1234F1Z5)" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Attach</label>
											<div class="custom-file">
    											<input type="file"  name="gstattach" id="customFile5">
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>PAN Card </label>
										    <input type="text" class="form-control" name="pancard" placeholder="Pan card"
											   pattern="[A-Z]{5}[0-9]{4}[A-Z]{1}"
           										title="Enter a valid PAN card number (e.g., ABCDE1234F)">
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>PAN Image </label>
											<div class="custom-file">
    											<input type="file" name="panattach" id="customFile4">
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Trade Licence </label>
										    <input type="text" class="form-control" name="tradelicenceno" placeholder="trade license">
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Trade Image </label>
											<div class="custom-file">
    											<input type="file"  name="tlattach" id="trade">
											</div>
										</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Legal Name </label>
										    <input type="text" class="form-control" placeholder="legal name" name=" legalname">
										</div>

										<!--<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Food Attach *</label>
											<div class="custom-file">
    											<input type="file"  name="flattach" id="food" required>
											</div>
											</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Food License *</label>
										    <input type="text" class="form-control" name="foodlicense" placeholder="food license" required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback"><label>Address *</label>
										    <input type="text" class="form-control" name="storeaddress"placeholder="store address" required>
											</div>
												<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Pincode *</label>
										    <input type="text" class="form-control" placeholder="pincode" name="pincode"  pattern="[0-9][0-9]{5}" maxlength="6" autocomplete="off" required>
											</div>
												<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label>State *</label>
												<select class="form-control" name="state">
													{% for state in state %}
														<option  value="{{ state.sno}}">{{ state.displayname }}</option>
													{% endfor %}
												</select>
											</div>-->


										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Nature Of Business </label>
										    <input type="text" class="form-control" placeholder="nature of business" name="natofbus">
											</div>
											<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label>Store Type </label>
												<select class="form-control" name="store_type">
														<option  value=""> store type</option>
													{% for data in data %}
														<option  value="{{ data.displayname }}">{{ data.displayname }} </option>
													{% endfor %}

												</select>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Contact Person *</label>
										    <input type="text" class="form-control" placeholder="contact person" name="contactperson" required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Mobile *</label>
										    <input type="text" class="form-control" placeholder="mobile number" name="mobile" pattern= "[6789][0-9]{9}" required>
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Alternate Mobile </label>
										    <input type="text" class="form-control" placeholder="alternate mobile number" name="altmobileno" pattern= "[6789][0-9]{9}" >
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Email </label>
										    <input type="email" name="email" class="form-control" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label class="col-form-label col-md-3 col-sm-3 ">Remarks</label>
											<textarea id="message"  name="remarks" class="form-control "   placeholder="remarks" ></textarea>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    	<input type="hidden" class="form-control" name="location" placeholder="latitude"  id="location">
										</div>

										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-primary">Save</button>
											</div>
										</div>

									</form>
							</div>
                  </div>
              </div>
            </div>
		  </div>
</div>

<script>
$("#warehouseid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#regionid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname").val(selectedOptionText);
});
$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstationid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});
	$(document).ready(function(){
		$("#warehouseid").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storeregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
                    var error = data.data.error;
                    var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#regionid").empty();
						$("#regionid").append("<option  value=''>not available</option>");
					}
					if(obj) {
			 		$("#regionid").empty();
			 		$("#regionid").append("<option  value=''>Choose Region</option>");
                	$.each(obj, function (index, item) {
                    $("#regionid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#regionid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
                    var error = data.data.error;
                    var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#depoid").empty();
						$("#depoid").append("<option  value=''>not available</option>");
					}
					if(obj) {
			 		$("#depoid").empty();
			 		$("#depoid").append("<option  value=''>Choose Depo</option>");
                	$.each(obj, function (index, item) {
                    $("#depoid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#depoid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $(regionid).val();
        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
			 		var error = data.data.error;
                    var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#busstationid").empty();
						$("#busstationid").append("<option  value=''>not available</option>");
					}
					if(obj) {
			 		$("#busstationid").empty();
			 		$("#busstationid").append("<option  value=''>Choose Bus station</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});

    });
</script>
{% endblock %}