{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#003aa5"><b>Edit Store Details</b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                  <a href="store_master"><button type="submit" class="btn btn-primary">Store List</button>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask" method="POST" action=" "   enctype="multipart/form-data">
											{% csrf_token %}
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Store Name *</label>
										    <input type="text" class="form-control" placeholder="store name" name="storename" value="{{data.storename}}" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Store File Attach *</label>
											<div class="custom-file">
    											<input type="file" class="custom-file-input" name='storephoto' id="storephoto" value="{{data.storephoto}}" required>
    											<label class="custom-file-label" for="storephoto">Store Attach</label>
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Legal Name *</label>
										    <input type="text" class="form-control" placeholder="legal name" name=" legalname" value="{{data.legal_name}}" >
										</div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label>Select region</label>
												<select class="form-control" name="region">
													{% for data1 in region %}
                            		<option value="{{ data1.regionid }}" selected>{{ data1.regionname }}</option>
                        {% endfor %}
												</select>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Number *</label>
										    <input type="text" class="form-control" name="gstnumber" placeholder="GST Number"  value="{{data.gstnumber}}">
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>GST Attach</label>
											<div class="custom-file">
    											<input type="file" class="custom-file-input" name="gstattach" id="customFile5"  value="{{data.gstattach}}" >
												<label class="custom-file-label" for="storephoto">Store Attach</label>
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>PAN Attach *</label>
											<div class="custom-file">
    											<input type="file" name="panattach" id="customFile4"  value="{{data.panattach}}" >
											</div>
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>PAN Card *</label>
										    <input type="text" class="form-control" name="pancard" placeholder="Pan card"  value="{{data.pancard}}" >
										</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Trade Licence *</label>
										    <input type="text" class="form-control" name="tradelicenceno" placeholder="Trade Licence"  value="{{data.tradelicenceno}}" >
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Trade Attach *</label>
											<div class="custom-file">
    											<input type="file"  name="tlattach" id="customFile4"  value="{{data.tlattach}}" >
											</div>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Food Attach *</label>
											<div class="custom-file">
    											<input type="file" class="custom-file-input" name="flattach"id="customFile4"  value="{{data.flattach}}">
    											<label class="custom-file-label" for="customFile">Food Upload</label>
											</div>
										</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
												<label>Food Licence *</label>
										    	<input type="text" class="form-control" name="foodlicence" placeholder="food licence"  value="{{data.foodlicence}}" >
											</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback"><label>Address *</label>
										    <input type="text" class="form-control" name="storeaddress"placeholder="store address"  value="{{data.storeaddress}}" >
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Pincode *</label>
										    <input type="text" class="form-control" placeholder="pincode" name="pincode" required patern="[0-9][0-9]{5}" maxlength="6" autocomplete="off"  value="{{data.pincode}}" >
										</div>

												<div  class="col-md-3 col-sm-6  form-group has-feedback">
													<label>State list *</label>
													<select class="form-control" name="state">
														{% for state in state %}
															<option  value="{{ state.sno}}">{{ state.displayname }}</option>
														{% endfor %}
													</select>
												</div>

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Contact Person *</label>
										    <input type="text" class="form-control" placeholder="contact person" name="contactperson"  value="{{data.contact_person}}" >
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Mobile *</label>
										    <input type="text" class="form-control" placeholder="mobile number" name="mobileno"  value="{{data.mobile_no}}" >
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label class="col-form-label col-md-3 col-sm-3 ">Remarks*</label>
											<textarea id="message" required="required" name="remarks" class="form-control"  value="{{ data.mobile_no }}" data-parsley-trigger="keyup" data-parsley--minlength="10" data-parsley-maxlength="100" placeholder="remarks" data-parsley-minlength-message="Activity Description" data-parsley-validation-threshold="10" ></textarea>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    	<input type="hidden" class="form-control" name="location" placeholder="latitude"  id="location" value="{{ data.location }}">
												</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-primary">SAVE</button>
											</div>
										</div>

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>

<script>


function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
   document.getElementById('location').value='NO Location';
  }
}

function showPosition(position) {


document.getElementById('location').value=position.coords.latitude+','+position.coords.longitude;

}
</script>

{% endblock %}