{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">

      <div class="">
            <div class="page-title">
              <div class="title_left">
                <h2  class="text-primary"><b>Store List</b></h2>
              </div>
        </div>


              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%">
                          <thead>
                           <tr style="text-color:white">
							   		<th>S No</th>
                                    <th>Store Name</th>
                                    <th>Store type</th>
                                    <th>Contact Person</th>
                                    <th>Mobile Number</th>
                                    <th>Store Location</th>
                                    <th>Action</th>
                           </tr>
                      </thead>
                      <tbody>

                          {% for list in list %}
                        <tr>
							<td>{{ forloop.counter }}</td>
                        <td><a href="{{ list.storephoto }}" style="color:#075ab3;" target="_blank">{{ list.storename }}</a></td>
                        <td>{{ list.storetype}}</a></td>
                        <td>{{ list.contact_person}}</a></td>
                        <td>{{ list.mobile_no }}</a></td>

                        <td><u>{{ list.storelocation }}</u></td>
                                <td>
                                      {% if list.status == "Active" %}

                                         <a class="editstore" href="#"  data-id="{{ list.storecode }}"><i class="fa fa-edit"></i></a>

                                          <a href="#" onclick="VerifyClick('{{ list.sno }}')"><span class="badge badge-success" data-toggle="modal" data-target="#store-status">
                                          Active</span></a>
                                     {% else %}

                                        <a href="#" onclick="VerifyClick('{{ list.sno }}')" ><span class="badge badge-danger" data-toggle="modal" data-target="#store-status">
                                          Inactive</span></a>
                                     {% endif %}
                                </td>


                        </tr>
                    {% endfor %}
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
      <div class="inner-fabs">

                          </div>
                                <div class="fab round" id="fab1"><i class="fa fa-filter" id="fabIcon" data-toggle="modal" data-target="#store-filter" ></i></div>
                        </div>
              </div>
<div id="store-filter" class="modal custom-modal fade"    role="dialog" >
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h5 class="modal-title">Filter Store List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                	<form  method="POST" action="store_master"   enctype="multipart/form-data">
											{% csrf_token %}
									<div  class="col-md-6 col-sm-6  form-group has-feedback">
													<label>Select Warehouse</label>
											 <input type="hidden" name="warehousename" id="warehousename" />

												<select class="form-control" name="warehouseid" id="warehouseid">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
														{% if data1.status == 'Active' %}
                            		                    	<option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif %}
													{% endfor %}
												</select>
										</div>
											<div  class="col-md-6 col-sm-6  form-group has-feedback">
													<label> Region</label>
											 <input type="hidden" name="regionname" id="regionname" />
												<select class="form-control" name="regionid" id="regionid">
													<option value="All"> All</option>
												</select>
										</div>
											<div  class="col-md-6 col-sm-6  form-group has-feedback">
													<label> Depot</label>
											 <input type="hidden" name="deponame" id="deponame" />
												<select class="form-control" name="depoid" id="depoid">
													<option value="All"> All</option>
												</select>
											</div>

										<div  class="col-md-6 col-sm-6  form-group has-feedback">
													<label> Bus Station</label>
											 <input type="hidden" name="busstationname" id="busstationname" />
												<select class="form-control" name="busstationid" id="busstationid">
													<option value="All">All</option>
												</select>
										</div>
			</div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
	</div>
</div>
<script>
 let fab1 = document.getElementById('fab1');
let innerFabs = document.getElementsByClassName('inner-fabs')[0];

fab1.addEventListener('click', function () {
  innerFabs.classList.toggle('show');
});

document.addEventListener('click', function (e) {
  switch (e.target.id) {
    case "fab1":
    case "fab2":
    case "fab3":
    case "fab4":
    case "fabIcon":
      break;
    default:
      innerFabs.classList.remove('show');
      break;}

});
$("#warehouseid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#regionid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname").val(selectedOptionText);
});
$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstationid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});
	$(document).ready(function(){
		$("#warehouseid").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storeregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist

					if(obj) {
			 		$("#regionid").empty();
			 		$("#regionid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#regionid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#regionid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist

					if(obj) {
			 		$("#depoid").empty();
			 		$("#depoid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#depoid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#depoid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $(regionid).val();
        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid").empty();
			 		$("#busstationid").append("<option  value='All'>All</option>");
                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});

    });
</script>


{% endblock %}

