{% extends 'base.html' %}

{% block htmlbody %}


<style>
    .design{
     color: white;
        background-color:#329DD6 !important;
    }
      .design1{
     color: white;
        background-color:#329DD6 !important;
    }
</style>


<div class="right_col" role="main">
<div class="row">
              <div class="col-md-12 col-sm-12 ">

          <div class="page-title">
            <div class="title_left">
              <h3 style="font-size:20px; font-weight:600;">Depot Dashboard</h3>
            </div>
          </div>

                   {% if request.session.role == 'Admin' %}
                 <div class="x_panel">
				      	<form  method="POST" action=""   enctype="multipart/form-data">
											{% csrf_token %}
									<div  class="col-md-3 col-sm-3  form-group has-feedback">
													<label> Warehouse</label>

										 <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid }}">{{ request.POST.warehousename }}</option>
												</select>
											 <input type="hidden" name="warehousename" id="warehousename" />

												<select class="form-control" name="warehouseid" id="warehouseid">
													<option value="All">All</option>
													{% for data1 in wh_masterlist %}
														{% if data1.status == 'Active' %}
                            		                    	<option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif %}
													{% endfor %}
												</select>
										</div>
											<div  class="col-md-3 col-sm-3  form-group has-feedback">
													<label> Region</label>
												   <select class="form-control" name="regionid2" id="regionid2" hidden>
                            		                    <option value="{{ request.POST.regionid }}">{{ request.POST.regionname }}</option>
												</select>
											 <input type="hidden" name="regionname" id="regionname" />
												<select class="form-control" name="regionid" id="regionid">
													<option value="All"> All</option>
												</select>
										</div>
											<div  class="col-md-3 col-sm-3  form-group has-feedback">
													<label> Depot</label>
												<select class="form-control" name="depoid2" id="depoid2" hidden>
                            		                    <option value="{{ request.POST.depoid }}">{{ request.POST.deponame }}</option>
												</select>
											 <input type="hidden" name="deponame" id="deponame" />
												<select class="form-control" name="depoid" id="depoid">
													<option value="All"> All</option>
												</select>
											</div>
				<div  class="col-md-2 col-sm-2  form-group has-feedback">
                  <button type="submit" id="button1" name="add" style="margin-top: 25px;" class="btn btn-primary">Search</button>
				</div>
						</form>

                 </div>
              </div>

 {% endif %}
      <div class="col-md-4 col-sm-4 ">
        <div class="x_panel">
          <div class="page-title">
            <div class="title_left">
              <h3 style="font-size:20px; font-weight:600;">Available Stock</h3>
            </div>
            <div class="title_right">
              <div class="col-md-9 col-sm-9  form-group has-feedback">

										    	 <select class="form-control items" name="itemcode" id="itemcode" required>
                                                    {% for data in item_masterlist %}
                                                        {% if data.status == "Active" %}
                                                           {% if data.itemcode == "PHA0002" %}
                                                                <option value="{{ data.itemcode }}" selected>{{ data.itemname }}</option>
                                                            {% else %}
                                                                <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
										</div>
              <div class="col-md-2 col-sm-2">
                <label><input type="checkbox" id="checked1" class="js-switch"  /></label>
              </div>
            </div>
          </div>
          <div class="x_content stockchart">
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count stock_cases" style="color: #3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty (Cases)</div>
                <p class="d-none"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>stock on hand</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count stock_botteles" style="color:#3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty (Bottles)</div>
                <p class="d-none"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>stock on hand</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count indays" style="color: #3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;">{{ total. }}</div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">(Days)</div>
                <p class="d-none"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>Available Up to </p>
              </div>
            </div>
            <div class="animated flipInY col-lg-6 col-md-6 col-sm-6">
              <div class="tile-stats">
                <div class="count consumption_cases" style="color:#3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty (Cases)</div>
                <p><span class="fa fa-info" aria-hidden="true"></span> Avg consumption of last 7 days</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-6 col-md-6 col-sm-6">
              <div class="tile-stats">
                <div class="count consumption_botteles" style="color:#3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty (Bottles)</div>
                <p><span class="fa fa-info" aria-hidden="true"></span>Avg consumption of last 7days</p>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="x_content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card-box table-responsive" style="overflow:hidden">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                <div class="col-md-12 col-sm-12 echart-depot1" style="margin-bottom:10px;">
                  <h3 style="margin: 125px 3px 149px 100px;display:none;" id="lblNoStock">No Stock Available</h3>
                       <div id="echart-depot1" style="height:350px;margin-top:-60px;margin-left:-60px;"></div>
              </div>
                <div class="clearfix"></div>
                    <!--<table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%">-->
                                      <table   class="table table-striped jambo_table bulk_action"  style="display:none;" id="stktabel" >
                      <thead>
                        <tr>
                          <th class="design1" rowspan="2">#</th>
                          <th class="design1" rowspan="2">Items</th>
                          <th class="design1" colspan="2">Available Stock</th>
                          <th class="design1" colspan="2">Avg Consumption of last 7 days </th>
                          <th colspan="2" class="design1" rowspan="2">Days of stock Available</th>
                        </tr>
                        <tr>
                          <th class="design">Qty (Cases)</th>
                          <th class="design">Qty (Bottles)</th>
                          <th class="design">Qty (Cases)</th>
                          <th class="design">Qty (Bottles)</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                      <tfoot>
                        <tr>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 ">
        <div class="x_panel">
          <div class="page-title">
            <div class="title_left">
              <h3 style="font-size:20px; font-weight:600;">Pending Sales</h3>
            </div>
            <div class="title_right">
              <div class="col-md-6 col-sm-7 offset-md-9">
                <label><input type="checkbox" id="checked2" class="js-switch"  /></label>
              </div>
            </div>
          </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="card-box table-responsive" style="overflow:hidden;">
                      <p class="text-muted font-13 m-b-30">
                      </p>

            <div class="animated flipInY col-lg-4 col-md-4 col-sm-14">
              <div class="tile-stats">
                <div class="count pending_count" style="color:red;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Pending</div>
                <p class="d-none"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>To be invoiced</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count pending_cases" style="color: #3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty(Cases)</div>
                <p class="d-none"><span class="fa fa-info" aria-hidden="true"></span>To be delivered</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count pending_qty" style="color:#3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty(Bottles)</div>
                <p class="d-none"><span class="fa fa-inifo" aria-hidden="true"></span>To be delivered</p>
              </div>
            </div>
          </div>
 <div class="x_content">
           <div class="col-md-12 col-sm-12">
              <form  method="POST" id="myForm" action="warehouse_stock"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-12 col-md-12 form-group has-feedback">
                  <label class="focus-label" style="margin-top: 30px;margin-bottom: 9px;">Select  Date</label>
                  <input class="form-control" type="date" name="pdate"  id="pdate"  value="{{ request.POST.pdate }}" style="width:250px;margin-left:-10px;margin-top: 2px;" required>
                </div>
              </form>
              <div class="clearfix"></div>
           </div>
  <div class="col-md-6 col-sm-6 echart-pies2"  style="margin-top:10px;">
  <h4 class="text-info text">Quantity(Cases)</h4>
    <h3 style="margin-top: 100px;margin-bottom: 200px;margin-left: 90px;margin-right: -1000px;display:none;" id="lblNoStock1">No Stock Available</h3>
        <div id="echart-pies2" style="height:350px;margin-top:-80px;margin-left:-30px;"></div>
              </div>
                      <div class="col-md-5 col-sm-5" id="chart_gauge_sales1" style="margin-top:10px;">
                       <div>
                        <h4 class="text-info">Pending Invoice</h4>
                         <canvas  id="chart_gauge_sales" class="" style="margin-top:-7px; margin-left: -41px;width:250px;padding:15px;"></canvas>
                        <div class="goal-wrapper">
                          <span id="gauge-text1" class="gauge-value pull-left" style="margin-left:10px;margin-top:-20px;">0</span>
                          <!--<span class="gauge-value pull-left"></span>-->
                          <span id="goal-text" class="goal-value pull-right" style="margin-right:-50px;margin-top:-20px;">100</span>
                        </div>
                    </div>
                      </div>
                <div class="clearfix"></div>

                      <!--<table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%">-->
                      <table class="table table-striped jambo_table bulk_action" style="display:none;margin-top:30px;width:auto;" id="pendingtabel">
                        <thead>
                          <tr>
                            <th  class="design1" rowspan="2">#</th>
                            <th class="design1" rowspan="2">Items</th>
                            <th class="design1" colspan="2">FTD Sales</th>
                            <th  class="design1" colspan="2">MTD Sales</th>
                          </tr>
                          <tr>
                            <th class="design">Qty( Cases)</th>
                            <th class="design">Qty( Bottles)</th>
                            <th class="design">Qty( Cases)</th>
                            <th class="design">Qty( Bottles)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                          </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                        </tr>
                      </tfoot>

                      </table>
                    </div>
                  </div>

                </div>

              <div class="clearfix"></div>
            </div>

          </div>

      <div class="col-md-4 col-sm-4">
        <div class="x_panel">
          <div class="page-title">
            <div class="title_left">
              <h3 style="font-size:20px; font-weight:600;">Complete Sales</h3>
            </div>
            <div class="title_right">
              <div class="col-md-6 col-sm-7 offset-md-9">
                <label><input type="checkbox" id="checked3" class="js-switch"  /></label>
              </div>
            </div>
          </div>
          <div class="x_content">
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats" >
                <div class="count complete_sale" style="color:green;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Amount</div>
                <p class="d-none"><span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Amount collected</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count complete_cases" style="color: #3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty(Cases)</div>
                <p class="d-none"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>Delivered</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4">
              <div class="tile-stats">
                <div class="count complete_bottles" style="color:#3493fb;text-align:center;margin-left: auto;margin-right: auto;font-size:30px;"></div>
                <div style="text-align:center;margin-left: auto;margin-right: auto;">Qty(Bottles)</div>
                <p class="d-none"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>Delivered</p>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <form  method="POST" id="myForm2" action="warehouse_stock"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-12 col-md-12 form-group has-feedback">
                  <label class="focus-label" style="margin-top: 45px;margin-bottom: 9px;">Select  Date</label>
                  <input class="form-control" type="date" name="cdate"  id="cdate"  value="{{ request.POST.cdate }}" style="width:250px;margin-left:-10px;margin-top: 2px;" required>
                </div>
              </form>
              <div class="clearfix"></div>
              <div class="x_content">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card-box table-responsive">
                       <!-- <div class="card-box table-responsive" style="overflow:hidden">-->
                      <p class="text-muted font-13 m-b-30">
                      </p>
                        <div class="col-sm-12">
                           <h3 style="margin-top: 100px;margin-bottom: -50px;margin-left: 70px;display:none;" id="lblNoStock2">No Stock Available</h3>
              <div id="graph_bar" style="height:285px !important"></div>
            </div>
                      <!--<table id="datatable-buttons" class="display table-striped table-bordered" style="width:100%">-->
                      <table class="table table-striped jambo_table bulk_action" style="display:none;" id="completetabel">
                        <thead>
                          <tr>
                            <!--<th class="row2" rowspan="2">S NO</th>-->
                            <!--<th class="row2" rowspan="2">Date</th>-->
                            <th  class="design1" rowspan="2">#</th>
                            <th class="design1" rowspan="2">Items</th>
                            <th class="design1" colspan="3">FTD Sales</th>
                            <th  class="design1" colspan="3">MTD Sales</th>
                          </tr>
                          <tr>
                            <th class="design">Amount</th>
                            <th class="design">Qty(Cases)</th>
                            <th class="design">Qty(Bottles)</th>
                            <th class="design">Amount</th>
                            <th class="design">Qty(Cases)</th>
                            <th class="design">Qty(Bottles)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>

                          </tr>

                        </tbody>
                        <tfoot>
                          <tr>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    var chart_gauge_sales_elem;
    var chart_gauge_01;
    var item_gauge;

var chart_gauge_settings = {
          lines: 12,
          angle: 0,
          lineWidth: 0.4,
          pointer: {
              length: 0.75,
              strokeWidth: 0.042,
              color: '#1D212A'
          },
          limitMax: 'false',
          colorStart: '#D23939',
          colorStop: '#D23939',
          strokeColor: '#1ABC9C',
          generateGradient: true
      };
    var theme = {
        color: [
            '#12B1AF', '#ff8566', '#D8DB06', '#3498DB',
            '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
        ],

        title: {
            itemGap: 8,
            textStyle: {
                fontWeight: 'normal',
                color: '#408829'
            }
        },

        dataRange: {
            color: ['#1f610a', '#97b58d']
        },

        toolbox: {
            color: ['#408829', '#408829', '#408829', '#408829']
        },

        tooltip: {
            backgroundColor: 'rgba(0,0,0,0.5)',
            axisPointer: {
                type: 'line',
                lineStyle: {
                    color: '#408829',
                    type: 'dashed'
                },
                crossStyle: {
                    color: '#408829'
                },
                shadowStyle: {
                    color: 'rgba(200,200,200,0.3)'
                }
            }
        },

        dataZoom: {
            dataBackgroundColor: '#eee',
            fillerColor: 'rgba(64,136,41,0.2)',
            handleColor: '#408829'
        },
        grid: {
            borderWidth: 0
        },

        categoryAxis: {
            axisLine: {
                lineStyle: {
                    color: '#408829'
                }
            },
            splitLine: {
                lineStyle: {
                    color: ['#eee']
                }
            }
        },

        valueAxis: {
            axisLine: {
                lineStyle: {
                    color: '#408829'
                }
            },
            splitArea: {
                show: true,
                areaStyle: {
                    color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                }
            },
            splitLine: {
                lineStyle: {
                    color: ['#eee']
                }
            }
        },
        timeline: {
            lineStyle: {
                color: '#408829'
            },
            controlStyle: {
                normal: { color: '#408829' },
                emphasis: { color: '#408829' }
            }
        },

        k: {
            itemStyle: {
                normal: {
                    color: '#68a54a',
                    color0: '#a9cba2',
                    lineStyle: {
                        width: 1,
                        color: '#408829',
                        color0: '#86b379'
                    }
                }
            }
        },
        map: {
            itemStyle: {
                normal: {
                    areaStyle: {
                        color: '#ddd'
                    },
                    label: {
                        textStyle: {
                            color: '#c12e34'
                        }
                    }
                },
                emphasis: {
                    areaStyle: {
                        color: '#99d2dd'
                    },
                    label: {
                        textStyle: {
                            color: '#c12e34'
                        }
                    }
                }
            }
        },
        force: {
            itemStyle: {
                normal: {
                    linkStyle: {
                        strokeColor: '#408829'
                    }
                }
            }
        },
        chord: {
            padding: 4,
            itemStyle: {
                normal: {
                    lineStyle: {
                        width: 1,
                        color: 'rgba(128, 128, 128, 0.5)'
                    },
                    chordStyle: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        }
                    }
                },
                emphasis: {
                    lineStyle: {
                        width: 1,
                        color: 'rgba(128, 128, 128, 0.5)'
                    },
                    chordStyle: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        }
                    }
                }
            }
        },
        gauge: {
            startAngle: 225,
            endAngle: -45,
            axisLine: {
                show: true,
                lineStyle: {
                    color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                    width: 8
                }
            },
            axisTick: {
                splitNumber: 10,
                length: 12,
                lineStyle: {
                    color: 'auto'
                }
            },
            axisLabel: {
                textStyle: {
                    color: 'auto'
                }
            },
            splitLine: {
                length: 18,
                lineStyle: {
                    color: 'auto'
                }
            },
            pointer: {
                length: '90%',
                color: 'auto'
            },
            title: {
                textStyle: {
                    color: '#333'
                }
            },
            detail: {
                textStyle: {
                    color: 'auto'
                }
            }
        },
        textStyle: {
            fontFamily: 'Arial, Verdana, sans-serif'
        }
    };

 function updateEchartPieChart(itemslist) {
        var echartPie = echarts.init(document.getElementById('echart-depot1'),theme);
          var count = 0;
          var seriesData = [];
          var legendData = [];

          // Process 'itemslist' data and populate 'seriesData' and 'legendData'

          for (var i = 0; i < itemslist.length; i++) {
            var item = itemslist[i];
              if(item.stock_botteles!="0"){
               seriesData.push({
                 value: item.stock_cases,
                 name: item.itemname
               });
               count++;
            }
            legendData.push(item.itemname);

          }
           if (count === 0) {
              $('#echart-depot1').hide();
              $('#lblNoStock').show();
          } else {
              $('#echart-depot1').show();
              $('#lblNoStock').hide();
          }
          echartPie.setOption({
              tooltip: {
                  trigger: 'item',
                  formatter: "{a} <br/>{b} : {c} ({d}%)"
              },
              legend: {
                  x: 'center',
                  y: 'bottom',
                  data: legendData
              },
              toolbox: {
                  show: true,
                  feature: {
                      magicType: {
                          show: true,
                          type: ['pie', 'funnel'],
                          option: {
                              funnel: {
                                  x: '25%',
                                  width: '50%',
                                  funnelAlign: 'left',
                                  max: 1548
                              }
                          }
                      },

                  }
              },
              calculable: true,
                series: [{
                  name: 'Chart',
                  type: 'pie',
                  radius: '55%',
                  center: ['50%', '48%'],
                  data: seriesData // Use the processed 'seriesData' array
                }]
          });

          var dataStyle = {
              normal: {
                  label: {
                      show: false
                  },
                  labelLine: {
                      show: false
                  }
              }
          };

          var placeHolderStyle = {
              normal: {
                  color: 'rgba(0,0,0,0)',
                  label: {
                      show: false
                  },
                  labelLine: {
                      show: false
                  }
              },
              emphasis: {
                  color: 'rgba(0,0,0,0)'
              }
          };



}

 function updateEchartPieChart1(itemslist,total){
    var seriesData = [];
    var legendData = [];
    if($("#checked2").prop('checked')){
      $(".echart-pies2").show();
      $("#chart_gauge_sales1").show();
    }
    var echartPie = echarts.init(document.getElementById('echart-pies2'),"");
    for (var i = 0; i < itemslist.length; i++) {
            var item = itemslist[i];
            item_gauge=itemslist[i];
              if(item.MTD_cases !="0"){
               seriesData.push({
                 value: item.MTD_cases,
                 name: item.itemname
               });
            }
            legendData.push(item.itemname);
    }

                echartPie.setOption({
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                            },
                            legend: {
                                x: 'center',
                                y: 'bottom',
                                data:legendData
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    magicType: {
                                        show: true,
                                        type: ['pie', 'funnel'],
                                        option: {
                                            funnel: {
                                                x: '25%',
                                                width: '50%',
                                                funnelAlign: 'left',
                                                max: 1548
                                            }
                                        }
                                    },

                                }
                            },
                            calculable: true,
                            series: [{
                                name: 'Chart',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '48%'],
                                data: seriesData

                                            }]
                        });

                        var dataStyle = {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            }
                        };

                        var placeHolderStyle = {
                            normal: {
                                color: 'rgba(0,0,0,0)',
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            },
                            emphasis: {
                                color: 'rgba(0,0,0,0)'
                            }
                        };
   var item;
  for (var i = 0; i < total.length; i++) {
            item = total[i];
    }
  if ($('#gauge-text1').length ) {

          var pending=parseInt(item.pending);
          $('#gauge-text1').html(pending);
          chart_gauge_01.maxValue = 100;
            if (pending !== 0) {
                  chart_gauge_01.animationSpeed = 32;
                  chart_gauge_01.setTextField(pending);
                  chart_gauge_01.set(pending);
              } else {
                  chart_gauge_01.gp[0].displayedValue=0;
                  chart_gauge_01.gp[0].strokeWidth=0;
                  chart_gauge_01.animationSpeed = 0;
                  chart_gauge_01.setTextField(0.2);
                  chart_gauge_01.displayedValue=0.2;
                  chart_gauge_01.displayScale=0;
                  chart_gauge_01.set(0.2);

              }

      }
    if($("#checked2").prop('checked')){
      $(".echart-pies2").hide();
      $("#chart_gauge_sales1").hide();
    }

}


function updateEchartPieChart2(itemslist){

  if ($('#graph_bar').length) {
       var date=new Date(); //$("#getdate").val();
       var today_date=date.getDate()+"/"+ (parseInt(date.getMonth())+1);
       var data = [];

        // Iterate through the itemslist and create data objects
        for (var i = 0; i < itemslist.length; i++) {
          var item = itemslist[i];
          var deviceName = today_date + ' ' + item.itemname;
          var geekbenchValue = parseInt(item.amount);
          data.push({ device: deviceName, geekbench: geekbenchValue });
        }

        // Add the Total data objects
        data.push({ device: 'Total 1000ml', geekbench: parseInt(itemslist[0].MTD_amount) });
        data.push({ device: 'Total 500ml', geekbench: parseInt(itemslist[1].MTD_amount) });
        data.push({ device: 'Total 250ml', geekbench: parseInt(itemslist[2].MTD_amount) });

          Morris.Bar({
              element: 'graph_bar',
              data: data,
              xkey: 'device',
              ykeys: ['geekbench'],
              labels: [''],
              barRatio: 0.4,
              barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
              xLabelAngle: 35,
              hideHover: 'auto',
              resize: true
          });

      }

}
    window.onload=function(){



  if(true){

        }

  }
    $(document).ready(function() {
    $("#checked1").click(function() {
      if ($(this).is(":checked")) {
       $("#echart-depot1").hide();
      $("#stktabel").show();
    }
    else{
     $("#echart-depot1").show();
      $("#stktabel").hide();
    }
    });
  });
   $(document).ready(function() {

    $("#checked2").click(function() {
      if ($(this).is(":checked")) {
      $(".echart-pies2").hide();
      $('#chart_gauge_sales1').hide();
      $("#pendingtabel").show();
    }
    else{
      $(".echart-pies2").show();
      $('#chart_gauge_sales1').show();
      $("#pendingtabel").hide();
    }
    });
  });

  $(document).ready(function() {
    // When the button with ID "checked1" is clicked
    $("#checked3").click(function() {
      if ($(this).is(":checked")) {
      $("#graph_bar").hide();
      $("#completetabel").show();
    }
    else{
     $("#graph_bar").show();
      $("#completetabel").hide();
    }
    });
  });

$(document).ready(function() {
var itemcode =  $('#itemcode').val();
alert(itemcode)
$.ajax({
  type: "POST",
  url: "{% url 'depot_dashboard_data' %}", // Replace 'your_ajax_endpoint' with the actual URL for your AJAX endpoint
  data: {
      'itemcode':itemcode, 'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(data) {
     var total =  data.data.totallist;
     message = data.data.message
      console.log(data);
          for (var i = 0; i < total.length; i++) {
                var item = total[i];
                $('.stock_cases').text(item.stock_cases);
                $('.stock_botteles').text(item.stock_botteles);
                $('.consumption_cases').text(item.consumption_cases);
                $('.consumption_botteles').text(item.consumption_botteles);
                $('.indays').text(item.indays);
          }

  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error occurred: " + textStatus, errorThrown);
    // Handle the error case here, if required
  }
});
});

$('#itemcode').change(function() {
var itemcode =  $('#itemcode').val();
$.ajax({
  type: "POST",
  url: "{% url 'depot_dashboard_data' %}", // Replace 'your_ajax_endpoint' with the actual URL for your AJAX endpoint
  data: {
      'itemcode':itemcode, 'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(data) {
     var total =  data.data.totallist;

          for (var i = 0; i < total.length; i++) {
                var item = total[i];
                $('.stock_cases').text(item.stock_cases);
                $('.stock_botteles').text(item.stock_botteles);
                $('.consumption_cases').text(item.consumption_cases);
                $('.consumption_botteles').text(item.consumption_botteles);
                $('.indays').text(item.indays);

          }

  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error occurred: " + textStatus, errorThrown);
    // Handle the error case here, if required
  }
});
});


$('#pdate').change(function() {
fdate = $('#pdate').val();
$.ajax({
  type: "POST",
  url: "{% url 'depot_pendin_sales' %}", // Replace 'your_ajax_endpoint' with the actual URL for your AJAX endpoint
  data: {
    fdate:fdate,'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(data) {
     var total =  data.data.list;
     var itemslist = data.data.itemlist;
     message = data.data.message;
     console.log(data);
     console.log(total);
     console.log(itemslist);
      if(message != "Data found")
      {
        $("#lblNoStock1").html(data.message);
        $("#lblNoStock1").show();
        $(".text").hide();
        $("#echart-pies2").hide();
        $('#chart_gauge_sales1').hide();
      }
      else
      {

        updateEchartPieChart1(itemslist,total);
      }
     var tableBody = $('#pendingtabel  tbody');
             tableBody.empty();
            for (var i = 0; i < itemslist.length; i++) {
                var item = itemslist[i];

                var row = $('<tr>');
                row.append($('<td>').text(i + 1));  // S No
                row.append($('<td>').text(item.itemname));
                row.append($('<td>').text(item.FTD_cases));
                row.append($('<td>').text(item.FTD_botteles));  // Quantity
                row.append($('<td>').text(item.MTD_cases));
                row.append($('<td>').text(item.MTD_botteles));
                //row.append($('<td>').text(item.indays));
                tableBody.append(row);
            }
        var tfootdata = $('#pendingtabel tfoot');
          tfootdata.empty();
          for (var i = 0; i < total.length; i++) {
                var item = total[i];
                $('.pending_count').text(item.pending);
                $('.pending_cases').text(item.FTD_cases);
                $('.pending_qty').text(item.FTD_botteles);

                var row = $('<tr>');
                row.append($('<th>').text('Grand Total').attr('colspan', 2).addClass('design1'));
                row.append($('<td>').text(item.FTD_cases));
                row.append($('<td>').text(item.FTD_botteles));
                row.append($('<td>').text(item.MTD_cases));
                row.append($('<td>').text(item.MTD_botteles));
                //row.append($('<td>').text(item.indays));
                tfootdata.append(row);
          }

  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error occurred: " + textStatus, errorThrown);
    // Handle the error case here, if required
  }
});
});

$(document).ready(function() {
    fdate = $('#pdate').val();
    $.ajax({
        type: "POST",
        url: "{% url 'depot_pendin_sales' %}",
        data: {
            fdate: fdate,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) {
            processData(data);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.error("Error occurred: " + textStatus, errorThrown);
            // Handle the error case here, if required
        }
    });
});

async function processData(data) {
    var total = data.data.list;
    var itemslist = data.data.itemlist;
    var message = data.data.message;
    console.log(data);
    console.log(total);
    console.log(itemslist);

    if (message !== "Data found") {
        $("#lblNoStock1").html(data.message);

        $("#lblNoStock1").show();
        $(".text").hide();
        $("#echart-pies2").hide();
        $('#chart_gauge_sales1').hide();
    } else {
       chart_gauge_sales_elem = document.getElementById('chart_gauge_sales');
       chart_gauge_01 = new Gauge(chart_gauge_sales_elem).setOptions(chart_gauge_settings);
       chart_gauge_01.animationSpeed = 32;
       chart_gauge_01.setTextField(0);
       chart_gauge_01.displayedValue=0;
       chart_gauge_01.set(0);
        updateEchartPieChart1(itemslist, total);
    }

    var tableBody = $('#pendingtabel tbody');
    tableBody.empty();
    for (var i = 0; i < itemslist.length; i++) {
        var item = itemslist[i];
        var row = $('<tr>');
        row.append($('<td>').text(i + 1));  // S No
        row.append($('<td>').text(item.itemname));
        row.append($('<td>').text(item.FTD_cases));
        row.append($('<td>').text(item.FTD_botteles));  // Quantity
        row.append($('<td>').text(item.MTD_cases));
        row.append($('<td>').text(item.MTD_botteles));
        //row.append($('<td>').text(item.indays));
        tableBody.append(row);
    }

    var tfootdata = $('#pendingtabel tfoot');
    tfootdata.empty();
    for (var i = 0; i < total.length; i++) {
        var item = total[i];
        $('.pending_count').text(item.pending);
        $('.pending_cases').text(item.FTD_cases);
        $('.pending_qty').text(item.FTD_botteles);

        var row = $('<tr>');
        row.append($('<th>').text('Grand Total').attr('colspan', 2).addClass('design1'));
        row.append($('<td>').text(item.FTD_cases));
        row.append($('<td>').text(item.FTD_botteles));
        row.append($('<td>').text(item.MTD_cases));
        row.append($('<td>').text(item.MTD_botteles));
        //row.append($('<td>').text(item.indays));
        tfootdata.append(row);
    }
}

$(document).ready(function() {
$.ajax({
  type: "GET",
  url: "{% url 'complete_sale_report' %}", // Replace 'your_ajax_endpoint' with the actual URL for your AJAX endpoint
  data: {
    'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(data) {
     var total =  data.data.list;
     var itemslist = data.data.itemlist;
     message = data.data.message;
     console.log(data);
     console.log(data);
     console.log(data);
      if(message != "Data found")
      {
       $("#lblNoStock2").html(data.message);
       $("#lblNoStock2").show();
       $("#echart-pies2").hide();
       $("#completetabel").hide();
      }else{
       updateEchartPieChart2(itemslist);
      }
     var tableBody = $('#completetabel  tbody');
             tableBody.empty();
            for (var i = 0; i < itemslist.length; i++) {
                var item = itemslist[i];
                var row = $('<tr>');
                row.append($('<td>').text(i + 1));  // S No
                row.append($('<td>').text(item.itemname));
                row.append($('<td>').text(item.amount));
                row.append($('<td>').text(item.FTD_cases));
                row.append($('<td>').text(item.FTD_botteles));
                row.append($('<td>').text(item.MTD_amount));
                row.append($('<td>').text(item.MTD_cases));
                row.append($('<td>').text(item.MTD_botteles));
                tableBody.append(row);
            }
        var tfootdata = $('#completetabel tfoot');
        tfootdata.empty();
          for (var i = 0; i < total.length; i++) {
                var item = total[i];
                $('.complete_sale').text(item.FTD_amount);
                $('.complete_cases').text(item.FTD_cases);
                $('.complete_bottles').text(item.FTD_botteles);
                var row = $('<tr>');
                row.append($('<th>').text('Grand Total').attr('colspan', 2).addClass('design1'));
                row.append($('<td>').text(item.FTD_amount));
                row.append($('<td>').text(item.FTD_cases));
                row.append($('<td>').text(item.FTD_botteles));
                row.append($('<td>').text(item.MTD_amount));
                row.append($('<td>').text(item.MTD_cases));
                row.append($('<td>').text(item.MTD_botteles));
                tfootdata.append(row);
          }

  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error occurred: " + textStatus, errorThrown);
    // Handle the error case here, if required
  }
});
});

$('#cdate').change(function() {
 cdate = $('#cdate').val();
$.ajax({
  type: "POST",
  url: "{% url 'complete_sale_report' %}", // Replace 'your_ajax_endpoint' with the actual URL for your AJAX endpoint
  data: {
   'cdate':cdate, 'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(data) {
     var total =  data.data.list;
     var itemslist = data.data.itemlist;
     message = data.data.message;
     console.log(data);
     console.log(data);
     console.log(data);
      if(message != "Data found")
      {
       $("#lblNoStock2").html(data.message);
       $("#lblNoStock2").show();
       $("#echart-pies2").hide();
       $("#completetabel").hide();
      }else{
       updateEchartPieChart2(itemslist);
      }
     var tableBody = $('#completetabel  tbody');
             tableBody.empty();
            for (var i = 0; i < itemslist.length; i++) {
                var item = itemslist[i];
                var row = $('<tr>');
                row.append($('<td>').text(i + 1));  // S No
                row.append($('<td>').text(item.itemname));
                row.append($('<td>').text(item.amount));
                row.append($('<td>').text(item.FTD_cases));
                row.append($('<td>').text(item.FTD_botteles));
                row.append($('<td>').text(item.MTD_amount));// Quantity
                row.append($('<td>').text(item.MTD_cases));
                row.append($('<td>').text(item.MTD_botteles));
                tableBody.append(row);
            }
        var tfootdata = $('#completetabel tfoot');
        tfootdata.empty();
          for (var i = 0; i < total.length; i++) {
                var item = total[i];
                $('.complete_sale').text(item.FTD_amount);
                $('.complete_cases').text(item.FTD_cases);
                $('.complete_bottles').text(item.FTD_botteles);
                var row = $('<tr>');
                row.append($('<th>').text('Grand Total').attr('colspan', 2).addClass('design1'));
                row.append($('<td>').text(item.FTD_amount));
                row.append($('<td>').text(item.FTD_cases));
                row.append($('<td>').text(item.FTD_botteles));
                row.append($('<td>').text(item.MTD_amount));
                row.append($('<td>').text(item.MTD_cases));
                row.append($('<td>').text(item.MTD_botteles));
                tfootdata.append(row);
          }

  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error occurred: " + textStatus, errorThrown);
    // Handle the error case here, if required
  }
});
});
$('#cdate').val(new Date().toJSON().slice(0,10));
$('#pdate').val(new Date().toJSON().slice(0,10));

 $(document).ready(function(){
  var optionValue = $("#warehouseid2").val();
  $("#warehouseid").find("option[value='" + optionValue + "']").prop("selected", true);
})
$("#warehouseid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#regionid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname").val(selectedOptionText);
});
$("#depoid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstationid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});

$("#button1").click(function() {
  var selectedOptionText = $('#warehouseid').find(":selected").text();
  $("#warehousename").val(selectedOptionText);
   var selectedOptionText = $('#regionid').find(":selected").text();
  $("#regionname").val(selectedOptionText);
   var selectedOptionText = $('#depoid').find(":selected").text();
  $("#deponame").val(selectedOptionText);
   var selectedOptionText = $('#busstationid').find(":selected").text();
  $("#bsstationname").val(selectedOptionText);
});


		$("#warehouseid").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storeregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#regionid").empty();

                	$.each(obj, function (index, item) {
                    $("#regionid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#regionid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storedepo" %}',
            	data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depoid").empty();

                	$.each(obj, function (index, item) {
                    $("#depoid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#depoid").change(function() {
    		var warehousename = $('#warehouseid').find(":selected").text();
        	var regionname = $('#regionid').val();
        	var depo = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid").empty();

                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});

$(document).ready(function() {
  var warehousename = $("#warehouseid2").find(":selected").text();

    $.ajax({
        type: "POST",
        url: '{% url "get_storeregion" %}',
        data: {
            'warehouse':warehousename,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#regionid").empty();

                $.each(obj, function(index, item) {
                $("#regionid").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
				 var optionValue = $("#regionid2").val();
                $("#regionid").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
    });
  });
  $(document).ready(function() {
    // Get the initial warehouse name
    var warehousename = $("#warehouseid2").find(":selected").text();
    var regionname = $("#regionid2").val();
    // Send an AJAX request to get the storeregion dropdown options
    $.ajax({
        type: "POST",
        url: '{% url "get_storedepo" %}',
      data: {
                	'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
        success: function(data) {
            var obj = data.data.dropdownlist
            if (obj) {
                $("#depoid").empty();

                $.each(obj, function(index, item) {
                    $("#depoid").append("<option value='" + item.id + "'>" + item.name + "</option>");
                });
                 var optionValue = $("#depoid2").val();
                 $("#depoid").find("option[value='" + optionValue + "']").prop("selected", true);
            }
        }
      });
    });
	$(document).ready(function() {
    		var warehousename = $('#warehouseid2').find(":selected").text();
        	var regionname = $('#regionid2').val();
        	var depo = $('#depoid2').val()
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_storebus" %}',
            	data: {
                	'depo':depo,'warehouse':warehousename,'region':regionname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstationid").empty();
                	$.each(obj, function (index, item) {
                    $("#busstationid").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
					var optionValue = $("#busstationid2").val();
                    $("#busstationid").find("option[value='" + optionValue + "']").prop("selected", true);
                	}
             	}
            });
     });

$(document).ready(function() {
$.ajax({
  type: "GET",
  url: "{% url 'depot_dashboard_data1' %}", // Replace 'your_ajax_endpoint' with the actual URL for your AJAX endpoint
  data: {
    'csrfmiddlewaretoken': '{{ csrf_token }}'
  },
  success: function(data) {
     var total =  data.data.totallist;
     message = data.data.message
      console.log(data);
      var itemslist = data.data.itemwiselist;
      if(message != "Data found")
      {
       $("#lblNoStock").html(data.message);
       $("#lblNoStock").show();
       $("#echart-depot1").hide();
      }else{

         for (var i = 0; i < itemslist.length; i++) {
            item = itemslist[i];
         }

         updateEchartPieChart(itemslist);
      }
     var tableBody = $('#stktabel  tbody');
            for (var i = 0; i < itemslist.length; i++) {
                var item = itemslist[i];
                var row = $('<tr>');
                row.append($('<td>').text(i + 1));  // S No
                row.append($('<td>').text(item.itemname));
                row.append($('<td>').text(item.stock_cases));
                row.append($('<td>').text(item.stock_botteles));  // Quantity
                row.append($('<td>').text(item.consumption_cases));
                row.append($('<td>').text(item.consumption_botteles));
                row.append($('<td>').text(item.indays));
                tableBody.append(row);
            }
        var tfootdata = $('#stktabel tfoot');
          for (var i = 0; i < itemslist.length; i++) {
                var item = total[i];
                $('.stock_cases').text(item.stock_cases);
                $('.stock_botteles').text(item.stock_botteles);
                $('.consumption_cases').text(item.consumption_cases);
                $('.consumption_botteles').text(item.consumption_botteles);
                $('.indays').text(item.indays);
                var row = $('<tr>');
                row.append($('<th>').text('Grand Total').attr('colspan', 2).addClass('design1'));
                row.append($('<td>').text(item.stock_cases));
                row.append($('<td>').text(item.stock_botteles));
                row.append($('<td>').text(item.consumption_cases));
                row.append($('<td>').text(item.consumption_botteles));
                row.append($('<td>').text(item.indays));
                tfootdata.append(row);
          }

  },
  error: function(jqXHR, textStatus, errorThrown) {
    console.error("Error occurred: " + textStatus, errorThrown);
    // Handle the error case here, if required
  }
});
});
</script>

{% endblock %}