{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>Add User</b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="user_list"><button type="submit" class="btn btn-primary">User List</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask" method="POST" action="user_add"   enctype="multipart/form-data">
											{% csrf_token %}
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>User Id </label>
										    <input type="text" class="form-control" placeholder="user id" name="uid">
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>User Name </label>
										    <input type="text" class="form-control" placeholder="user name" name="username" >
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Mobile Number</label>
										    <input type="text" name="mobile" class="form-control" placeholder="mobile number" pattern= "[6789][0-9]{9}">
                                         </div>
                                         <div class="col-md-3 col-sm-3  form-group has-feedback" >
											<label>Email Id</label>
										    <input type="email" name="email" class="form-control" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" >
										 </div>
											<div  class="col-md-3 col-sm-3  form-group has-feedback" >
												<input type="hidden" name="level" id="levelname" />
												<select class="form-control" name="levelname" id="level">
													<option>Level</option>
                                                    {% for all_data3 in all_data3 %}
														{% if  all_data3.status == "Active" %}
															<option  value="{{ all_data3.ddcode}}">{{ all_data3.displayname }}</option>
														{% endif %}
													{% endfor %}
												</select>
                                        </div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
												<input type="file"  name="image" id="customFile4" >
											</div>
										  <!--<div  class="col-md-3 col-sm-6  form-group has-feedback">

												<select class="form-control" name="designation">
													<option> Designation</option>
                                                    {% for all_data in all_data %}
														{% if  all_data.status == "Active" %}
															<option  value="{{ all_data.ddcode }}">{{ all_data.displayname }}</option>
													   {% endif %}
													{% endfor %}
												</select>
                                        </div>-->

                                        <div  class="col-md-3 col-sm-6  form-group has-feedback" >
													<input type="hidden" name="role" id="rolename" />
												<select class="form-control" name="role1" id="role">
													<option> Role</option>
													{% for all_data2 in all_data2 %}
														{% if  all_data2.status == "Active" %}
															<option  value="{{ all_data2.ddcode}}">{{ all_data2.displayname }}</option>
														{% endif %}
													{% endfor %}
												</select>
                                        </div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback" >
													<input type="hidden" name="warehousename" id="warehousename" />
												<select class="form-control" name="warehouse" id="warehouse" style="display: none;">
														<option> selct warehouse</option>
													{% for data in data %}
														{% if  data.status == "Active" %}
														<option  value="{{ data.warehouseid }}">{{ data.warehousename }}</option>
													{% endif %}
													{% endfor %}
												</select>
                                        </div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback" >
											<input type="hidden" name="regionname" id="regionname" />
												<select class="form-control" name="region" id="region" style="display: none;">
													<option  value="">select region</option>
												</select>
                                        </div>

										<div  class="col-md-3 col-sm-6  form-group has-feedback" >
											<input type="hidden" name="deponame" id="deponame" />
												<select class="form-control" name="depo" id="depo" style="display: none;">
														<option  value="">select depo</option>
												</select>
                                        </div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback" >
												<input type="hidden" name="busstationname" id="busstationname" />
												<select class="form-control" name="busstation" id="busstation" style="display: none;">

														<option  value="">select busstation</option>

												</select>
                                        </div>

										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-primary">Save</button>
											</div>
										</div>

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
$("#role").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#rolename").val(selectedOptionText);
});
$("#level").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#levelname").val(selectedOptionText);
});
$("#warehouse").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#region").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname").val(selectedOptionText);
});
$("#depo").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstation").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});
document.getElementById("role").addEventListener("change", function() {
var val=$(this).find(":selected").text();
  if (val === "Admin" || val === "Bus Station") {
    document.getElementById("warehouse").style.display = "block";
    document.getElementById("region").style.display = "block";
    document.getElementById("depo").style.display = "block";
    document.getElementById("busstation").style.display = "block";
  }
  else if (val === "Marketing Executive" ){
		document.getElementById("warehouse").style.display = "block";
        document.getElementById("region").style.display = "block";
        document.getElementById("depo").style.display = "none";
    	document.getElementById("busstation").style.display = "none";
    }

  else if(val === "Depo" ) {
	document.getElementById("warehouse").style.display = "block";
    document.getElementById("region").style.display = "block";
    document.getElementById("depo").style.display = "block";
    document.getElementById("busstation").style.display = "none";
   }
	else if (val === "Region" ){
		document.getElementById("warehouse").style.display = "block";
        document.getElementById("region").style.display = "block";
        document.getElementById("depo").style.display = "none";
    	document.getElementById("busstation").style.display = "none";
    }
    else{
	document.getElementById("warehouse").style.display = "block";
	document.getElementById("region").style.display = "none";
    document.getElementById("depo").style.display = "none";
    document.getElementById("busstation").style.display = "none";
	}
});
$(document).ready(function(){
		$("#warehouse").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_depregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.regionlist
					if(obj) {
			 		$("#region").empty();
			 		$("#region").append("<option  value=''>Choose Region</option>");
                	$.each(obj, function (index, item) {
                    $("#region").append("<option value='" + item.regionid+ "'>" + item.regionname+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#region").change(function() {
        	var region = $(this).val();
        	var warehouse = $('#warehouse').find(":selected").text();
        	var role =  $("#role").find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_dependent_depo" %}',
            	data: {
                	'region':region,'warehouse':warehouse,'role':role,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#depo").empty();
			 		$("#depo").append("<option  value=''>Choose Depo</option>");
                	$.each(obj, function (index, item) {
                    $("#depo").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});
    	$("#depo").change(function() {
        	var depo = $(this).val();
        	var region = $('#region').val();
        	var warehouse = $('#warehouse').find(":selected").text();
        	var role =  $("#role").find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_dependent_bus" %}',
            	data: {
                	'depo':depo,'region':region,'warehouse':warehouse,'role':role,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
					if(obj) {
			 		$("#busstation").empty();
			 		$("#busstation").append("<option  value=''>Choose bus station</option>");
                	$.each(obj, function (index, item) {
                    $("#busstation").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
					});
                	}
             	}
        	});
    	});

 });

</script>
{% endblock %}