{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"><b>Add User</b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="user_list"><button type="submit" class="btn btn-primary">User List</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask" method="POST" action="user_add"   enctype="multipart/form-data">
											{% csrf_token %}
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>User Id *</label>
										    <input type="text" class="form-control" placeholder="user id" name="uid" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>User Name * </label>
										    <input type="text" class="form-control" placeholder="user name" name="username" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Mobile Number *</label>
										    <input type="text" name="mobile" class="form-control" placeholder="mobile number" pattern= "[6789][0-9]{9}" required>
                                         </div>
                                         <div class="col-md-3 col-sm-3  form-group has-feedback" >
											<label>Email *</label>
										    <input type="email" name="email" class="form-control" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
										 </div>
											<div  class="col-md-3 col-sm-3  form-group has-feedback" >
												<input type="hidden" name="level" id="levelname" />
												<label>Level</label>
												<select class="form-control" name="levelname" id="level">
													<option>Level</option>
                                                    {% for all_data3 in all_data3 %}
														{% if  all_data3.status == "Active" %}
															<option  value="{{ all_data3.displayname}}">{{ all_data3.displayname }}</option>
														{% endif %}
													{% endfor %}
												</select>
                                        </div>

										  <!--<div  class="col-md-3 col-sm-6  form-group has-feedback">

												<select class="form-control" name="designation">
													<option> Designation</option>
                                                    {% for all_data in all_data %}
														{% if  all_data.status == "Active" %}
															<option  value="{{ all_data.ddcode }}">{{ all_data.displayname }}</option>
													   {% endif %}
													{% endfor %}
												</select>
                                        </div>-->

                                        <div  class="col-md-3 col-sm-6  form-group has-feedback" >
													<input type="hidden" name="role" id="rolename" />
											<label>Role</label>
												<select class="form-control items" name="role1" id="role" required>
													<option value=""> Role</option>
													{% for all_data2 in all_data2 %}
															<option  value="{{ all_data2.role}}">{{ all_data2.role }}</option>
													{% endfor %}
												</select>
                                        </div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback" id="warehouse1" style="display: none;">
											<label>Warehouse *</label>
											<input type="hidden" name="warehousename" id="warehousename" />
												<select class="form-control items" name="warehouse" id="warehouse">
														<option value=""> selct warehouse</option>
													{% for data in data %}
														{% if  data.status == "Active" %}
														<option  value="{{ data.warehouseid }}">{{ data.warehousename }}</option>
													{% endif %}
													{% endfor %}
												</select>
                                        </div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback" id="region1" style="display: none;">
											<label>Region *</label>
											<input type="hidden" name="regionname" id="regionname" />
												<select class="form-control itemes" name="region" id="region" >
													<option  value="">select region</option>
												</select>
                                        </div>

										<div  class="col-md-3 col-sm-6  form-group has-feedback" id="depo1" style="display: none;">
											<label>Depot *</label>
											<input type="hidden" name="deponame" id="deponame" />
												<select class="form-control items" name="depo" id="depo" >
														<option  value="">select depot</option>
												</select>
                                        </div>
										<div  class="col-md-3 col-sm-6  form-group has-feedback" id="busstation1" style="display: none;">
											<label>Bus station *</label>
												<input type="hidden" name="busstationname" id="busstationname" />
												<select class="form-control items" name="busstation" id="busstation" >
														<option  value="">select busstation</option>
												</select>
                                        </div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label> User image:</label>
												<input type="file"  name="image" id="customFile4" >
											</div>

										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<button type="submit" class="btn btn-primary">Save</button>
											</div>
										</div>

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
$("#role").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#rolename").val(selectedOptionText);
});
$("#level").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#levelname").val(selectedOptionText);
});
$("#warehouse").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#region").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#regionname").val(selectedOptionText);
});
$("#depo").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});
$("#busstation").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busstationname").val(selectedOptionText);
});


document.getElementById("role").addEventListener("change", function() {
	var val=$(this).find(":selected").text();
	 if (val === "Admin" || val === "Role") {
		document.getElementById("warehouse1").style.display = "none";
		document.getElementById("region1").style.display = "none";
		document.getElementById("depo1").style.display = "none";
		document.getElementById("busstation1").style.display = "none";
	  }
	  else if (val === "BUS STATION CONTROLLER" || val === "DC CONTROLLER") {
		document.getElementById("warehouse1").style.display = "block";
		document.getElementById("region1").style.display = "block";
		document.getElementById("depo1").style.display = "block";
		document.getElementById("busstation1").style.display = "block";

		document.getElementById("warehouse").setAttribute("required", "required");
		document.getElementById("region").setAttribute("required", "required");
		document.getElementById("depo").setAttribute("required", "required");
		document.getElementById("busstation").setAttribute("required", "required");
	  }

	  else if (val === "MARKETING EXECUTIVE" || val === "REGIONAL MANAGER" ){
			document.getElementById("warehouse1").style.display = "block";
			document.getElementById("region1").style.display = "block";
			document.getElementById("depo1").style.display = "none";
			document.getElementById("busstation1").style.display = "none";

			document.getElementById("warehouse").setAttribute("required", "required");
			document.getElementById("region").setAttribute("required", "required");

		}

	  else if(val === "DEPOT STORE EXECUTIVE" || val === "DEPO MANAGER") {
		document.getElementById("warehouse1").style.display = "block";
		document.getElementById("region1").style.display = "block";
		document.getElementById("depo1").style.display = "block";
		document.getElementById("busstation1").style.display = "none";

		document.getElementById("warehouse").setAttribute("required", "required");
		document.getElementById("region").setAttribute("required", "required");
		document.getElementById("depo").setAttribute("required", "required");

	   }

	    else if(val === "ZONAL STORES" ) {
			document.getElementById("warehouse1").style.display = "block";
			document.getElementById("region1").style.display = "none";
			document.getElementById("depo1").style.display = "none";
			document.getElementById("busstation1").style.display = "none";

			document.getElementById("warehouse").setAttribute("required", "required");


	   }


		else{

			document.getElementById("warehouse1").style.display = "block";
			document.getElementById("region1").style.display = "block";
			document.getElementById("depo1").style.display = "block";
			document.getElementById("busstation1").style.display = "block";


			document.getElementById("warehouse").setAttribute("required", "required");
			document.getElementById("region").setAttribute("required", "required");
			document.getElementById("depo").setAttribute("required", "required");
			document.getElementById("busstation").setAttribute("required", "required");
		}
	});

$(document).ready(function(){
		$("#warehouse").change(function() {
        	var warehousename = $(this).find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_depregion" %}',
            	data: {
                	'warehouse':warehousename,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.regionlist
			 		var error = data.data.error;
					var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#region").empty();
						$("#region").append("<option  value=''>not available</option>");
					}
					else {
						if(obj) {
							$("#region").empty();
							$("#region").append("<option  value=''>Choose Region</option>");
							$.each(obj, function (index, item) {
							$("#region").append("<option value='" + item.regionid+ "'>" + item.regionname+ "</option>");
							});
				        }
                	}
             	}
        	});
    	});
    	$("#region").change(function() {
        	var region = $(this).val();
        	var warehouse = $('#warehouse').find(":selected").text();
        	var role =  $("#role").find(":selected").text();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_dependent_depo" %}',
            	data: {
                	'region':region,'warehouse':warehouse,'role':role,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.dropdownlist
			 		var error = data.data.error;
					var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#depo").empty();
						$("#depo").append("<option  value=''>not available</option>");
					}
					else {
						if(obj) {
							$("#depo").empty();
							$("#depo").append("<option  value=''>Choose Depo</option>");
							$.each(obj, function (index, item) {
							$("#depo").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
							});
					    }

                	}
             	}
        	});
    	});

    	$("#depo").change(function() {
        	var depo = $(this).val();
        	var region = $('#region').val();
        	var warehouse = $('#warehouse').find(":selected").text();
        	var role =  $("#role").find(":selected").text();

        	var url = role === 'DC CONTROLLER' ? '{% url "get_ps" %}' : '{% url "get_dependent_bus" %}';
        	$.ajax({
            	type: "POST",
            	url: url,
            	data: {
                	'depo':depo,'region':region,'warehouse':warehouse,'role':role,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 	if ( role === 'DC CONTROLLER'){
			 		var error = data.data.error;
                    var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#busstation").empty();
						$("#busstation").append("<option  value=''>not available</option>");
					}
					else {
                        var obj = data.data.productsuperviserlist
						$("#busstation").empty();
						$.each(obj, function (index, item) {
						$("#busstation").append("<option value='" + item.busstationid+ "'>" + item.busstationname+ "</option>");
						});

					}

			 	}
			 	else {
			 		var obj = data.data.dropdownlist
			 		var error = data.data.error;
					var message = data.data.message;
					if (error === true) {
						alertify.set('notifier', 'position', 'top-center');
						alertify.error(message);
						$("#busstation").empty();
						$("#busstation").append("<option  value=''>not available</option>");
					}
					else {
						if(obj) {
							$("#busstation").empty();
							$("#busstation").append("<option  value=''>Choose bus station</option>");
							$.each(obj, function (index, item) {
							$("#busstation").append("<option value='" + item.id+ "'>" + item.name+ "</option>");
							});
						}
                	}
                }
             	}
        	});
    	});

 });

</script>
{% endblock %}