{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>GRN Item Details</h3>
              </div>

              <div class="title_right">

                     <div class="col-md-5 col-sm-5 offset-md-7">
                      <div style="display: inline-block;">
                            <div class="row" style="display: inline-block;">
                                <div class="top_tiles" style="width: 700px;">
                                    <div class="animated flipInY  col-md-3 col-sm-3">
                                        <div class="tile-stats">
                                            <div class="icon1"><!--<i class="fa fa-bar-chart"></i>--></div>
                                                <h1 class="text-info" style="margin-top:13px; margin-left: 10px; font-size: 18px;">{{ id }}</h1>
                             <!--<p class="text-info" style="font-size: 12px;">Indent from</p>-->
                                        </div>
                                    <div>
                                </div>
                            </div></div>
                                 <!--<div class="col-md-4 col-sm-4 offset-md-4">-->
                    <a href="{% url 'add_grnitem' id=id %}"><button type="submit" style="margin-top:11px;margin-right:20px;" class="btn btn-primary">Add GRN Item</button></a>
                                 <!--</div>-->
                                 </div>
            </div>
              </div>
                </div>
              </div>
             <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>

                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                     <th>Qty(In Bottles)</th>
                                    <th>Expiry Date</th>
                                    <th>Batch code</th>
                                    <th> Price Per Bottle</th>
                                  <th>Action</th>

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                        <td>{{ all_data.noofbottles }}</td>
                       <td>{{  all_data.expiry_date}}</td>
                    <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.purchase_price }}</td>
                        <td>
                            <a href="#" class="depoedit" onclick="editGrnItem('{{ id }}','{{ all_data.item_code }}' )" data-id="{{ id}}" data-id1="{{ all_data.item_code }}"><span class="badge badge-info"><i class="fa fa-edit"></i></span></a>
                       </td>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div id="depo-edit" class="modal custom-modal fade"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1250px%; !important"  role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h3 class="modal-title">Edit GRN Item</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
            </div>
            <div class="modal-body">
               <form  method="POST" action="depo_edit"   enctype="multipart/form-data">
											{% csrf_token %}
										<div class="col-md-6 col-sm-6  form-group has-feedback">
                                                 <input type="hidden" id="itemname" name="itemname" />
                                                       <label>Select Items *</label>
                                                <select class="form-control items" name="itemcode" id="itemcode" required>
                                                    <option value="">item name</option>
                                                    {% for data in item_masterlist %}
                                                        <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                    {% endfor %}
                                                </select>
                                            <input type="hidden" id="txtItemName" name="txtItemName" />
                                            </div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                                             <label>Batch Number *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                                             <label>Qty(Cases)*</label>
										    <input type="text" class="form-control" placeholder="quantity in cases" name="quantity" id="quantity">
										</div>
                                         <div class="col-md-6 col-sm-6  form-group has-feedback">
                                              <label>Qty(Bottles)*</label>
										    <input type="text" class="form-control" placeholder="bottles" name="nob" id="noofbottles" readonly>
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                                              <label>Price Per Bottle*</label>
										    <input type="text" class="form-control" id="latestpurchase" placeholder="price per bottle" name="latestpurchase" value="{{ data.item_code }}"required>
										</div>
										<div class="col-md-6 col-sm-6  form-group has-feedback">
                                             <label>Manufacture Date *</label>
										    <input type="date" class="form-control"  name="expdate" id="expdate" required>
										</div>
                                                 <input type="hidden" class="form-control"  id="result" name="result">
										    <input type="hidden" class="form-control" id="manufacture" name="manufacture" required>
                    <input type="hidden" class="form-control" id="grn" name="grn">
										    <input type="hidden" class="form-control" id="itemsno" name="itemsno">
</div>
            <div class="modal-footer">
				 <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
          </form>
        </div>
    </div>
</div>

<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Update Payment</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="/add_grn_inventory">
                                                    {% csrf_token %}
                                            <input type="hidden" id="txtHdnId" name="txtHdnId"  />
                                                 <input type="hidden" id="mrp" name="mrp"  />
                                                   <input type="hidden" id="sno" name="sno"  />
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                        <label>Quantity (In Cases)</label>
										            <input type="text" class="form-control" placeholder="quantity" name="qty" id="qty" >
                                            </div>
                                                   <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                         <label>Number Of Botteles</label>
										            <input type="text" class="form-control" placeholder="Number Of Botteles" name="nob" id="nob">
                                            </div>
                                            <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                <label>Total Price</label>
										        <input type="text" class="form-control" placeholder="Price" name="price" id="price" >
										    </div>
                                                <input type="hidden" name="cases" id="cases" />

                                            <div class="col-md-6 col-sm-6  offset-md-4">
                                                  <button type="submit" class="btn btn-info">Update Payment</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>
<script>

function editGrnItem(id,id1){
      $.ajax({
        url: "{% url 'get_grn_item' %}",
        type: 'POST',
        data: {
          'id': id,'itemcode':id1,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data
          	console.log(obj.uom);
             if(obj){
              $("#grn").val(id);
             $("#uom").val(obj.uom);
             $("#id").val(obj.id);
             $("#quantity").val(obj.quantity);
             $("#noofbottles").val(obj.noofbottles);
             $("#batchno").val(obj.batch_no);
             $("#itemname").val(obj.itemname);
             $('#itemcode').val(obj.item_code)
             $("#latestpurchase").val(obj.purchase_price);
             $("#expdate").val(obj.expiry_date);
             $('#itemsno').val(obj.sno);
               $('#depo-edit').modal('show');
        	}

        }
      });
}



function VerifyClick(id,id1,id2,id3,id4,id5,id6){
$("#qty").val(id1);
$("#nob").val(id4);
$("#price").val(id6);
$("#txtHdnId").val(id);
$("#cases").val(id3)
$("#mrp").val(id2)
$("#sno").val(id5)
}
        $('#qty').on('input', function()  {
            $("#nob").val(" ");
            $("#price").val(" ");
    	    val  = $("#qty").val();
            val1 = $("#cases").val();
            mrp = $("#mrp").val( );
            val2 =    (val * val1)
            val3 = (val2 * mrp)
            $("#nob").val(val2);
            $("#price").val(" ");
            $("#price").val(val3);

         });
         document.getElementById("expdate").addEventListener("input", calculateDate);

function calculateDate() {
  var inputDate = document.getElementById("expdate").value; // Get the selected date from the input field
  var date = new Date(inputDate); // Convert the input value to a Date object
  date.setMonth(date.getMonth() - 6); // Subtract 6 months from the selected date

  var result = formatDate(date); // Format the result using a helper function formatDate()
  $("#expdate").val(result);
}

function formatDate(date) {
  var year = date.getFullYear();
  var month = ("0" + (date.getMonth() + 1)).slice(-2); // Adding 1 to the month since it's zero-based index
  var day = ("0" + date.getDate()).slice(-2);
  return year + "-" + month + "-" + day; // Format the date as "YYYY-MM-DD"
}

$("#itemcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname").val(selectedOptionText);
});
</script>
{% endblock %}

