{% extends 'base.html' %}

{% block htmlbody %}
<style>
    .style1{
	position: absolute !important;
	width: 60% !important;
	margin-left:75px;
	}
</style>

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>GRN Item Details</h3>
              </div>

              <div class="title_right">

                     <div class="col-md-5 col-sm-5 offset-md-6">
                      <div style="display: inline-block;">
                            <div class="row" style="display: inline-block;">
                                <div class="top_tiles" style="width: 700px;">
                                    <div class="animated flipInY  col-md-3 col-sm-3">
                                        <div class="tile-stats">
                                            <div class="icon1"><!--<i class="fa fa-bar-chart"></i>--></div>
                                                <h1 class="text-info" style="margin-top:13px; margin-left: 10px; font-size: 18px;">{{ id }}</h1>
                             <!--<p class="text-info" style="font-size: 12px;">Indent from</p>-->
                                        </div>
                                    <div>
                                </div>
                            </div></div>
                                 <!--<div class="col-md-4 col-sm-4 offset-md-4">-->
                    <a href="{% url 'add_grnitem' id=id %}"><button type="submit" style="margin-top:11px;margin-right:20px;" class="btn btn-primary">Add GRN Item</button></a>
                                 <!--</div>-->
                                 </div>
            </div>
              </div>
                </div>
              </div>
             <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>

                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                     <th>Qty(In Bottles)</th>
                                    <th>Expiry Date</th>
                                    <th>Batch code</th>
                                    <th> Price Per Bottle</th>
                            {% if request.session.role == 'Admin' %}

                                  <th>Action</th>
                            {% endif %}

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                        <td>{{ all_data.noofbottles }}</td>
                       <td>{{  all_data.expiry_date}}</td>
                    <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.purchase_price }}</td>
                       {% if request.session.role == 'Admin' %}
                            <td>
                                <a href="#" class="depoedit" onclick="editGrnItem('{{ id }}','{{ all_data.item_code }}' )" data-id="{{ id}}" data-id1="{{ all_data.item_code }}"><span class="badge badge-info"><i class="fa fa-edit"></i></span></a>
                                  <a href="#" onclick="VerifyClick2('{{ all_data.id }}','{{ all_data.grn }}')"><span class="badge badge-danger" data-toggle="modal" data-target="#store-status">
                                                  <i class="fa fa-trash"></i></span></a>
                           </td>
                       {% endif %}
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<div id="depo-edit" class="modal custom-modal fade"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1250px%; !important"  role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h3 class="modal-title">Edit GRN Item</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
            </div>
            <div class="modal-body">
               <form  method="POST" action="/edit_grn_item"   enctype="multipart/form-data">
											{% csrf_token %}
										<div class="col-md-6 col-sm-6  form-group has-feedback">
                                                 <input type="hidden" id="itemname" name="itemname" />
                                                       <label>Select Items *</label>
                                                <select class="form-control items" name="itemcode" id="itemcode" required>
                                                    <option value="">item name</option>
                                                    {% for data in item_masterlist %}
                                                        <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                    {% endfor %}
                                                </select>
                                            <input type="hidden" id="txtItemName" name="txtItemName" />
                                            </div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                                             <label>Batch Number *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                                             <label>Qty(Cases)*</label>
										    <input type="text" class="form-control" placeholder="quantity in cases" name="quantity" id="quantity">
										</div>
                                         <div class="col-md-6 col-sm-6  form-group has-feedback">
                                              <label>Qty(Bottles)*</label>
										    <input type="text" class="form-control" placeholder="bottles" name="nob" id="noofbottles" readonly>
										</div>
                                        <div class="col-md-6 col-sm-6  form-group has-feedback">
                                              <label>Price Per Bottle*</label>
										    <input type="text" class="form-control" id="latestpurchase" placeholder="price per bottle" name="latestpurchase" value="{{ data.item_code }}"required>
										</div>
										<div class="col-md-6 col-sm-6  form-group has-feedback">
                                             <label>Manufacture Date *</label>
										    <input type="date" class="form-control"  name="expdate" id="expdate" required>
										</div>
                                               <input type="hidden" id="mrp" name="mrp"  />
                                            <input type="hidden" class="form-control"  id="result" name="result">
                                            <input type="hidden" class="form-control"  id="uom" name="uom">
										    <input type="hidden" class="form-control" id="manufacture" name="manufacture" required>
                                            <input type="hidden" class="form-control" id="grn" name="grn">
										    <input type="hidden" class="form-control" id="itemsno" name="itemsno">
                     <input type="hidden" class="form-control" id="id" name="id">
</div>
            <div class="modal-footer">
				 <button type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
          </form>
        </div>
    </div>
</div>

<div class="modal custom-modal fade"  id="bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Update Payment</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form method="post" action="/add_grn_inventory">
                                                    {% csrf_token %}
                                            <input type="hidden" id="txtHdnId" name="txtHdnId"  />

                                                   <input type="hidden" id="sno" name="sno"  />
                                            <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                        <label>Quantity (In Cases)</label>
										            <input type="text" class="form-control" placeholder="quantity" name="qty" id="qty" >
                                            </div>
                                                   <div class="col-md-6 col-sm-6  form-group has-feedback">
                                                         <label>Number Of Botteles</label>
										            <input type="text" class="form-control" placeholder="Number Of Botteles" name="nob" id="nob">
                                            </div>
                                            <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                <label>Total Price</label>
										        <input type="text" class="form-control" placeholder="Price" name="price" id="price" >
										    </div>
                                                <input type="hidden" name="cases" id="cases" />

                                            <div class="col-md-6 col-sm-6  offset-md-4">
                                                  <button type="submit" class="btn btn-info">Update Payment</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>


<div class="modal custom-modal fade" id="store-status" role="dialog">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content style1">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							<div class="modal-body">
								  <form method="post" action="/delete_grn_item">
                                                    {% csrf_token %}
								<div class="form-header">
									<h3>Delete GRN Item</h3>
									<p>Are you sure want to Delete?</p>
								</div>
									  <div class="modal-btn delete-action">
									<input type="hidden" id="deleteid" name="deleteid"  />
                                          <input type="hidden" id="deletesono" name="deletesono"  />
									<div class="row">
											<div class="col-md-6 col-sm-6">
                                                 <button type="submit" class="btn btn-primary" style="margin-left:50px;" >Yes</button>
                                        </div>
                                        	<div class="col-md-6 col-sm-6">
                                                 <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                            </div>
									</div>
								</div>
								  </form>
							</div>

						</div>
					</div>
				</div>

<script>
function VerifyClick2(id,id1){
$("#deleteid").val(id);
$("#deletesono").val(id1);
}
function editGrnItem(id,id1){
      $.ajax({
        url: "{% url 'get_grn_item' %}",
        type: 'POST',
        data: {
          'id': id,'itemcode':id1,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data
          	console.log(obj.uom);
             if(obj){
             $("#grn").val(id);
             $("#uom").val(obj.uom);
             $("#id").val(obj.id);
              $("#mrp").val(obj.mrp);
             $("#quantity").val(obj.quantity);
             $("#noofbottles").val(obj.noofbottles);
             $("#batchno").val(obj.batch_no);
             $("#itemname").val(obj.itemname);
             $('#itemcode').val(obj.item_code)
             $("#latestpurchase").val(obj.purchase_price);
               var inputDate =obj.expiry_date;

              var date = new Date(inputDate);
              date.setMonth(date.getMonth() - 6);
              var result = formatDate(date);
              $("#result").val(obj.expiry_date);
              $("#expdate").val(result);
             $('#itemsno').val(obj.sno);
               $('#depo-edit').modal('show');
        	}
        }
      });
}
$("#itemcode").change(function() {
        	var itemname = $('#itemcode').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_grn_item_data" %}',
            	data: {
                	'itemname':itemname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 	 var obj = data.data
			 	 alert(obj.uom)
                        if(obj){
                        $("#quantity").val(" ");
                        $("#noofbottles").val(" ");
                            $("#uom").val(obj.uom);
                            $("#itemsno").val(obj.sno);
                             $("#mrp").val(obj.mrp);
					    }
             	}
        	});
    	});
$('#quantity').on('input', function()  {
            val  = $("#quantity").val();
            val1 = $("#uom").val();
            val2 =    (val * val1)
            $("#noofbottles").val(val2);
    });

document.getElementById("expdate").addEventListener("input", calculateDate);

function calculateDate() {
  var inputDate = document.getElementById("expdate").value; // Get the selected date from the input field
  var date = new Date(inputDate); // Convert the input value to a Date object
  date.setMonth(date.getMonth() + 6); // Subtract 6 months from the selected date
  var result = formatDate(date); // Format the result using a helper function formatDate()
  $("#result").val(result);
}

function formatDate(date) {
  var year = date.getFullYear();
  var month = ("0" + (date.getMonth() + 1)).slice(-2); // Adding 1 to the month since it's zero-based index
  var day = ("0" + date.getDate()).slice(-2);
  return year + "-" + month + "-" + day; // Format the date as "YYYY-MM-DD"
}

$("#itemcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname").val(selectedOptionText);
});
</script>
{% endblock %}

