{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4> Add GRN</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="grn_list"><button type="submit" class="btn btn-primary">GRN List</button></a>
                </div>
            </div>
              </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                 <div class="x_content">
									<br />
					 </ul>
					 	</div>


									<form class="form-label-left input_mask"  method="POST" action="add_grn"   enctype="multipart/form-data">
										{% csrf_token %}
                                   <div class="row">

										<div class="col-md-3 col-sm-6  form-group has-feedback">

											<label>Vendor Name *</label>
										    	<select class="country form-control" name="vname">
													<option>vendor name search</option>
												{% for data in all_data %}
													<option  value="{{ data.vendorcode}}">{{ data.vendorname }}</option>
												{% endfor %}
												</select>
										</div>
										<!--<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Warehouse Name *</label>
											<select class="country form-control" name="whname">
												<option>warehouse name search</option>
											{% for data in all_data1 %}
											<option  value="{{ data.warehouseid}}">{{ data.warehousename }}</option>
											{% endfor %}
											</select>
										</div>-->
											<div class="col-md-3 col-sm-6  form-group has-feedback">

											<label>Warehouse Name  *</label>
										    <input type="text" class="form-control" value="{{ whname }}" name="whname">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">

											<label>Invoice No *</label>
										    <input type="text" class="form-control" placeholder="invoice no" name="invno">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Invoice Date *</label>
										    <input type="date" class="form-control" placeholder="invoice date" name="invoicedate">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Invoice Amount</label>
										    <input type="text" class="form-control" placeholder="invoice amount" name="invoiceamount">
										</div>

											<div class="col-md-3 col-sm-6 form-group has-feedback">
												<button type="submit"   style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

										<div class="col-md-3 col-sm-6  form-group has-feedback">
										    <input type="hidden" class="form-control"  name="code">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
										    <input type="hidden" class="form-control"  name="gst">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
										    <input type="hidden" class="form-control" name="pan">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="number">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wcode">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wgst">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wpan">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wcontnumber">
										</div>

								   </div>
				  </form>
									</div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
{% endblock %}