{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4>GRN Item Details</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="add_grnitem"><button type="submit" class="btn btn-success">Add GRN Item</button></a>
                </div>
            </div>
              </div>
             <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>


                                    <th>Item Name</th>
                                    <th>QTY</th>
                                    <th>ExpDate</th>
                                    <th>HSN</th>
                                    <th>UOM</th>
                                    <th>MRP</th>
                                    <th>Image</th>

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                       <td>{{  all_data.expiry_date}}</td>
                        <td>{{ all_data.hsn }}</td>
                       <td>{{ all_data.uom }}</td>
                       <td>{{ all_data.mrp }}</td>
                       <td>{{ all_data.image }}</td>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>

{% endblock %}

