{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>GRN Item Details</h3>
              </div>

           <div class="title_right">
                <div class="col-md-6 col-sm-6 offset-md-9">
                   <div style="display: inline-block;">
                            <div class="row" style="display: inline-block;">
                                <div class="top_tiles" style="width: 700px;">
                                    <div class="animated flipInY  col-md-3 col-sm-3">
                                        <div class="tile-stats">
                                            <div class="icon1"><!--<i class="fa fa-bar-chart"></i>--></div>
                                                <h1 style="margin-top:13px; margin-left: 10px; font-size: 18px;color:#06911A;">{{ id }}</h1>
                                 <!--<p class="text-info" style="font-size: 12px;">Indent from</p>-->
                                        </div>
                                    <div>
                                </div>
                            </div></div>
                </div>
            </div>
              </div>
           </div>
             <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>

                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                    <th>Qty(In Bottles)</th>
                                    <th>Expiry Date</th>
                                    <th>Batch Code</th>
                                    <th>MRP</th>


                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                           <td>{{ all_data.noofbottles }}</td>
                       <td>{{  all_data.expiry_date}}</td>
                       <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.mrp }}</td>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>


{% endblock %}

