{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Add GRN</b></h3>
              </div>
			</div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                 <div class="x_content">
									<br />
					 </ul>
					 	</div>
									<form class="form-label-left input_mask"  method="POST" action="/add_grn"   enctype="multipart/form-data">
										{% csrf_token %}
                                   <div class="row">

										<div class="col-md-3 col-sm-6  form-group has-feedback">
											  <input type="hidden" class="form-control" name="vname" id="vname"  >
											<label>Select Vendor *</label>
										    	<select class=" form-control items" name="vid" id="vid" required>
												{% for data in all_data %}
													<option  value="{{ data.vendorcode}}">{{ data.vendorname }}</option>
												{% endfor %}
												</select>
										</div>

									   {% if request.session.role == 'Admin' %}
											<div class="col-md-3 col-sm-6  form-group has-feedback">
												<label>Select Warehouse *</label>
												<select class="form-control items" name="whname">
												{% for data in all_data1 %}
													<option  value="{{ data.warehouseid}}">{{ data.warehousename }}</option>
												{% endfor %}
												</select>
											</div>
									   {% else %}
											<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Warehouse Name  *</label>
										    <input type="text" class="form-control" value="{{ whname }}" name="whname" readonly>
										</div>
									   {% endif %}
										<div class="col-md-3 col-sm-6  form-group has-feedback">

											<label>Invoice No *</label>
										    <input type="text" class="form-control" placeholder="invoice no" name="invno" required>
										</div>
									   <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Invoice Image Attach </label>
											<div class="custom-file">
    											<input type="file"  name='invoiceimage' id="invoiceimage" required>
											</div>
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Invoice Date *</label>
										    <input type="date" class="form-control" placeholder="invoice date" id="tdate"  name="invoicedate" required>
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Invoice Amount(Including GST)</label>
										    <input type="text" class="form-control" placeholder="invoice amount" name="invoiceamount" required>
										</div>

											<div class="col-md-3 col-sm-6 form-group has-feedback">
												<button type="submit"   style="margin-top: 25px;" class="btn btn-primary">Save</button>
											</div>

										<div class="col-md-3 col-sm-6  form-group has-feedback">
										    <input type="hidden" class="form-control"  name="code">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
										    <input type="hidden" class="form-control"  name="gst">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
										    <input type="hidden" class="form-control" name="pan">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="number">
										</div>
										<div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wcode">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wgst">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wpan">
										</div>
									   <div class="col-md-3 col-sm-6  form-group has-feedback">
											<input type="hidden" class="form-control"  name="wcontnumber">
										</div>

								   </div>
				  </form>
									</div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>

$("#vid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#vname").val(selectedOptionText);
});
$(document).ready(function() {
	var selectedOptionText = $('#vid').find(":selected").text();
    $("#vname").val(selectedOptionText);
});



var today = new Date().toISOString().split('T')[0];
document.getElementById('tdate').setAttribute('max', today);


</script>
{% endblock %}
