{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main" xmlns="http://www.w3.org/1999/html">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3> Item Add</h3>
              </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="clearfix"></div>

                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask"  method="POST" action="add_grnitem"   enctype="multipart/form-data">
										{% csrf_token %}


											<div class="col-md-3 col-sm-3  form-group has-feedback">
                                                 <input type="hidden" id="wh_id" name="wh_id" />

                                                <select class="form-control" name="itemname" id="itemname">
													<option value=" ">Items</option>
                                                    {% for data in data %}
                                                        <option value="{{ data.itemcode }}">{{ data.itemname }}</option>
                                                    {% endfor %}
                                                </select>
                                            <input type="hidden" id="txtItemName" name="txtItemName" />
                                            </div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
                                        <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="quantity in cases" name="quantity" id="quantity">
										</div>
                                        <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" id="latestpurchase" placeholder="Latest Purchase" name="latestpurchase" value="{{ data.item_code }}"required>
										</div>
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="date" class="form-control"  name="expdate" id="expdate">
										</div>
										<!--<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="MRP" id="mrp" name="mrp" value="{{ data.mrp }}" required>
										</div>
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="GST" id="gst" name="gst" value="{{ data.gst }}"required>
										</div>
                                        <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="HSN" id="hsn" name="hsn" value="{{ data.hsn }}"equired >
										</div>-->
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="free quantity" id="freequantity" name="freequantity">
										</div>

											<div class="col-md-2 col-sm-3 form-group has-feedback">
												<button type="submit" class="btn btn-primary">Add</button>
											</div>
											<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control"  id="uom" name="uom" value="{{ data.uom}}"required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" id="manufacture" name="manufacture" required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" id="itemsno" name="itemsno" value="{{ data.sno }}"required>
										</div>
									</form>
				 </div>
				</div>
				<div class="x_panel">
				   <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>
                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>

                                   <th>S NO</th>
                                    <th>Item Name</th>
                                    <th>QTY</th>
                                    <th>ExpDate</th>
                                    <th>HSN</th>
                                    <th>UOM</th>
                                    <th>MRP</th>

                        </tr>
                      </thead>
                            {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                       <td>{{  all_data.expiry_date}}</td>
                        <td>{{ all_data.hsn }}</td>
                       <td>{{ all_data.uom }}</td>
                       <td>{{ all_data.mrp }}</td>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                      </table>
                  </div>
                  </div>
              </div>

                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>

	$("#itemname").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#txtItemName").val(selectedOptionText);
});
	$("#itemname").change(function() {
        	var itemname = $('#itemname').val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_grn_item_data" %}',
            	data: {
                	'itemname':itemname,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		 var obj = data.data.itemmasterlist
                        console.log(obj[0].gst);
                        if(obj.length>0){
                            $("#latestpurchase").val(obj[0].lpp);

					}
             	}
        	});
    	});

</script>
{% endblock %}