{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>GRN  List</h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="/add_grn"><button type="submit" class="btn btn-primary">Add Purchase</button></a>
                </div>
              </div>
            </div>
              </div>
           <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Vendor Name</th>
                                    <th>GRN</th>
                                    <th>Invoice Id</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice Amount</th>
                                    <th>MRP</th>
                                    <th>Qty(In Cases)</th>
                                    <th>Status</th>

                        </tr>
                      </thead>
                          <tbody>
                          {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.vendorname }}</td>
                       <td><a href="/add_grnitem_list/{{ all_data.grn }}/" style="color:#14c38e"> {{ all_data.grn }} </a></td>
                       <td>{{  all_data.invoice_id}}</td>
                        <td>{{ all_data.invoicedate }}</td>
                       <td>{{ all_data.invoiceamount }}</td>
                       <td>{{ all_data.totalprice }}</td>
                       <td class="text-center">{{ all_data.totalitems }}</td>


                            <td  class="text-center">
                            {% if all_data.status == "pending" %}
                                 {% if request.session.role == 'Admin' %}
                                        <a href="#" class="depoedit" onclick="editGrn('{{ all_data.grn }}')"><span class="badge badge-success"><i class="fa fa-edit"></i></span></a>
                                {% endif %}
                               <span class="badge badge-warning">Pending</span>

                            {% elif all_data.status == "Verified" %}
                                     <a href="/add_grnitem_list1/{{ all_data.grn }}"><span class="badge bg-green">Verified</span>
                              {% else %}
                                     <a href="/add_grnitem_list1/{{ all_data.grn }}"><span class="badge badge-danger">Rejected</span>
                                <!-- /modals -->
                                {% endif %}
                            </td>

                      </tr>
                      {% endfor %}
                      </tbody>
                      </table>

                  </div>

                  </div>

              </div>
            </div>
                </div>
              </div>

            </div>

          </div>

<div id="depo-edit" class="modal custom-modal fade"  role="dialog" >
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1250px%; !important"  role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h3 class="modal-title">Edit GRN</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
            </div>
            <div class="modal-body">
               <form  method="POST" action="/edit_grn"   enctype="multipart/form-data">
											{% csrf_token %}
                     <input type="hidden" class="form-control" name="grn" id="grn"  >
										<div class="col-md-6 col-sm-6  form-group has-feedback">
											  <input type="hidden" class="form-control" name="vname" id="vname"  >
											<label>Select Vendor *</label>
										    	<select class=" form-control items" name="vid" id="vid">
												{% for data in vendor_masterlist %}
													<option  value="{{ data.vendorcode}}">{{ data.vendorname }}</option>
												{% endfor %}
												</select>
										</div>


											<div class="col-md-6 col-sm-6  form-group has-feedback">
                                                 <input type="hidden" class="form-control" name="whname" id="whname"  >
												<label>Select Warehouse *</label>
												<select class="form-control items" name="whid" id="whid">
												{% for data in wh_masterlist %}
													<option  value="{{ data.warehouseid}}">{{ data.warehousename }}</option>
												{% endfor %}
												</select>
											</div>

										<div class="col-md-6 col-sm-6  form-group has-feedback">

											<label>Invoice No *</label>
										    <input type="text" class="form-control" placeholder="invoice no" id="invno" name="invno" required>
										</div>
										<div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Invoice Date *</label>
										    <input type="date" class="form-control" placeholder="invoice date" id="tdate"  name="invoicedate">
										</div>
									   <div class="col-md-6 col-sm-6  form-group has-feedback">
											<label>Invoice Amount(Including GST)</label>
										    <input type="text" class="form-control" placeholder="invoice amount" id="invoiceamount" name="invoiceamount" required>
										</div>

                   </div>

            <div class="modal-footer">
				 <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>

            </div>
          </form>
        </div>
    </div>
</div>
                            <div class="inner-fabs">
                                  <div class="fab bg-blue  round" id="fab4" ><a href="grn_list1"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -95px !important;">All</span></div>
                                  <div class="fab bg-green  round" id="fab3" ><a href="grn_new_verified_status"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Verified</span></div>
                                 <div class="fab bg-yellow round" id="fab2" ><a href="grn_new_pending_status"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Pending</span></div>
                              </div>
                             <div class="fab bg-orange round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>




<script>
$("#vid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#vname").val(selectedOptionText);
});
  function editGrn(id){
      $.ajax({
        url: "{% url 'grn_search' %}",
        type: 'POST',
        data: {
          'id': id,'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function(data) {
         var obj = data.data.grnlist

          	console.log(obj[0].invoicedate);
             if(obj){
                  $("#grn").val(id);
                 $("#vname").val(obj[0].vendorname);
                 $("#vid").val(obj[0].vendorid);
                 $("#whname").val(obj[0].depo_manager);
                 $("#whid").val(obj[0].warehouseid);
                 $("#invoiceamount").val(obj[0].invoiceamount);
                 var invoicedate = obj[0].invoicedate;
                 $("#invno").val(obj[0].invoice_id);
                 var inputDate = "14-Sep-2023";
                 var formattedDate = formatDate(inputDate);
                 console.log(formattedDate);
                   $("#tdate").val(formattedDate);// Outputs: "2023-09-14"
                 $('#depo-edit').modal('show');
        	}
        }
      });
  }
function formatDate(inputDate) {
  var parts = inputDate.split('-');
  var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var monthIndex = monthNames.indexOf(parts[1]);

  if (monthIndex !== -1) {
    // Convert the month name to a numerical month
    var month = (monthIndex + 1).toString().padStart(2, '0');
    var day = parts[0];
    var year = parts[2];

    // Reconstruct the date in "yyyy-MM-dd" format
    var formattedDate = year + '-' + month + '-' + day;

    return formattedDate;
  } else {
    // Handle the case where month name is not valid
    console.error("Invalid month name in the input date.");
    return null;
  }
}



var today = new Date().toISOString().split('T')[0];
document.getElementById('tdate').setAttribute('max', today);
</script>
{% endblock %}