{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>GRN  List</h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                    <a href="/add_grn"><button type="submit" class="btn btn-primary">Add Purchase</button></a>
                </div>
              </div>
            </div>
              </div>
           <div class="clearfix"></div>
            <div class="row" style="display: block;">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_content">
                        <table id="datatable-buttons" class="display table-bordered" style="width:100%;">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Vendor Name</th>
                                    <th>GRN</th>
                                    <th>Invoice Id</th>
                                    <th>Invoice Date</th>
                                    <th>Invoice Amount</th>
                                    <th>MRP</th>
                                    <th>Qty(In Cases)</th>
                                    <th>Status</th>

                        </tr>
                      </thead>
                          <tbody>
                          {% for all_data in all_data %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.vendorname }}</td>
                       <td> {{ all_data.grn }} </td>
                       <td>{{  all_data.invoice_id}}</td>
                        <td>{{ all_data.invoicedate }}</td>
                       <td>{{ all_data.invoiceamount }}</td>
                       <td>{{ all_data.totalprice }}</td>
                       <td class="text-center">{{ all_data.totalitems }}</td>


                            <td  class="text-center">
                            {%if all_data.status == "pending" %}
                               <a href="/add_grnitem_list1/{{ all_data.grn }}/"><span class="badge badge-warning">{{ all_data.status }} </span></a>
                               {% else %}
                                <a href="/add_grnitem_list1/{{ all_data.grn }}/"><span class="badge bg-green">{{ all_data.status }}</span></a>
                                <!-- /modals -->
                                {% endif %}
                            </td>

                      </tr>
                      {% endfor %}
                      </tbody>
                      </table>

                  </div>

                  </div>

              </div>
            </div>
                </div>
              </div>

            </div>

          </div>
                            <!-- <div class="inner-fabs">
                                  <div class="fab bg-blue round" id="fab4"><a href="grn_list1"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -95px !important;">All</span></div>
                                  <div class="fab bg-green round" id="fab3"><a href="grn_list1"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Verified</span></div>
                                  <div class="fab bg-yellow round" id="fab2"><a href="grn_list1"><i class="fa fa-outdent" style="color:#fff;"></i></a><span class="tooltiptext"  style="margin-left: -125px !important;">Pending</span></div>
                              </div>
                               <div class="fab bg-purple round" id="fab1"><i class="fa fa-filter" id="fabIcon"></i></div>
                            </div>-->


{% endblock %}

