{% extends 'base.html' %}

{% block htmlbody %}

<style>

    .tile-stats .icon1 {
    width: 20px;
    height: 20px;
    color:  #06911A;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    z-index: 1
}
.fa-bottle-water{
font-size:43px;
color: #14c38e !important;
}
    </style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
              <div class="col-md-12 col-sm-12 ">
   <h3> {{ request.session.name }}  Inventory </h3>
                  <div style="display: inline-block;">
        <div class="top_tiles" style="width: 1000px">
{% if data %}
    {% for item in data %}
        <a href="batch_codeexpry/{{ item.itemcode }}/">
            <div class="animated flipInY col-md-4 col-sm-4" style="display: inline-block;">
                <div class="tile-stats">
                    <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                    <h2 class="text-warning" style="margin-left: 10px;">
                        {% if not item.Qty %}
                            <span>0</span>
                        {% else %}
                            <span>{{ item.Qty }}</span>
                        {% endif %}
                    </h2>
                    <p class="text-info" style="font-size: 12px;">{{ item.itemname }} Quantity</p>
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}

        <div class="animated flipInY col-md-4 col-sm-4" style="width:400px;">
            <div class="tile-stats">
                <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="text-warning" style="margin-left: 10px;">
                    <span>0</span>
                </h2>
                <p class="text-info" style="font-size: 12px;">1000ml Quantity</p>
            </div>
        </div>

        <div class="animated flipInY col-md-4 col-sm-4" style="width:700px;">
            <div class="tile-stats">
                <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="text-warning" style="margin-left: 10px;">
                    <span>0</span>
                </h2>
                <p class="text-info" style="font-size: 12px;">500ml Quantity</p>
            </div>
        </div>


        <div class="animated flipInY col-md-4 col-sm-4" style="width:700px;">
            <div class="tile-stats">
                <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="text-warning" style="margin-left: 10px;">
                    <span>0</span>
                </h2>
                <p class="text-info" style="font-size: 12px;">250ml Quantity</p>
            </div>
        </div>

{% endif %}
        </div>
                           </div>
              </div>
          </div>
</div>
 {% if request.session.role  == 'Depo' %}
 <div class="">
            <div class="clearfix"></div>
              <div class="col-md-12 col-sm-12 ">
   <h3>  {{ request.session.warehousename }}   Inventory </h3>
                   <div style="display: inline-block;">
                       <div class="row" style="display: inline-block;">
    <div class="top_tiles" style="width: 900px;">
    <div class="animated flipInY  col-md-4 col-sm-4">
        <div class="tile-stats">
            <div class="icon1"><i class="fa fa-bar-chart"></i></div>
                <h1 class="text-warning" style="margin-left: 10px;">{{ item.1000mlcount }}</h1>
                <p class="text-info" style="font-size: 12px;">1000ml</p>
           </div>
        </div>

                           <div class="animated flipInY  col-md-4 col-sm-4">
        <div class="tile-stats">
            <div class="icon1"><i class="fa fa-bar-chart"></i></div>
                <h1 class="text-warning" style="margin-left: 10px;">{{ item.500mlcount }}</h1>
                <p class="text-info" style="font-size: 12px;">500ml</p>
           </div>
        </div>
        <div class="animated flipInY  col-md-4 col-sm-4">
        <div class="tile-stats">
            <div class="icon1"><i class="fa fa-bar-chart"></i></div>
                <h1 class="text-warning" style="margin-left: 10px;">{{ item.250mlcount}}</h1>
                <p class="text-info" style="font-size: 12px;">250ml</p>
           </div>
        </div>

              </div>
          </div>
</div>
              </div>
 </div>
    </div>
{% endif %}
                       </div>
                   </div>
              </div>
          </div>
</div>
<script>

</script>
{% endblock %}