{% extends 'base.html' %}

{% block htmlbody %}

<style>

    .tile-stats .icon1 {
    width: 20px;
    height: 20px;
    color:  #06911A;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    z-index: 1
}
.fa-bottle-water{
font-size:43px;
color: #14c38e !important;
}
  </style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
              <div class="col-md-12 col-sm-12" style="margin-top: 40px;">
   <h3> {{ request.session.name }}  Inventory </h3>
                  <div style="display: inline-block;">
        <div class="top_tiles" style="width: 900px">
{% if data %}
    {% for item in data %}
        <a href="batch_codeexpry/{{ item.itemcode }}/">
            <div class="animated flipInY col-md-4 col-sm-4" style="display: inline-block;">
                <div class="tile-stats">
                    <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                    <h2 style="margin-left: 10px;font-weight:600;color:#14c38e">
                        {% if not item.Qty %}
                            <span>0</span>
                        {% else %}
                            <span>{{ item.Qty }}</span>
                        {% endif %}
                    </h2>
                    <p class="text-info" style="font-size: 15px;font-weight:600;">{{ item.itemname }} Quantity(Cases)</p>
                </div>
            </div>
        </a>
    {% endfor %}
            {% else %}
        <div class="animated flipInY col-md-4 col-sm-4" style="width:400px;">
            <div class="tile-stats">
                <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="text-warning" style="margin-left: 10px;font-weight:600;">
                    <span>0</span>
                </h2>
                <p class="text-info" style="font-size: 15px;font-weight:600;">1000ml Quantity(Cases)</p>
            </div>
        </div>

        <div class="animated flipInY col-md-4 col-sm-4" style="width:700px;">
            <div class="tile-stats">
                <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="text-warning" style="margin-left: 10px;font-weight:600;">
                    <span>0</span>
                </h2>
                <p class="text-info" style="font-size: 12px;font-weight:600;">500ml Quantity(Cases)</p>
            </div>
        </div>


        <div class="animated flipInY col-md-4 col-sm-4" style="width:700px;">
            <div class="tile-stats">
                <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="text-warning" style="margin-left: 10px;">
                    <span>0</span>
                </h2>
                <p class="text-info" style="font-size: 12px;font-weight:600;">250ml Quantity(Cases)</p>
            </div>
        </div>
{% endif  %}
        </div>
        </div>
 {% if request.session.role  == 'Depo' %}
 <div class="">

            <div class="clearfix"></div>
     <h3>  Warehouse  Inventory </h3>

<div class="col-md-3 col-sm-3" style="margin-bttom:120px;">

                                         <select class="form-control" name="warehouseid2" id="warehouseid2" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{ request.POST.warehousename1 }}</option>
												</select>
											 <input type="hidden" name="warehousename1" id="warehousename1" />
                <input type="hidden" name="warehouseid" id="warehouseid" value=" {{ request.session.warehouseid }}"/>
												<select class="form-control" name="warehouseid1" id="warehouseid1">

													{% for data1 in wh_masterlist %}
															{% if data1.status == 'Active' %}
                            		                    <option value="{{ data1.warehouseid }}">{{ data1.warehousename }}</option>
														{% endif  %}
                                                     {% endfor %}
                                                </select>
</div>


       <div class="col-md-12 col-sm-12" >

               <div class="clearfix"></div>

  <div class="clearfix"></div>
                   <div style="display: inline-block;">
                       <div class="row" style="display: inline-block;margin-top:20px;">
    <div class="top_tiles" style="width: 900px;">
          <a  class="itemcode1000ml">
    <div class="animated flipInY  col-md-4 col-sm-4">
        <div class="tile-stats">
            <div class="icon1"><i  class="fa fa-bottle-water"></i></div>
                <h2 class="1000mlqty" style="margin-left: 10px;color:#14c38e;font-weight:600;"></h2>
                <p class="text-info" style="font-size: 15px;font-weight:600;">1000ml Quantity(Cases)</p>
           </div>
        </div>
          </a>
          <a class="itemcode500ml" href="#">
                           <div class="animated flipInY  col-md-4 col-sm-4">
        <div class="tile-stats">
            <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="500mlqty" style="margin-left: 10px;color:#14c38e;font-weight:600;"></h2>
                <p class="text-info" style="font-size: 15px;font-weight:600;">500ml Quantity(Cases)</p>
           </div>
        </div>
          </a>
          <!--<a class="itemcode250ml" href="batch_codeexpry/{{ item.itemcode }}/">-->
        <a class="itemcode250ml" href="#">
                <div class="animated flipInY  col-md-4 col-sm-4">
                <div class="tile-stats">
                    <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                        <h2 class="250mlqty" style="margin-left: 10px;color:#14c38e;font-weight:600;"></h2>
                        <p class="text-info" style="font-size: 15px;font-weight:600;">250ml Quantity(Cases)</p>
                   </div>
                </div>
          </a>
              </div>
          </div>
</div>
              </div>
      <div class="">

            <div class="clearfix"></div>
     <h3>  {{ request.session.name }} Stock point Inventory </h3>

<div class="col-md-3 col-sm-3" style="margin-bttom:120px;">

                                         <select class="form-control" name="warehouseid2" id="warehouseid3" hidden>
                            		                    <option value="{{ request.POST.warehouseid1 }}">{{ request.POST.warehousename1 }}</option>
												</select>

</div>


       <div class="col-md-12 col-sm-12" >

               <div class="clearfix"></div>

  <div class="clearfix"></div>
                   <div style="display: inline-block;">
                       <div class="row" style="display: inline-block;margin-top:20px;">
    <div class="top_tiles" style="width: 900px;">

          <a class="itemcode500ml1" href="#">
                           <div class="animated flipInY  col-md-4 col-sm-4">
        <div class="tile-stats">
            <div class="icon1"><i class="fa fa-bottle-water"></i></div>
                <h2 class="500mlqty1" style="margin-left: 10px;color:#14c38e;font-weight:600;"></h2>
                <p class="text-info" style="font-size: 15px;font-weight:600;">500ml Quantity(Cases)</p>
           </div>
        </div>
          </a>

              </div>
          </div>
</div>
              </div>
 </div>
                  {% endif %}
    </div>

                       </div>
                   </div>

              </div>
          </div>
</div>

<script>
$("#warehouseid1").change(function() {
        	var warehouseid = $(this).val();
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_whinventory" %}',
            	data: {
                	'warehouseid':warehouseid,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.inventorylist
			 		var error = data.data.error;
			 		var message = data.data.message;
                      if ( error === true) {

                            $('.1000mlqty').text("0");
                            $('.500mlqty').text("0");
                            $('.250mlqty').text("0");

                           alertify.set('notifier', 'position', 'top-center');
                           alertify.error(message);
                      }
					for (var i = 0; i < obj.length; i++) {
                        var item = obj[i];
                          $('.1000mlqty').text("0");
                          $('.500mlqty').text("0");
                          $('.250mlqty').text("0");
                         if (item.itemname === '1000ml') {
                            $('.1000mlqty').text(item.Qty);
                            //$('.itemcode1000ml').attr('href', 'batch_codeexpry/' + item.itemcode + '/');
                        } else if (item.itemname === '500ml') {
                            $('.500mlqty').text(item.Qty);
                           // $('.itemcode500ml').attr('href', 'batch_codeexpry/' + item.itemcode + '/');
                        } else if (item.itemname === '250ml') {
                            $('.250mlqty').text(item.Qty);
                            //$('.itemcode250ml').attr('href', 'batch_codeexpry/' + item.itemcode + '/');
                        }
                    }

             	}
        	});
 });


$(document).ready(function() {
        	$.ajax({
            	type: "POST",
            	url: '{% url "get_ps_stock" %}',
            	data: {
                	'warehouseid':"WDP0002",'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){

                     console.log(data)
			 		var obj = data.data.inventoryconsumptionlist
			 		var error = data.data.error;
			 		var message = data.data.message;
			 		if (obj) {
                              if ( error === true) {
                                    $('.500mlqty1').text("0");
                                    alertify.set('notifier', 'position', 'top-center');
                                    alertify.error(message);
                              }
                            for (var i = 0; i < obj.length; i++) {
                                var item = obj[i];
                                        $('.500mlqty1').text(item.Qty);
                                        //$('.itemcode500ml1').attr('href', 'batch_codeexpry1/' + item.itemcode + '/');
                            }
                     }
                    else{
                           $('.500mlqty1').text(0);
                           //$('.itemcode500ml1').attr('href', 'batch_codeexpry1/' + item.itemcode + '/');
                    }

             	}
        	});
 });


$(document).ready(function() {
            var warehouseid = $("#warehouseid").val();
        	$.ajax({

            	type: "POST",
            	url: '{% url "get_whinventory" %}',
            	data: {
                	'warehouseid':warehouseid,'csrfmiddlewaretoken': '{{ csrf_token }}',       // add the country id to the POST parameters
            	},
			 	success: function(data){
			 		var obj = data.data.inventorylist
			 		var error = data.data.error;
			 		var message = data.data.message;
                      if ( error === true) {

                            $('.1000mlqty').text("0");
                            $('.500mlqty').text("0");
                            $('.250mlqty').text("0");

                            //alertify.set('notifier', 'position', 'top-center');
                            //alertify.error(message);
                      }
					for (var i = 0; i < obj.length; i++) {
                        var item = obj[i];

                         if (item.itemname === '1000ml') {

                            $('.1000mlqty').text(item.Qty);
                            //$('.itemcode1000ml').attr('href', 'batch_codeexpry/' + item.itemcode + '/');
                        } else if (item.itemname === '500ml') {
                            $('.500mlqty').text(item.Qty);
                            //$('.itemcode500ml').attr('href', 'batch_codeexpry/' + item.itemcode + '/');
                        } else if (item.itemname === '250ml') {
                            $('.250mlqty').text(item.Qty);
                            //$('.itemcode250ml').attr('href', 'batch_codeexpry/' + item.itemcode + '/');
                        }
                    }

             	}
        	});
});
</script>
{% endblock %}