{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> Add Item</h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<a href="sale_item_list"><button type="submit" class="btn btn-success">Region Item List</button></a>
                </div>
            </div>
              </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="clearfix"></div>
					{% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-success">
                                    <button type="button" class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                     <strong>{{message}}</strong>
                                </div>
                                {% endfor %}
                        {% endif %}
                 <div class="x_content">
									<br />
									<form class="form-label-left input_mask"  method="POST" action="region_item_add"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>ItemName Search *</label>
										    	<input type="text" class="form-control" placeholder=" itemsearch" onkeyup="CallSearch1()" name="itemsearch1" id="itemsearch1">
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Quantity *</label>
										    <input type="text" class="form-control" placeholder="quantity" name="quantity" id="quantity" value="{{ data1.qty }}" required>
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Free Quantity *</label>
										    <input type="text" class="form-control" placeholder="free quantity" name="freequantity" id="freequantity">
										</div>
                                        <div class="col-md-3 col-sm-6  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control"  name="expdate" id="expdate" >
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Batch *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control"   id="uom" name="uom" value="{{ data.uom}}"required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="manufacture" value="{{ data.manufacture }}"required>
										</div>
										<div class="col-md-3 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="cpsno" id="cpsno"   value="{{ data.sno }}"required>
										</div>

										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-3 col-sm-3 "></label>
										</div>

										<div class="ln_solid"></div>
										<div class="form-group">
											<div class="col-md-6 col-sm-6  offset-md-5">
												<input type="hidden" id="region_id" name="region_id" />
												<button type="submit" class="btn btn-success">Save</button>
											</div>
										</div>

                                 </div>
                  </div>
              </div>
            </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
function CallSearch1() {
                    var searchterm = $("#itemsearch1").val();
                    $.ajax({
                      data: {"searchterm":searchterm, "wh_id":$("#wh_id").val(),'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_wh_item' %}",
                      type: 'POST',
                      success: function(data){
                        console.log(data);
                        var obj = data.data.warehouseinventorylist;

                         var availableTags = [];
                         for(var i=0;i<obj.length;i++)
                         {
                         availableTags.push(obj[i].itemname);
                         }
    $("#itemsearch").autocomplete({
      source: availableTags
    });

                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
                }
window.onload=function(){
$("#region_id").val(sessionStorage.getItem("RegionId"));
}
function ItemChange(e){
	   $("#txtItemName2").val($(e).find(":selected").text());
	}
</script>
{% endblock %}