{% extends 'base.html' %}

{% block htmlbody %}


<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="color:#1372ba"> <b>Stock Transfer </b></h3>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
					<!--<a href="indent_list"><button type="submit" class="btn btn-primary">Indent List</button></a>-->
                </div>

            </div>
              </div>

            <div class="clearfix"></div>
             <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                 <div class="x_content">
                     <div class="">

									<br />
                                        	<div class="col-md-3 col-sm-3  form-group has-feedback">
												 <input type="hidden" id="whr" name="whr" />
                                                <input type="hidden" id="whname" name="whname" />
											<label>Stock Transfer From *</label>
										    	 <select class="form-control items" name="wh" id="wh" required>
                                                     <option value="">Select</option>
                                                             <option value="Warehouse">Warehouse</option>
                                                           <option value="Depot">Depot</option>
                                                            <option value="Busstation">Busstation</option>

                                                </select>
										</div>

                 </div>
                </div>
                </div>


            <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel warehouse-div" style="display:none;">
									<br />
									<form class="form-label-left input_mask" id="myform"  method="POST" action="/generate_transid"   enctype="multipart/form-data">
										{% csrf_token %}
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
                                            <input type="hidden" name="actionname" id="actionname" />
                                             <input type="hidden" name="response" id="response"  value="{{ response }}"/>

											<label>Stock Transfer From  *</label>
                                            <select class="form-control" name="wh2" id="wh2" hidden>
                            		                    <option value="{{ request.POST.wh1 }}">{{ request.POST.whname1 }}</option>
												    </select>
                                                   <input type="hidden" name="whname1" id="whname1" />
										    	 <select class="form-control items" name="wh1" id="wh1" required>
                                                     <option value="">select warehouse</option>
                                                </select>
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Stock Transfer To *</label>
                                             <select class="form-control" name="depocode2" id="depocode2" hidden>
                            		                    <option value="{{ request.POST.depocode1 }}">{{ request.POST.deponame1 }}</option>
												    </select>
                                            <input type="hidden" name="deponame1" id="deponame1" />
                                            <select class="form-control items" name="depocode1" id="depocode1" required>
                                                     <option value="">select depot</option>
                                                </select>
                                        </div>
                                        <div class="col-md-6 col-sm-2 form-group has-feedback">
												<button type="submit"  style="margin-top: 28px;"  class="btn btn-primary">Submit</button>
											</div>
                                    </form>
                </div>
              </div>

            </div>
                 <div class="row">
              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel bus-div" style="display:none;">
									<br />
									<form class="form-label-left input_mask"  method="POST" action="/create_depoindent"   enctype="multipart/form-data">
										{% csrf_token %}
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Stock Transfer From  *</label>
                                                   <input type="hidden" name="busname1" id="busname1" />
										    	 <select class="form-control items" name="busid1" id="busid1" required>
                                                     <option value="">select busstation</option>

                                                </select>
										</div>
                                        <div class="col-md-3 col-sm-3  form-group has-feedback">
											<label>Stock Transfer To *</label>
                                            <input type="hidden" name="depotname1" id="depotname" />
                                            <select class="form-control items" name="depotid" id="depotid" required>
                                                     <option value="">select depot</option>
                                                </select>
                                        </div>
                                        <div class="col-md-6 col-sm-2 form-group has-feedback">
												<button type="submit"  style="margin-top: 28px;"  class="btn btn-primary">Submit</button>
											</div>
                                    </form>
                </div>
              </div>


 <div class="col-md-12 col-sm-12">
       <div class="x_panel" id="items-div"  style="display:none;">
										<div class="col-md-3 col-sm-3  form-group has-feedback">
                                              <input id="itemname1" name="itemname1" type="hidden"/>
                                             <input id="freequantity" name="freequantity" type="hidden"/>
                                             <input id="expdate" name="expdate" type="hidden"/>
                                             <input id="batchno" name="batchno" type="hidden"/>
                                             <input id="cpsno" name="cpsno" type="hidden"/>
                                            <input id="uom" name="uom" type="hidden"/>
											<label>Select Items *</label>
										    	 <select class="form-control select2" name="itemcode1" id="itemcode1" required>
													<option value="">Items</option>

                                                </select>
										</div>
                                        	 <div class="col-md-2 col-sm-2 input-icons  form-group has-feedback">
                                            <label>Type</label>
                                            <input id="typename" name="typename" type="hidden"/>
                                            <select class="form-control items" id="typeid" name="typeid" required>
                                                <option value="">Type</option>
                                                {% for data1 in type %}
                                                <option value="{{ data1.type }}">{{ data1.type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2 form-group has-feedback">
                                            <label>Qty(Cases) </label>
                                            <input class="form-control" id="quantity" name="quantity"
                                                   placeholder="cases"
                                                   type="text">
                                        </div>
                                        <div class="col-md-2 col-sm-2 form-group has-feedback">
                                            <label>Qty(Bottles)</label>
                                            <input class="form-control" id="nob" name="nob" placeholder="bottles"
                                                   type="text">
                                        </div>
										 <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <button class="btn btn-primary" name="add" style="margin-top: 30px;"
                                                    type="submit">Add
                                            </button>
                                        </div>

              </div>
                </form>


                  </div>
              </div>
            </div>
                   <div class="x_content" id="divItemsAdd" style="display:none;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card-box table-responsive">
                                                <p class="text-muted font-13 m-b-30">
                                                </p>

                                                <table class="display  table-bordered" id="datatable"
                                                       style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>S No</th>
                                                        <th>Item Name</th>
                                                        <th>Qty(Cases)</th>
                                                        <th>Qty(Bottles)</th>
                                                        <th>Expiry Date</th>
                                                        <!--<th>HSN</th>-->
                                                        <th>Batch</th>
                                                        <!--<th>MRP</th>-->
                                                        <th>Manufacture</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for all_data in wh_item_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ all_data.item_name }}</td>
                                                                                  <td> {{ all_data.quantity }}</td>
                                                        <td>{{ all_data.noofbottles }}</td>
                                                        <td>{{ all_data.expiry_date }}</td>
                                                        <!--<td>{{ all_data.hsn }}</td>-->
                                                        <td>{{ all_data.batch_no }}</td>
                                                        <!--<td>{{ all_data.mrp }}</td>-->
                                                        <td>{{all_data.manufacturer}}</td>

                                                        <td>
                                                            <a class="btn btn-default btn-sm"
                                                               href="delete_stk_item/{{ all_data.sno }}/"><i
                                                                    class="fa fa-trash"></i></a>
                                                            <span class="btn btn-default btn-sm"
                                                                  data-target="#edit_stk_item"
                                                                  data-toggle="modal"
                                                                  onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}','{{ all_data.uom }}','{{ all_data.type }}','{{ all_data.noofbottles }}')"><i
                                                                    class="fa fa-edit"></i></span>

                                                        </td>
                                                    </tbody>
                                                    <tfoot>

                                                    </tfoot>
                                                    </tr>
                                                    {% endfor %}


                                                    <tbody>
                                                    </tbody>
                                                     {% if status == 'ok' %}
                                                    <td colspan="9" style="color:#06911A">
                                                        <b>Invoice No: {{ taxinvoice }}</b>

                                                            <span style="float:right;"><span class="badge-warning"
                                                                                             data-target="#complete"
                                                                                             data-toggle="modal"
                                                                                             onclick="VerifyClick('{{data.so_number}}')"
                                                                                             style="padding:  4px !important;">COMPLETE SALE</span></span>
                                                        {% endif %}
                                                    </th>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
              </div>
            </div>
          </div>
</div>
<script>
$("#wh").change(function() {
  var selectedOption= $(this).val();
    $("#wh").val(selectedOption);
  var selectedOptionText = $(this).find(":selected").text();
  $("#whname").val(selectedOptionText);
});
$("#itemcode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname2").val(selectedOptionText);
});
$("#buscode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busname").val(selectedOptionText);
});
$("#depocode").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame").val(selectedOptionText);
});

$("#itemcode1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname1").val(selectedOptionText);
});
$("#wh1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#whname1").val(selectedOptionText);
});
$("#depocode1").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#deponame1").val(selectedOptionText);
});

	$(document).ready(function() {
	    var response = $('#response').val();
        $.ajax({
            type: "POST",
            url: '{% url "stk_warehouse_list" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                var obj = data.data.warehouselist
                if (obj) {
                    $.each(obj, function(index, item) {
                        $("#wh1").append("<option value='" + item.warehouseid + "'>" + item.warehousename + "</option>");
                    });
                 if (response === "200") {
                    var optionValue1 = $("#wh2").val();
                    $("#wh1").find("option[value='" + optionValue1 + "']").prop("selected", true);
                      var optionValue2 = $("#wh").val();
                    $("#wh").find("option[value='" + optionValue2 + "']").prop("selected", true);
                 }
                }
            }
        });
    });

    $(document).ready(function() {
        var response = $('#response').val();
        $.ajax({
            type: "POST",
            url: '{% url "stk_depot_list" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                var obj = data.data.depolist
                if (obj) {

                    $.each(obj, function(index, item) {
                         if (item.status === "Active") {
                            $("#depocode1").append("<option value='" + item.depoid + "'>" + item.deponame + "</option>");
                            $("#depotid").append("<option value='" + item.depoid + "'>" + item.deponame + "</option>");
                         }
                    });
                     if (response === "200") {
                        var optionValue = $("#depocode2").val();
                        $("#depocode1").find("option[value='" + optionValue + "']").prop("selected", true);
                     }
                }
            }
        });
    });

    $(document).ready(function() {
        $.ajax({
            type: "POST",
            url: '{% url "stk_busstation_list" %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                var obj = data.data.buslist
                if (obj) {

                    $.each(obj, function(index, item) {
                         if (item.status === "Active") {
                            $("#busid1").append("<option value='" + item.busstationid + "'>" + item.busstationname + "</option>");
                            //$("#depotid").append("<option value='" + item.depoid + "'>" + item.deponame + "</option>");
                         }
                    });


                }
            }
        });
    });



    $(document).ready(function() {
        var code = $('#wh2').val();
        $.ajax({
            type: "POST",
            url: '{% url "warehouseinventory_search" %}',
            data: {
                'code': code,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function(data) {
                var obj = data.data.warehouseinventorylist;
                console.log(obj[0].itemname);
                if (obj) {
                    var $select = $('#itemcode1');

                    $.each(obj, function(index, item) {

                            var optionText = `${item.itemname} (Batch: ${item.batchcode}, Expiry: ${item.expirydate}, MRP: ${item.mrp})`;
                            var $option = $('<option>', { value: item.itemcode, text: optionText });
                            $select.append($option);

                    });

                    $select.select2();
                }
            }
        });
    });

 $(document).ready(function () {
            $('#itemcode1').change(function() {
                    //$("#busitem_id").select2();
                    var code = $('#wh2').val();
                     var searchterm = $(this).find(":selected").text();
                    $.ajax({
                      data: {"searchterm":searchterm,'code':code,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_wh_item' %}",
                      type: 'POST',
                      success: function(data){
                        var obj = data.data.warehouseinventorylist
                        console.log("obj");
                         console.log(obj);
                        if(obj.length>0){
                            $("#freequantity").val(obj[0].freeqty);
                            $("#expdate").val(obj[0].expirydate);
                            $("#batchno").val(obj[0].batchcode);
                            $("#cpsno").val(obj[0].cp_sno);
                            $("#uom").val(obj[0].uom);
                        }
                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
            })
  })
$('#quantity').on('input', function()  {
            $("#nob").val(" ");
    	    val  = $("#quantity").val();
            val1 = $("#uom").val();
            val2 =    (val * val1)
            $("#nob").val(val2);
        });
 $('#nob').on('input', function()  {
            $("#quantity").val(" ");
    	    val  = $("#nob").val();
            val1 = $("#uom").val();
            val2 =    (val / val1)
            if (Number.isInteger(val2)) {
                    val2 = val2.toFixed(0); // For integers, remove decimal places
            } else {
                    val2 = val2.toFixed(2); // For decimal values, keep two decimal places
            }
            $("#quantity").val(val2);
 });



$(document).ready(function(){
 var response = $('#response').val();
  if ( response === '200') {
         $('.warehouse-div').show();
        $('#items-div').show();
   }
});

$('#getdate').val(new Date().toJSON().slice(0,10));
$('.form-control').change(function() {
    console.log('Dropdown value changed');
    if($(this).val() === '') {
      alert('Please select an option');
    }
  });

   $(document).ready(function() {
    $("#wh").on("change", function() {
      var selectedOption = $(this).val();
      if (selectedOption === "Warehouse") {
        $(".warehouse-div").show();
         $(".bus-div").hide()
      } else if (selectedOption === "Busstation") {
         $(".bus-div").show();
         $(".warehouse-div").hide();
      }
    });
  });
$(document).ready(function() {
    $("#typeid").on("change", function() {
      var selectedOption = $(this).val();
      if (selectedOption === "Bottles") {
        $("#quantity").prop("readonly", true);
        $("#nob").prop("readonly", false);
      } else if (selectedOption === "Cases") {
        $("#quantity").prop("readonly", false);
        $("#nob").prop("readonly", true);
      }
    });
});

   $('#getdate1').val(new Date().toJSON().slice(0,10));
</script>
{% endblock %}
