{% extends 'base.html' %}

{% block htmlbody %}
<style>
    .style{
	position: absolute !important;
	width: 70% !important;
	margin-left:100px !important;
	}
.form-group {
    margin-bottom: 20px !important;
}
.custom-modal .modal-body {
    padding: 1px !important;
}
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Stock Transfer</h3>
            </div>

            <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                </div>
            </div>
        </div>
        <div class="">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_content">
                        <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                            {% for item in data %}
                            {% if item.stock == 'Warehouse' %}
                            <li class="nav-item">
                                <a aria-controls="home" aria-selected="true" class="nav-link" data-toggle="tab"
                                   href="#wh_add"
                                   id="wh-tab" role="tab">{{ item.stock }}</a>
                            </li>
                            {% elif item.stock == 'Depo' %}
                            <li class="nav-item">
                                <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                                   href="#depo"
                                   id="depo-tab" role="tab">{{ item.stock }}</a>
                            </li>
                            {% elif item.stock == 'Bus station' %}
                            <li class="nav-item">
                                <a aria-controls="uom" aria-selected="false" class="nav-link" data-toggle="tab"
                                   href="#busstation"
                                   id="bus-tab" role="tab">{{ item.stock }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div aria-labelledby="wh-tab" class="tab-pane fade show {{ wh }}" id="wh_add"
                                 role="tabpanel">
                                <form action="wh_add_stf" class="form-label-left input_mask"
                                      enctype="multipart/form-data"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="col-md-3 col-sm-4 form-group has-feedback" id="warehousename_group">
                                        <input class="form-control" id="warehousename" name="warehousename" readonly
                                               type="text" value="{{ request.session.warehousename  }}"/>
                                        <input id="warehouseid" name="warehouseid" type="hidden"
                                               value="{{ warehouselist.id  }}"/>
                                    </div>

                                    <div class="col-md-3 col-sm-4 form-group has-feedback">
                                        <button class="btn btn-primary store" onclick="DisplayItems()" type="submit">
                                            Submit
                                        </button>
                                    </div>

                                </form>
                                <div class="x_content" id="divItems" style="display:none;">
                                    <form action="wh_item_add" class="form-label-left input_mask"
                                          enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}
                                        <div class="col-md-4 col-sm-4 input-icons  form-group has-feedback">
                                            <input id="itemname" name="itemname" type="hidden"/>
                                            <label>Select Items</label>
                                            <select class="form-control select2" id="itemid" name="itemid"
                                                    required style="width:400px !important;"><br>
                                                <option value="">Item details</option>
                                                {% for data1 in warehouseinventorylist %}
                                                <option value="{{ data1.itemcode }}">{{ data1.itemname }}(Batch:
                                                    {{ data1.batchcode }},Expiry:{{data1.expirydate}},MRP:{{data1.mrp}})
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2 input-icons  form-group has-feedback">
                                            <label>Type</label>
                                            <input id="typename" name="typename" type="hidden"/>
                                            <select class="form-control items" id="typeid" name="typeid" required>
                                                <option value="">Type</option>
                                                {% for data1 in type %}
                                                <option value="{{ data1.type }}">{{ data1.type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2 form-group has-feedback">
                                            <label>Qty(Cases) </label>
                                            <input class="form-control" id="quantity" name="quantity"
                                                   placeholder="cases"
                                                   type="text">
                                        </div>
                                        <div class="col-md-2 col-sm-2 form-group has-feedback">
                                            <label>Qty(Bottles)</label>
                                            <input class="form-control" id="nob" name="nob" placeholder="bottles"
                                                   type="text">
                                        </div>
                                        <!--<div class="col-md-2 col-sm-2 form-group has-feedback">
                                                       <label>Remarks *</label>
                                          <input type="text" class="form-control" placeholder="remarks" name="remarks" />
                                      </div>
                                    <div class="col-md-1 col-sm-1  form-group has-feedback">
                                          <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
                                      </div>
                                      <div class="col-md-2 col-sm-2  form-group has-feedback">
                                          <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="expdate" >
                                      </div>
                                     <div class="col-md-2 col-sm-2 form-group has-feedback">
                                         <input type="text" class="form-control" placeholder="free quantity" name="freequantity" id="freequantity">
                                     </div>-->
                                        <div class="col-md-2 col-sm-3  form-group has-feedback">
                                            <input class="form-control" id="manufacture" name="manufacture"
                                                   required type="hidden" value="{{ data.manufacture }}">
                                        </div>
                                        <div class="col-md-2 col-sm-3  form-group has-feedback">
                                            <input class="form-control" id="cpsno" name="cpsno" required type="hidden">
                                        </div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <button class="btn btn-primary" name="add" style="margin-top: -15px;"
                                                    type="submit">Add
                                            </button>
                                        </div>
                                        <input class="form-control" id="uom" name="uom" type="hidden"/>
                                        <input class="form-control" id="mrp" name="mrp" type="hidden"/>

                                        <input id="store_id" name="store_id" type="hidden"/>
                                    </form>
                                </div>


                                <div class="x_content" id="divItemsAdd" style="display:none;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card-box table-responsive">
                                                <p class="text-muted font-13 m-b-30">
                                                </p>

                                                <table class="display  table-bordered" id="datatable"
                                                       style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>S No</th>
                                                        <th>Item Name</th>
                                                        <th>Qty(Cases)</th>
                                                        <th>Qty(Bottles)</th>
                                                        <th>Expiry Date</th>
                                                        <!--<th>HSN</th>-->
                                                        <th>Batch</th>
                                                        <!--<th>MRP</th>-->
                                                        <th>Manufacture</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for all_data in wh_item_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ all_data.item_name }}</td>
                                                                                  <td> {{ all_data.quantity }}</td>
                                                        <td>{{ all_data.noofbottles }}</td>
                                                        <td>{{ all_data.expiry_date }}</td>
                                                        <!--<td>{{ all_data.hsn }}</td>-->
                                                        <td>{{ all_data.batch_no }}</td>
                                                        <!--<td>{{ all_data.mrp }}</td>-->
                                                        <td>{{all_data.manufacturer}}</td>

                                                        <td>
                                                            <a
                                                               href="delete_stk_item/{{ all_data.sno }}/"><span class="badge badge-danger"><i
                                                                    class="fa fa-trash"></i></span></a>
                                                            <span class="badge badge-info"
                                                                  data-target="#edit_stk_item"
                                                                  data-toggle="modal"
                                                                  onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}','{{ all_data.uom }}','{{ all_data.type }}','{{ all_data.noofbottles }}')"><i
                                                                    class="fa fa-edit"></i></span>

                                                        </td>
                                                    </tbody>
                                                    <tfoot>

                                                    </tfoot>
                                                    </tr>
                                                    {% endfor %}


                                                    <tbody>
                                                    </tbody>
                                                     {% if status == 'ok' %}
                                                    <td colspan="9" style="color:#06911A">
                                                        <b>Invoice No: {{ taxinvoice }}</b>

                                                            <span style="float:right;"><span class="badge-warning"
                                                                                             data-target="#complete"
                                                                                             data-toggle="modal"
                                                                                             onclick="VerifyClick('{{data.so_number}}')"
                                                                                             style="padding:  4px !important;">COMPLETE SALE</span></span>
                                                        {% endif %}
                                                    </th>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div aria-labelledby="depo-tab" class="tab-pane fade show {{ depo }}" id="depo"
                                 role="tabpanel">
                                <form action="depo_add_stf" class="form-label-left input_mask"
                                      enctype="multipart/form-data"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="col-md-3 col-sm-4 form-group has-feedback">
                                        <input id="txtdeposearch1" name="txtdeposearch1" type="hidden"
                                               value="{{ txtDepoId }}"/>
                                        <select class="form-control" id="txtDepoId" name="txtDepoId" required>
                                            <option value="">Depot</option>
                                            {% for data1 in depolist %}
                                            <option value="{{ data1.id }}">{{ data1.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <input id="txtdeposearch" name="txtdeposearch" type="hidden"/>

                                    </div>
                                    <div class="col-md-3 col-sm-4 form-group has-feedback">
                                        <button class="btn btn-primary store" name="search" type="submit">Submit
                                        </button>
                                    </div>
                                </form>
                                <div class="x_content">
                                    <form action="depo_item_add" class="form-label-left input_mask"
                                          enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}


                                        <div class="col-md-4 col-sm-4 input-icons  form-group has-feedback">
                                            <input id="depoitemname" name="depoitemname" type="hidden"/>
                                            <label>Select item</label>
                                            <select class="form-control select2" id="depo_id" name="depo_id"
                                                    required style="width:400px !important;"><br>
                                                <option value="">Items details</option>
                                                {% for data1 in items %}
                                                <option value="{{ data1.itemcode }}">{{ data1.itemname }}(Batch:
                                                    {{ data1.batchcode }},Expiry:{{data1.expirydate}},MRP:{{data1.mrp}})
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2 input-icons  form-group has-feedback">

                                            <input id="typename1" name="typename1" type="hidden"/>
                                            <label>Select type</label>
                                            <select class="form-control items" id="typeid1" name="typeid1" required>
                                                <option value="">Type</option>
                                                {% for data1 in type %}
                                                <option value="{{ data1.type }}">{{ data1.type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <label>Qty(In cases) *</label>
                                            <input class="form-control" id="depoquantity" name="quantity"
                                                   placeholder="quantity" type="text">
                                        </div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <label>Qty(In bottles) *</label>
                                            <input class="form-control" id="deponob" name="deponob"
                                                   placeholder="bottles"
                                                   type="text">
                                        </div>
                                        <!--<div class="col-md-1 col-sm-2  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="price" name="depoprice" id="depoprice">
										</div>
                                         <div class="col-md-2 col-sm-3 form-group has-feedback">

										    <input type="text" class="form-control" placeholder="remarks" name="remarks" />
										</div>
                                    <div class="col-md-1 col-sm-1  form-group has-feedback">
											<label>Batch *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="depobatchno">
										</div>
										<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="depoexpdate" >
										</div>
                                       <div class="col-md-2 col-sm-2 form-group has-feedback">
											<label>Free Quantity *</label>
                                           <input type="text" class="form-control" placeholder="free quantity" name="freequantity" id="depofreequantity">
                                       </div>
                                       <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="depomanufacture" required>
										</div>-->

                                        <input class="form-control" id="depocpsno" name="depocpsno" type="hidden">
                                        <input class="form-control" id="depocases" name="depocases" type="hidden"/>
                                        <input class="form-control" id="depomrp" name="depomrp" type="hidden"/>

                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <button class="btn btn-primary" name="add" style="margin-top: 30px;"
                                                    type="submit">Add
                                            </button>
                                        </div>

                                    </form>
                                </div>

                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card-box table-responsive">
                                                <p class="text-muted font-13 m-b-30">
                                                </p>

                                                <table class="display  table-bordered" id="datatable-buttons"
                                                       style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>S No</th>
                                                        <th>Item Name</th>
                                                        <th>Qty(In Cases)</th>
                                                        <th>Expiry Date</th>
                                                        <!--<th>HSN</th>-->
                                                        <th>Batch</th>
                                                        <!--<th>MRP</th>-->
                                                        <th>Manufacture</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for all_data in depo_item_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ all_data.item_name }}</td>
                                                        <td> {{ all_data.quantity }}</td>
                                                        <td>{{ all_data.expiry_date }}</td>
                                                        <!--<td>{{ all_data.hsn }}</td>-->
                                                        <td>{{ all_data.batch_no }}</td>

                                                        <!--<td>{{ all_data.mrp }}</td>-->
                                                        <td>{{all_data.manufacturer}}</td>

                                                        <td>
                                                            <a class="btn btn-default btn-sm"
                                                               href="delete_stkdepo_item/{{ all_data.sno }}/"><i
                                                                    class="fa fa-trash"></i></a>
                                                            <span class="btn btn-default btn-sm"
                                                                  data-target="#edit_stk_item"
                                                                  data-toggle="modal"
                                                                  id="depoedit"
                                                                  onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}','{{ all_data.uom }}','{{ all_data.type }}','{{ all_data.noofbottles }}')"><i
                                                                    class="fa fa-edit"></i></span>

                                                        </td>
                                                    </tbody>
                                                    <tfoot>

                                                    </tfoot>
                                                    </tr>
                                                    {% endfor %}


                                                    <tbody>
                                                    </tbody>
                                                    <td colspan="9" style="color:#06911A">
                                                        <b> Invoice No: {{ taxinvoice }}</b>

                                                        <span style="float:right;"><span class="badge-warning"
                                                                                         data-target="#depocomplete"
                                                                                         data-toggle="modal"
                                                                                         onclick="VerifyClick('{{data.so_number}}')"
                                                                                         style="padding:  4px !important;">COMPLETE SALE</span></span>
                                                    </th>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                            <div aria-labelledby="bus-tab" class="tab-pane fade show  {{ bus }}" id="busstation"
                                 role="tabpanel">
                                <form action="busstation_add_stf" class="form-label-left input_mask"
                                      enctype="multipart/form-data"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="col-md-3 col-sm-4 form-group has-feedback">
                                        <select class="form-control items" id="busname" name="busname" required>
                                            <option value="">Bus Station</option>
                                            {% for data1 in buslist %}
                                            <option value="{{ data1.id }}">{{ data1.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input id="txBussearch" name="txtBussearch" type="hidden"/>
                                    <input id="busstation1" name="busstation1" type="hidden"
                                           value="{{ busstation_name}}"/>

                                    <div class="col-md-3 col-sm-4 form-group has-feedback">
                                        <button class="btn btn-primary store" name="search" type="submit">Sumbit
                                        </button>
                                    </div>
                                </form>

                                <div class="x_content" id="busitemsadd" style="display:none;">
                                    <form action="/busstation_item_add" class="form-label-left input_mask"
                                          enctype="multipart/form-data"
                                          method="POST">
                                        {% csrf_token %}

                                        <div class="col-md-4 col-sm-4 input-icons  form-group has-feedback">
                                            <input id="busitemname" name="busitemname" type="hidden"/>
                                            <label>Select item *</label><br>
                                            <select class="form-control select2" id="busitem_id" name="busitem_id"
                                                    required style="width:400px !important;">
                                                <option value="">Item details</option>
                                                {% for data1 in warehouseinventorylist %}
                                                <option value="{{ data1.itemcode }}">{{data1.itemname}}(Batch:
                                                   {{ data1.batchcode }},Expiry:{{data1.expirydate}},MRP:{{data1.mrp}})
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-2 input-icons  form-group has-feedback">

                                            <input id="typename2" name="typename2" type="hidden"/>
                                            <label>Select type</label>
                                            <select class="form-control items" id="typeid2" name="typeid2" required>
                                                <option value="">Type</option>
                                                {% for data1 in type %}
                                                <option value="{{ data1.type }}">{{ data1.type }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <input id="buscpsno" name="buscpsno" type="hidden"/>
                                        <input id="uom22" name="busuom" type="hidden"/>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <label>Qty(In cases)</label>
                                            <input class="form-control" id="busquantity" name="quantity"
                                                   placeholder="quantity" type="text">
                                        </div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <label>Qty(In bottles)</label>
                                            <input class="form-control" id="busbot" name="busnob" placeholder="bottles"
                                                   type="text">
                                        </div>
                                        <!--<div class="col-md-2 col-sm-2 form-group has-feedback">
                                             <label>Remarks</label>
                                           <input type="text" class="form-control" placeholder="remarks" name="remarks" id="remarksbus">
                                       </div>
										<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="busexpdate" >
										</div>

                                       <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="busmanufacture" required>
										</div>
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="cpsno" id="buscpsno"   required>
										</div>-->
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
                                            <button class="btn btn-primary" name="add" style="margin-top:30px;"
                                                    type="submit">Add
                                            </button>
                                        </div>

                                        <!-- <input type="hidden" id="store_id" name="store_id" />-->
                                    </form>
                                </div>
                                <div class="x_content" id="busitemslist" style="display:none;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card-box table-responsive">
                                                <p class="text-muted font-13 m-b-30">
                                                </p>

                                                <table class="display  table-bordered" id="busstock_datatable"
                                                       style="width:100%">
                                                    <thead>
                                                    <tr>
                                                        <th>S No</th>
                                                        <th>Item Name</th>
                                                        <th>Qty(In Cases)</th>
                                                        <th>Qty(In bottles)</th>
                                                        <th>Expiry Date</th>
                                                        <!--<th>HSN</th>-->
                                                        <th>Batch</th>
                                                        <!--<th>MRP</th>-->
                                                        <th>Manufacture</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for all_data in bus_item_list %}
                                                    <tr>
                                                        <td>{{ forloop.counter }}</td>
                                                        <td>{{ all_data.item_name }}</td>
                                                        <td> {{ all_data.quantity }}</td>
                                                        <td>{{ all_data.noofbottles }}</td>
                                                        <td>{{ all_data.expiry_date }}</td>
                                                        <!--<td>{{ all_data.hsn }}</td>-->
                                                        <td>{{ all_data.batch_no }}</td>

                                                        <!--<td>{{ all_data.mrp }}</td>-->
                                                        <td>{{all_data.manufacturer}}</td>

                                                        <td>
                                                            <a class="btn btn-default btn-sm"
                                                               href="delete_stkbus_item/{{ all_data.sno }}/"><i
                                                                    class="fa fa-trash"></i></a>
                                                            <span class="btn btn-default btn-sm"
                                                                  data-target="#edit_stk_item"
                                                                  data-toggle="modal"
                                                                  id="busedit"
                                                                  onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}','{{ all_data.uom }}','{{ all_data.type }}','{{ all_data.noofbottles }}')"><i
                                                                    class="fa fa-edit"></i></span>

                                                        </td>
                                                    </tbody>
                                                    <tfoot>

                                                    </tfoot>
                                                    </tr>
                                                    {% endfor %}


                                                    <tbody>
                                                    </tbody>
                                                    <td colspan="9" style="color:#06911A">
                                                        <b>Invoice No: {{ taxinvoice }}</b>
                                                        <span style="float:right;"><span class="badge-warning"
                                                                                         data-target="#buscomplete"
                                                                                         data-toggle="modal"
                                                                                         onclick="VerifyClick('{{data.so_number}}')"
                                                                                         style="padding:  4px !important;">COMPLETE SALE</span></span>
                                                    </th>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



<div class="modal custom-modal fade" id="complete" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h4 class="modal-title text-info" class="modal-title" id="myModalLabel1">Complete Transfer</h4>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="complete_whinv" id='wh' method="POST">
                    {% csrf_token %}
                    <input id="txtHdnId" name="txtHdnId" type="hidden"/>

                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                        <label for="remarks">Remarks</label>

                        <textarea class="form-control" id="remarks" name="remarks" placeholder="remarks"></textarea>
                        <p></p>
                    </div>
                    <div class="col-md-6 col-sm-6  offset-md-3">
                        <button class="btn btn-info" name="complete" type="submit">Complete</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="depocomplete" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h5 class="modal-title">Complete Transfer</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="complete_depoinv" method="POST">
                    {% csrf_token %}
                    <input id="id1" name="id1" type="hidden"/>

                    <!--<div class="col-md-12 col-sm-12  form-group has-feedback">
                <label for="remarks">Delivery date</label>
             <input type="date" class="form-control" name="date" id="date2"  placeholder="remarks" >
         </div>-->
                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                        <label for="remarks">Remarks</label>
                        <textarea class="form-control" id="remarks2" name="remarks" placeholder="remarks"></textarea>
                    </div>
                    <div class="col-md-6 col-sm-6  offset-md-3">
                        <button class="btn btn-info" name="complete" type="submit">Complete</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal custom-modal fade" id="buscomplete" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content style">
            <div class="modal-header">
                <h5 class="modal-title">Complete Transfer</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="complete_businv" method="POST">
                    {% csrf_token %}
                    <input id="id" name="id" type="hidden"/>


                    <!--<div class="col-md-12 col-sm-12  form-group has-feedback">
                <label for="remarks">Delivery date</label>
             <input type="date" class="form-control" name="date" id="date3"  placeholder="remarks" >
         </div>-->
                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                        <label for="remarks">Remarks</label>
                        <textarea class="form-control" id="remarks3" name="remarks" placeholder="remarks"></textarea>
                    </div>
                    <div class="col-md-6 col-sm-6  offset-md-3">
                        <button class="btn btn-info" name="complete" type="submit">Complete</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div aria-hidden="true" class="modal custom-modal fade" id="edit_stk_item" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content style">
            <div class="modal-header">
                <h3 style="text-align:center;">Edit Transfer Item</h3>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="/edit_stk_item" id="myForm" method="post">
                    {% csrf_token %}

                    <div class="col-md-12 col-sm-12  form-group has-feedback">
                        <label>Item Name </label>
                        <input class="form-control" id="item" name="item" readonly type="text">
                    </div>
                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <label>Qty(In Cases)</label>
                        <input class="form-control" id="qty" name="qty" type="text">
                    </div>
                    <div class="col-md-6 col-sm-6 form-group has-feedback">
                        <label>Qty(In Bottles)</label>
                        <input class="form-control" id="nob1" name="nob1" type="text">
                    </div>

                    <input id="cases" name="cases" type="hidden"/>

                    <input id="busuom" name="busuom" type="hidden"/>
                    <input id="typebus" name="typebus" type="hidden"/>
                    <input id="sno" name="sno" type="hidden"/>
                    <p></p>
                    <div class="col-md-6 col-sm-6  offset-md-4">
                        <button class="btn btn-primary" style="margin-bottom: 20px;" type="submit">Update</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


<script>
window.onload=function(){
DisplayItems();
}

function DisplayItems(){
var actionname=document.location.href.match(/[^\/]+$/)[0];
if(actionname=="wh_add_stf")
{
$("#divItems").css("display","block");
}
if(actionname=="wh_item_add")
{
$("#divItemsAdd").css("display","block");
}
if(actionname=="wh_item_list")
{
$("#divItemsAdd").css("display","block");
$("#divItems").css("display","block");
}
}

$("#whid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#busname").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#txBussearch").val(selectedOptionText);
});
$("#txtDepoId").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#txtdeposearch").val(selectedOptionText);
});

 $(document).ready(function () {
            $('#itemid').change(function() {
                    $("#busitem_id").select2();
                     var selectedOptionText = $(this).find(":selected").text();
                     $("#itemname").val(selectedOptionText);
                    var searchterm = $("#itemname").val();
                    $.ajax({
                      data: {"searchterm":searchterm,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_wh_item' %}",
                      type: 'POST',
                      success: function(data){
                        var obj = data.data.warehouseinventorylist
                        console.log("obj");
                         console.log(obj);
                        if(obj.length>0){
                            $("#freequantity").val(obj[0].freeqty);
                            $("#expdate").val(obj[0].expirydate);
                            $("#batchno").val(obj[0].batchcode);
                            $("#cpsno").val(obj[0].cp_sno);
                            $("#uom").val(obj[0].uom);
                        }
                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
            })
  })
$('#quantity').on('input', function()  {
            $("#nob").val(" ");
    	    val  = $("#quantity").val();
            val1 = $("#uom").val();
            val2 =    (val * val1)
            $("#nob").val(val2);
        });
 $('#nob').on('input', function()  {
            $("#quantity").val(" ");
    	    val  = $("#nob").val();
            val1 = $("#uom").val();
            val2 =    (val / val1)
            if (Number.isInteger(val2)) {
                    val2 = val2.toFixed(0); // For integers, remove decimal places
            } else {
                    val2 = val2.toFixed(2); // For decimal values, keep two decimal places
            }
            $("#quantity").val(val2);
 });

  $(document).ready(function () {
        // Initialize Select2
        $("#busitem_id").select2();
        // Handle change event for #busitem_id
        $('#busitem_id').on('change', function () {
            var selectedOptionText = $(this).find(":selected").text();
            $("#busitemname").val(selectedOptionText);
            // Perform AJAX request
            var searchterm = selectedOptionText;
            $.ajax({
                data: {
                    "searchterm": searchterm,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                url: "{% url 'get_busstation_item' %}",
                type: 'POST',
                success: function (data) {
                    var obj = data.data.warehouseinventorylist;
                    console.log(obj);
                    if (obj.length > 0) {
                        $("#buscpsno").val(obj[0].cp_sno);
                        $("#busuom").val(obj[0].uom);
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
    });
    $('#busquantity').on('input', function()  {
            $("#busbot").val(" ");
    	    val  = $("#busquantity").val();
            val1 = $("#busuom").val();
            val2 =    (val * val1)
            $("#busbot").val(val2);

         });
         $('#busbot').on('input', function() {
                $("#busquantity").val(" ");
                val = parseFloat($("#busbot").val()); // Convert to a float to handle decimals
                val1 = $("#busuom").val();
                val2 = val / val1;

                if (Number.isInteger(val2)) {
                    val2 = val2.toFixed(0); // For integers, remove decimal places
                } else {
                    val2 = val2.toFixed(2); // For decimal values, keep two decimal places
                }

                $("#busquantity").val(val2);
         });

 $(document).ready(function () {
          $('#depo_id').change(function() {
          $('#depo_id').select2();
                    var selectedOptionText = $(this).find(":selected").text();
                    $("#depoitemname").val(selectedOptionText);
                    var searchterm = $("#depoitemname").val();
                    $.ajax({
                      data: {"searchterm":searchterm,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_depo_item' %}",
                      type: 'POST',
                      success: function(data){
                        var obj = data.data.warehouseinventorylist
                        console.log("obj");
                         console.log(obj);
                        if(obj.length>0){
                             $("#depocpsno").val(obj[0].cp_sno);
                             $("#depocases").val(obj[0].uom);
                        }
                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
 })
 })

$('#depoquantity').on('input', function()  {
            $("#deponob").val(" ");
    	    val  = $("#depoquantity").val();
            val1 = $("#depocases").val();
            val2 =    (val * val1)
            $("#deponob").val(val2);
         });
  $(document).ready(function(){
  var optionValue = $("#warehouseid").val();
  $("#whid").find("option[value='" + optionValue + "']").prop("selected", true);
})
function VerifyClick(id,id1,id2,id3,id4,id5){
$("#qty").val(id);
$("#sno").val(id1);
$("#item").val(id2);
$("#uom22").val(id3);
$("#nob1").val(id5);
$("#typebus").val(id4);
      if (id4 === "Bottles") {
        $("#qty").prop("readonly", true);
        $("#nob1").prop("readonly", false);
      } else if (id4 === "Cases") {
        $("#qty").prop("readonly", false);
        $("#nob1").prop("readonly", true);
      }
}


$('#qty').on('input', function()  {
    	    val  = $("#qty").val();
            val1 = $("#uom22").val();
            val2 =    (val * val1)
            $("#nob1").val(val2);
    });
 $('#nob1').on('input', function() {
                $("#qty").val(" ");
                val = parseFloat($("#nob1").val()); // Convert to a float to handle decimals
                val1 = $("#uom22").val();
                val2 = val / val1;
                if (Number.isInteger(val2)) {
                    val2 = val2.toFixed(0); // For integers, remove decimal places
                } else {
                    val2 = val2.toFixed(2); // For decimal values, keep two decimal places
                }
                $("#qty").val(val2);
         });

$(document).ready(function(){
  var optionValue = $("#busstation1").val();
  $("#busname").find("option[value='" + optionValue + "']").prop("selected", true);
})/
$('#busedit').click(function(){
      $('#myForm').attr('action', '{% url "edit_stkbus_item" %}'); // set the new action URL
// submit the form
    });
   $('#depoedit').click(function(){
      $('#myForm').attr('action', '{% url "edit_stkdepo_item" %}'); // set the new action URL
// submit the form
    });
 $(window).on("load", function() {
  var optionValue1 = $("#txtdeposearch1").val();
  $("#txtDepoId").find("option[value='" + optionValue1 + "']").prop("selected", true);
});

    $(document).ready(function() {

        $("#busstock_datatable").DataTable({
                dom: "Blfrtip",
                "bDestroy": true,
                buttons: [
                    {
                        extend: "copy",
                        className: "btn-sm"
                    },
                    {
                        extend: "csv",
                        className: "btn-sm"
                    },
                    {
                        extend: "excel",
                        className: "btn-sm"
                    },
                    {
                        extend: "pdfHtml5",
                        className: "btn-sm"
                    },
                    {
                        extend: "print",
                        className: "btn-sm"
                    },
                ],
                responsive: true
        });
    });

 $(document).ready(function() {
    $("#typeid2").on("change", function() {
      var selectedOption = $(this).val();
      if (selectedOption === "Bottles") {
        $("#busquantity").prop("readonly", true);
        $("#busbot").prop("readonly", false);
      } else if (selectedOption === "Cases") {
        $("#busquantity").prop("readonly", false);
        $("#busbot").prop("readonly", true);
      }
    });
  });
$(document).ready(function() {
    $("#typeid").on("change", function() {
      var selectedOption = $(this).val();
      if (selectedOption === "Bottles") {
        $("#quantity").prop("readonly", true);
        $("#nob").prop("readonly", false);
      } else if (selectedOption === "Cases") {
        $("#quantity").prop("readonly", false);
        $("#nob").prop("readonly", true);
      }
    });
});

$(document).ready(function() {
    $("#typeid1").on("change", function() {
      var selectedOption = $(this).val();
      if (selectedOption === "Bottles") {
        $("#depoquantity").prop("readonly", true);
        $("#deponob").prop("readonly", false);
      } else if (selectedOption === "Cases") {
        $("#depoquantity").prop("readonly", false);
        $("#deponob").prop("readonly", true);
      }
    });
});




</script>
{% endblock %}
