

{% extends 'base.html' %}

{% block htmlbody %}
<style>
    .style{
	position: absolute !important;
	width: 70% !important;
	}
</style>

<div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h4>Stock Transfer</h4>
              </div>

              <div class="title_right">
                <div class="col-md-6 col-sm-7 offset-md-9">
                </div>
             </div>
            </div>
              <div class="">
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_content">
  <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
                        {% for item in data %}
                            {% if item.stock == 'Warehouse' %}
                        <li class="nav-item">
                        <a class="nav-link" id="wh-tab" data-toggle="tab" href="#wh_add" role="tab" aria-controls="home" aria-selected="true">{{ item.stock }}</a>
                      </li>
                         {% elif item.stock == 'Depo' %}
                     <li class="nav-item">
                        <a class="nav-link" id="depo-tab" data-toggle="tab" href="#depo" role="tab" aria-controls="profile" aria-selected="false">{{ item.stock }}</a>
                      </li>
                         {% elif item.stock == 'Bus station' %}
                         <li class="nav-item">
                          <a class="nav-link" id="bus-tab" data-toggle="tab" href="#busstation" role="tab" aria-controls="uom" aria-selected="false">{{ item.stock }}</a>
                      </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                       <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show {{ wh }}" id="wh_add" role="tabpanel" aria-labelledby="wh-tab">
                            <form class="form-label-left input_mask"  method="POST" action="wh_add_stf"   enctype="multipart/form-data">
										{% csrf_token %}
                                                <div class="col-md-3 col-sm-4 form-group has-feedback" id="warehousename_group">
											<input  type="text" class="form-control"  name="warehousename" id="warehousename"  value="{{ warehouselist.name }}"  readonly/>
                                                	<input type="hidden" name="warehouseid" id="warehouseid" value="{{ warehouselist.id  }}" />
                                               </div>

                                        <div class="col-md-3 col-sm-4 form-group has-feedback">
                                               <button type="submit"  class="btn btn-primary store">Submit</button>
                                            </div>

                            </form>
                     <div class="x_content">
                                   <form class="form-label-left input_mask"  method="POST" action="wh_item_add"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-3 col-sm-3 input-icons  form-group has-feedback">
                                            <input type="hidden" name="itemname" id="itemname" />
                                                                            <label>Select Item name</label>
												<select class="form-control" name="itemid" id="itemid" required>
                                                    <option value="">Items</option>
													{% for data1 in warehouseinventorylist %}
                            							<option value="{{ data1.itemcode }}">{{ data1.itemname }}</option>
                                                    {% endfor %}
												</select>
										</div>
                                       <div class="col-md-2 col-sm-2 input-icons  form-group has-feedback">
                                            <input type="hidden" name="typename" id="typename" />
                                                                            <label>Type</label>
												<select class="form-control" name="typename" id="typeid" required>
													{% for data1 in warehouseinventorylist %}
                            							<option value="{{ data1.itemcode }}">{{ data1.itemname }}</option>
                                                    {% endfor %}
												</select>
										</div>
                                        <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                                    <label>Qty(In Cases) </label>
										    <input type="text" class="form-control" placeholder="cases" name="quantity" id="quantity">
										</div>
                                        <div class="col-md-1 col-sm-1 form-group has-feedback">
                                                                     <label>Qty(In bottles)</label>
										    <input type="text" class="form-control" placeholder="bottles" name="nob" id="nob" readonly>
										</div>
                                        <div class="col-md-2 col-sm-3 form-group has-feedback">
                                                         <label>Remarks *</label>
										    <input type="text" class="form-control" placeholder="remarks" name="remarks" />
										</div>
                                        <!--<div class="col-md-1 col-sm-1  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="batchno">
										</div>
										<div class="col-md-2 col-sm-2  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="expdate" >
										</div>
                                       <div class="col-md-2 col-sm-2 form-group has-feedback">
                                           <input type="text" class="form-control" placeholder="free quantity" name="freequantity" id="freequantity">
                                       </div>-->
                                       <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="manufacture" value="{{ data.manufacture }}"required>
										</div>
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="cpsno" id="cpsno"  required>
										</div>
                                       <div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit" name="add" style="margin-top: -23px;" class="btn btn-primary">Add</button>
                                       </div>
                                       <input type="hidden" class="form-control" name="uom" id="uom" />
                                       <input type="hidden" class="form-control" name="mrp" id="mrp" />

                                       <input type="hidden" id="store_id" name="store_id" />
                                   </form>
                     </form>
                     </div>
                                <div class="x_content">
                  <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                        <table id="datatable" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                    <th>ExpDate</th>
                                    <!--<th>HSN</th>-->
                                    <th>Batch</th>
                                    <th>MRP</th>
                                    <th>Manufacture</th>
                                    <th>Action</th>

                        </tr>
                      </thead>
                            <tbody>
                            {% for all_data in wh_item_list %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                       <td>{{  all_data.expiry_date }}</td>
                        <!--<td>{{ all_data.hsn }}</td>-->
                       <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.mrp }}</td>
                           <td>{{all_data.manufacturer}}</td>

                       <td>
                           <a href="delete_stk_item/{{ all_data.sno }}/" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></a>
                           <span  data-toggle="modal"   onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}')"   data-target="#edit_stk_item"  class="btn btn-default btn-sm"><i class="fa fa-edit"></i></span>

                       </td>
                            </tbody>
                           <tfoot>

                           </tfoot>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                            <td colspan="9" style="color:#06911A" >
                                   <b>Invoice No: {{ taxinvoice }}</b>

     <span style="float:right;"><span   class="badge-warning"  style="padding:  4px !important;"    data-toggle="modal"  onclick="VerifyClick('{{data.so_number}}')" data-target="#complete">COMPLETE SALE</span></span>
                               </th>
                          </tr>
                           </tfoot>
                      </table>

                              </div>
                          </div>
                </div>
                </div>
                      </div>

                           <div class="tab-pane fade show {{ depo }}" id="depo" role="tabpanel" aria-labelledby="depo-tab">
                               <form class="form-label-left input_mask"  method="POST" action="depo_add_stf"   enctype="multipart/form-data">
										{% csrf_token %}
                                               <div class="col-md-3 col-sm-4 form-group has-feedback">
                                                   <input type="hidden" id="txtdeposearch1" name="txtdeposearch1"  value="{{ txtDepoId }}"/>
                                                               <select class="form-control" name="txtDepoId" id="txtDepoId" required>
                                                    <option value="">Depot</option>
													{% for data1 in depolist %}
                            							<option value="{{ data1.id }}">{{ data1.name }}</option>
                                                    {% endfor %}
												</select>
                                              <input type="hidden" id="txtdeposearch" name="txtdeposearch"  />

                                         </div>
                                             <div class="col-md-3 col-sm-4 form-group has-feedback">
                                               <button type="submit" name="search" class="btn btn-primary store">Submit</button>
                                            </div>
                            </form>
                     <div class="x_content">
                                   <form class="form-label-left input_mask"  method="POST" action="depo_item_add"   enctype="multipart/form-data">
										{% csrf_token %}


                                                <div class="col-md-3 col-sm-3 input-icons  form-group has-feedback">
                                            <input type="hidden" name="depoitemname" id="depoitemname" />
												<select class="form-control" name="depo_id" id="depo_id" >
                                                    <option value="">Items</option>
													{% for data1 in items %}
                            							<option value="{{ data1.itemcode }}">{{ data1.itemname }}</option>
                                                    {% endfor %}
												</select>
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">

										    <input type="text" class="form-control" placeholder="quantity" name="quantity" id="depoquantity">
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">

										    <input type="text" class="form-control" placeholder="no of bottles" name="deponob" id="deponob" readonly>
										</div>
                                        <!--<div class="col-md-1 col-sm-2  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="price" name="depoprice" id="depoprice">
										</div>-->
                                         <div class="col-md-2 col-sm-3 form-group has-feedback">

										    <input type="text" class="form-control" placeholder="remarks" name="remarks" />
										</div>
                                        <!--<div class="col-md-1 col-sm-1  form-group has-feedback">
											<label>Batch *</label>
										    <input type="text" class="form-control" placeholder="batch no" name="batchno" id="depobatchno">
										</div>
										<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="depoexpdate" >
										</div>
                                       <div class="col-md-2 col-sm-2 form-group has-feedback">
											<label>Free Quantity *</label>
                                           <input type="text" class="form-control" placeholder="free quantity" name="freequantity" id="depofreequantity">
                                       </div>
                                       <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="depomanufacture" required>
										</div>-->

										    <input type="hidden" class="form-control" name="depocpsno" id="depocpsno"  >
                                             <input type="hidden" class="form-control" name="depocases" id="depocases" />
                                       <input type="hidden" class="form-control" name="depomrp" id="depomrp" />

                                       <div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit" name="add" style="margin-top: 5px;" class="btn btn-primary">Add</button>
                                       </div>

                                   </form>
                     </div>

                                <div class="x_content">
                  <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                    <th>ExpDate</th>
                                    <!--<th>HSN</th>-->
                                    <th>Batch</th>
                                    <th>MRP</th>
                                    <th>Manufacture</th>
                                    <th>Action</th>

                        </tr>
                      </thead>
                            <tbody>
                            {% for all_data in depo_item_list %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                       <td>{{  all_data.expiry_date }}</td>
                        <!--<td>{{ all_data.hsn }}</td>-->
                       <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.mrp }}</td>
                           <td>{{all_data.manufacturer}}</td>

                       <td>
                           <a href="delete_stkdepo_item/{{ all_data.sno }}/" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></a>
                           <span  data-toggle="modal" id="depoedit"  onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}','{{ all_data.uom }}')"   data-target="#edit_stk_item"  class="btn btn-default btn-sm"><i class="fa fa-edit"></i></span>

                       </td>
                            </tbody>
                           <tfoot>

                           </tfoot>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                            <td colspan="9" style="color:#06911A" >
                                  <b> Invoice No: {{ taxinvoice }}</b>

     <span style="float:right;"><span   class="badge-warning"  style="padding:  4px !important;"    data-toggle="modal"  onclick="VerifyClick('{{data.so_number}}')" data-target="#depocomplete">COMPLETE SALE</span></span>
                               </th>
                          </tr>
                           </tfoot>
                      </table>
  </div>
                          </div>


                </div>
                </div>
                      </div>


                              <div class="tab-pane fade show  {{ bus }}" id="busstation" role="tabpanel" aria-labelledby="bus-tab">
                                     <form class="form-label-left input_mask"  method="POST" action="busstation_add_stf"   enctype="multipart/form-data">
										{% csrf_token %}
                                               <div class="col-md-3 col-sm-4 form-group has-feedback">
                                                        <select class="form-control" name="busname" id="busname">
                                                    <option value="">Bus Station</option>
													{% for data1 in buslist %}
                            							<option value="{{ data1.id }}">{{ data1.name }}</option>
                                                    {% endfor %}
												</select>
												</div>
                                              <input type="hidden" id="txBussearch" name="txtBussearch"  />
                                          <input type="hidden" name="busstation1" id="busstation1"  value="{{ busstation_name}}"/>

                                             <div class="col-md-3 col-sm-4 form-group has-feedback">
                                               <button type="submit" name="search" class="btn btn-primary store">Sumbit</button>
                                            </div>
                            </form>

                     <div class="x_content">
                                   <form class="form-label-left input_mask"  method="POST" action="busstation_item_add"   enctype="multipart/form-data">
										{% csrf_token %}

										<div class="col-md-3 col-sm-4 input-icons  form-group has-feedback">

                                            <input type="hidden" id="busitemname" name="busitemname" />
                                            	<select class="form-control" name="busitem_id" id="busitem_id" >
                                                    <option value="">Items</option>
													{% for data1 in warehouseinventorylist %}
                            							<option value="{{ data1.itemcode }}">{{ data1.itemname }}</option>
                                                    {% endfor %}
												</select>
										</div>
                                        <input type="hidden" id="buscpsno" name="buscpsno" />
                                       <input type="hidden" id="busuom" name="busuom" />
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="quantity" name="quantity" id="busquantity">
										</div>
                                        <div class="col-md-2 col-sm-2  form-group has-feedback">
										    <input type="text" class="form-control" placeholder="no of bottles" name="busnob" id="busnob" readonly>
										</div>
                                        <div class="col-md-2 col-sm-2 form-group has-feedback">
                                           <input type="text" class="form-control" placeholder="remarks" name="freequantity" id="busfreequantity">
                                       </div>
										<!--<div class="col-md-2 col-sm-2  form-group has-feedback">
											<label>Expiry Date *</label>
										    <input type="text" class="form-control" placeholder="expiry date" name="expdate" id="busexpdate" >
										</div>

                                       <div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="manufacture"  id="busmanufacture" required>
										</div>
										<div class="col-md-2 col-sm-3  form-group has-feedback">
										    <input type="hidden" class="form-control" name="cpsno" id="buscpsno"   required>
										</div>-->
                                       <div class="col-md-2 col-sm-2  form-group has-feedback">
                                           <button type="submit" name="add"  class="btn btn-primary">Add</button>
                                       </div>

                                      <!-- <input type="hidden" id="store_id" name="store_id" />-->
                                   </form>
                     
                                <div class="x_content">
                  <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <p class="text-muted font-13 m-b-30">
                    </p>

                        <table id="datatable-buttons" class="display  table-bordered" style="width:100%">
                      <thead>
                        <tr>
                                    <th>S No</th>
                                    <th>Item Name</th>
                                    <th>Qty(In Cases)</th>
                                    <th>ExpDate</th>
                                    <th>HSN</th>
                                    <th>Batch</th>
                                    <th>MRP</th>
                                    <th>Manufacture</th>
                                    <th>Action</th>

                        </tr>
                      </thead>
                            <tbody>
                            {% for all_data in bus_item_list %}
                       <tr>
                           <td>{{ forloop.counter }}</td>
                      <td>{{ all_data.item_name }}</td>
                       <td> {{ all_data.quantity }} </td>
                       <td>{{  all_data.expiry_date }}</td>
                        <td>{{ all_data.hsn }}</td>
                       <td>{{ all_data.batch_no }}</td>
                       <td>{{ all_data.mrp }}</td>
                           <td>{{all_data.manufacturer}}</td>

                       <td>
                           <a href="delete_stkbus_item/{{ all_data.sno }}/" class="btn btn-default btn-sm"><i class="fa fa-trash"></i></a>
                           <span  data-toggle="modal" id="busedit"  onclick="VerifyClick('{{ all_data.quantity }}','{{ all_data.sno }}','{{ all_data.item_name }}')"   data-target="#edit_stk_item"  class="btn btn-default btn-sm"><i class="fa fa-edit"></i></span>

                       </td>
                            </tbody>
                           <tfoot>

                           </tfoot>
                      </tr>
                      {% endfor %}


                      <tbody>
                      </tbody>
                            <td colspan="9" style="color:#06911A" >
                                <b>Invoice No: {{ taxinvoice }}</b>
     <span style="float:right;"><span   class="badge-warning"  style="padding:  4px !important;"    data-toggle="modal"  onclick="VerifyClick('{{data.so_number}}')" data-target="#buscomplete">COMPLETE SALE</span></span>
                               </th>
                          </tr>
                           </tfoot>
                      </table>

                            </div>
                          </div>
                </div>
                </div>
                      </div>

</div>
                  </div>
 <div class="modal custom-modal fade" id="complete" role="dialog">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content style">
             <div class="modal-header">
                             <h4 class="modal-title text-info" id="myModalLabel1"  class="modal-title">Complete Transfer</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
							<div class="modal-body">
                                             <form id='wh' method="POST" action="complete_whinv">
                                                    {% csrf_token %}
                                                          <input type="hidden" id="txtHdnId" name="txtHdnId"  />


                                                 <!--<div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Delivery date</label>
										        <input type="date" class="form-control" name="date" id="date"  placeholder="remarks" >
										    </div>-->
                                                  <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Remarks</label>

										      <textarea class="form-control" name="remarks" id="remarks"  placeholder="remarks" ></textarea>
                                                      <p></p>
										    </div>
                                                  <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <button type="submit" name="complete" class="btn btn-info">Complete</button>
                                            </div>
  </form>
                                        </div>

                                        </div>
                                    </div>
                                </div>
<div class="modal custom-modal fade" id="depocomplete" role="dialog">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content style">
             <div class="modal-header">
                             <h5 class="modal-title">Complete Transfer</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
							<div class="modal-body">
                                             <form method="POST" action="complete_depoinv">
                                                    {% csrf_token %}
                                                          <input type="hidden" id="id1" name="id1"  />

                                                 	  <!--<div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Delivery date</label>
										        <input type="date" class="form-control" name="date" id="date2"  placeholder="remarks" >
										    </div>-->
                                                  <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Remarks</label>
										      <textarea class="form-control" name="remarks" id="remarks2"  placeholder="remarks" ></textarea>
										    </div>
                                                  <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <button type="submit" name="complete" class="btn btn-info">Complete</button>
                                            </div>
  </form>
                                        </div>

                                        </div>
                                    </div>
                                </div>

<div class="modal custom-modal fade" id="buscomplete" role="dialog">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content style">
             <div class="modal-header">
                             <h5 class="modal-title">Complete Transfer</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
							<div class="modal-body">
                                             <form method="POST" action="complete_businv">
                                                    {% csrf_token %}
                                                          <input type="hidden" id="id" name="id"  />


                                                 	  <!--<div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Delivery date</label>
										        <input type="date" class="form-control" name="date" id="date3"  placeholder="remarks" >
										    </div>-->
                                                  <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                   <label for="remarks">Remarks</label>
										      <textarea class="form-control" name="remarks" id="remarks3"  placeholder="remarks" ></textarea>
										    </div>
                                                  <div class="col-md-6 col-sm-6  offset-md-3">
                                                  <button type="submit" name="complete" class="btn btn-info">Complete</button>
                                            </div>
  </form>
                                        </div>

                                        </div>
                                    </div>
                                </div>

<div class="modal custom-modal fade"  id="edit_stk_item" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content style">
                                                  <div class="modal-header">
                              <h4 class="modal-title text-info" id="myModalLabel2" style="text-align:center;">Edit Transfer Item</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
                                </div>
                                        <div class="modal-body">
                                             <form id="myForm" method="post" action="/edit_stk_item">
                                                    {% csrf_token %}
                                            <input type="hidden" id="uom" name="uom"  />

                                                   <input type="hidden" id="sno" name="sno"  />
                                                   <div class="col-md-12 col-sm-12  form-group has-feedback">
                                                         <label>Item Name </label>
										            <input type="text" class="form-control"  name="item" id="item" readonly>
                                            </div>
                                            <div class="col-md-12 col-sm-12 form-group has-feedback">
                                                        <label>Quantity (In Cases)</label>
										            <input type="text" class="form-control"  name="qty" id="qty">
                                            </div>
                                             <div class="col-md-12 col-sm-12 form-group has-feedback">
                                                        <label>Quantity (In Bottles)</label>
										            <input type="text" class="form-control"  name="nob" id="nob1">
                                            </div>

                                                <input type="hidden" name="cases" id="cases" />

                                            <div class="col-md-6 col-sm-6  offset-md-4">
                                                  <button type="submit" class="btn btn-info">Update</button>
                                            </div>
                                             </form>
                                        </div>


                                        </div>
                                    </div>
                                </div>


<script>
$("#whid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#warehousename").val(selectedOptionText);
});
$("#busname").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#txBussearch").val(selectedOptionText);
});
$("#txtDepoId").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#txtdeposearch").val(selectedOptionText);
});

$("#itemid").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#itemname").val(selectedOptionText);
});
$("#busitem_id").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#busitemname").val(selectedOptionText);
});
$("#depo_id").change(function() {
  var selectedOptionText = $(this).find(":selected").text();
  $("#depoitemname").val(selectedOptionText);
});
 $('#itemid').change(function() {
                    var searchterm = $("#itemname").val();
                    $.ajax({
                      data: {"searchterm":searchterm,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_wh_item' %}",
                      type: 'POST',
                      success: function(data){
                        var obj = data.data.warehouseinventorylist
                        console.log("obj");
                         console.log(obj);
                        if(obj.length>0){
                            $("#freequantity").val(obj[0].freeqty);
                            $("#expdate").val(obj[0].expirydate);
                            $("#batchno").val(obj[0].batchcode);
                             $("#cpsno").val(obj[0].cp_sno);
                             $("#uom").val(obj[0].uom);
                        }
                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
 })
$('#quantity').on('input', function()  {
            $("#nob").val(" ");
    	    val  = $("#quantity").val();
            val1 = $("#uom").val();
            val2 =    (val * val1)
            $("#nob").val(val2);
         });
   $('#busitem_id').change(function() {
                    var searchterm = $("#busitemname").val();
                    $.ajax({
                      data: {"searchterm":searchterm,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_busstation_item' %}",
                      type: 'POST',
                      success: function(data){
                        var obj = data.data.warehouseinventorylist
                        console.log("obj");
                         console.log(obj);
                        if(obj.length>0){
                             $("#buscpsno").val(obj[0].cp_sno);
                             $("#busuom").val(obj[0].uom);
                        }
                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
 })
$('#busquantity').on('input', function()  {
            $("#nob").val(" ");
    	    val  = $("#busquantity").val();
            val1 = $("#busuom").val();
            val2 =    (val * val1)
            $("#busnob").val(val2);


         });
          $('#depo_id').change(function() {
                    var searchterm = $("#depoitemname").val();
                    $.ajax({
                      data: {"searchterm":searchterm,'csrfmiddlewaretoken': '{{ csrf_token }}',},
                      url: "{% url 'get_depo_item' %}",
                      type: 'POST',
                      success: function(data){
                        var obj = data.data.warehouseinventorylist
                        console.log("obj");
                         console.log(obj);
                        if(obj.length>0){
                             $("#depocpsno").val(obj[0].cp_sno);
                             $("#depocases").val(obj[0].uom);
                        }
                      },
                      errors: function(e) {
                      alert(e);
                      }
                    })
 })
$('#depoquantity').on('input', function()  {
            $("#nob").val(" ");
    	    val  = $("#depoquantity").val();
            val1 = $("#depocases").val();
            val2 =    (val * val1)
            $("#deponob").val(val2);
         });
  $(document).ready(function(){
  var optionValue = $("#warehouseid").val();
  $("#whid").find("option[value='" + optionValue + "']").prop("selected", true);
})
function VerifyClick(id,id1,id2,id3){
$("#qty").val(id);
$("#sno").val(id1);
$("#item").val(id2);
$("#uom").val(id3);
 val  = $("#qty").val();
  val1 = $("#uom").val();
            val2 =    (val * val1)
            $("#nob1").val(val2);

}
$('#qty').on('input', function()  {
    	    val  = $("#qty").val();
            val1 = $("#uom").val();
            val2 =    (val * val1)
            $("#nob1").val(val2);
    });
$(document).ready(function(){
  var optionValue = $("#busstation1").val();
  $("#busname").find("option[value='" + optionValue + "']").prop("selected", true);
})
$('#busedit').click(function(){
      $('#myForm').attr('action', '{% url "edit_stkbus_item" %}'); // set the new action URL
// submit the form
    });
   $('#depoedit').click(function(){
      $('#myForm').attr('action', '{% url "edit_stkdepo_item" %}'); // set the new action URL
// submit the form
    });
 $(window).on("load", function() {
  var optionValue1 = $("#txtdeposearch1").val();
  $("#txtDepoId").find("option[value='" + optionValue1 + "']").prop("selected", true);
});

</script>
{% endblock %}
